RCM CRH Fault Reporting App/schemas/AECMA3-0/sgml_dtd/dtd/wrngdata.dtd

<!ENTITY % ISOENTS PUBLIC "-//S1000D//ENTITIES ISO Entity Definitions 20030531//EN">
%ISOENTS;

<!ENTITY % NOTATIONS PUBLIC "-//S1000D//ENTITIES NOTATION Definitions 20070228//EN">
%NOTATIONS;


<!ELEMENT dmodule - - (idstatus, content)>
<!ATTLIST dmodule
	id	ID	#IMPLIED
>

<!ELEMENT idstatus - - (dmaddres, status)>

<!ELEMENT dmaddres - - (dmcextension?, dmc, dmtitle, issno, issdate, language?)>

<!ELEMENT dmcextension - - (dmeproducer, dmecode)>

<!ELEMENT dmeproducer - - (#PCDATA)>

<!ELEMENT dmecode - - (#PCDATA)>

<!ELEMENT dmc - - (age | avee)>

<!ELEMENT age - - (modelic, supeqvc, ecscs, eidc, cidc, discode, discodev, incode, incodev, itemloc)>

<!ELEMENT modelic - - (#PCDATA)>

<!ELEMENT supeqvc - - (#PCDATA)>

<!ELEMENT ecscs - - (#PCDATA)>

<!ELEMENT eidc - - (#PCDATA)>

<!ELEMENT cidc - - (#PCDATA)>

<!ELEMENT discode - - (#PCDATA)>

<!ELEMENT discodev - - (#PCDATA)>

<!ELEMENT incode - - (#PCDATA)>

<!ELEMENT incodev - - (#PCDATA)>

<!ELEMENT itemloc - - (#PCDATA)>

<!ELEMENT avee - - (modelic, sdc, chapnum, section, subsect, subject, discode, discodev, incode, incodev, itemloc)>

<!ELEMENT sdc - - (#PCDATA)>

<!ELEMENT chapnum - - (#PCDATA)>

<!ELEMENT section - - (#PCDATA)>

<!ELEMENT subsect - - (#PCDATA)>

<!ELEMENT subject - - (#PCDATA)>

<!ELEMENT dmtitle - - (techname, infoname?)>

<!ELEMENT techname - - (#PCDATA)>

<!ELEMENT infoname - - (#PCDATA)>

<!ELEMENT issno - O EMPTY>
<!ATTLIST issno
	issno	NUMBER	#REQUIRED
	inwork	NUMBER	#IMPLIED
	type	(new | changed | deleted | revised | status | rinstate-changed | rinstate-revised | rinstate-status)	"new"
>

<!ELEMENT issdate - O EMPTY>
<!ATTLIST issdate
	year	NUMBER	#REQUIRED
	month	NUMBER	#REQUIRED
	day	NUMBER	#REQUIRED
>

<!ELEMENT language - O EMPTY>
<!ATTLIST language
	language	CDATA	#REQUIRED
	country	CDATA	#IMPLIED
>

<!ELEMENT status - - (srcdmaddres?, security, datarest*, dmsize?, rpc, orig, actref?, applic, inlineapplics?, techstd?, brexref, qa+, ((sbc | fic | ein)*), skill?, rfu*, remarks*)>
<!ATTLIST status
	id	ID	#IMPLIED
>

<!ELEMENT srcdmaddres - - (dmcextension?, dmc, dmtitle, issno, issdate, language?)>

<!ELEMENT security - O EMPTY>
<!ATTLIST security
	class	(01 | 02 | 03 | 04 | 05 | 06 | 07 | 08 | 09 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 50 | 51 | 52 | 53 | 54 | 55 | 56 | 57 | 58 | 59 | 60 | 61 | 62 | 63 | 64 | 65 | 66 | 67 | 68 | 69 | 70 | 71 | 72 | 73 | 74 | 75 | 76 | 77 | 78 | 79 | 80 | 81 | 82 | 83 | 84 | 85 | 86 | 87 | 88 | 89 | 90 | 91 | 92 | 93 | 94 | 95 | 96 | 97 | 98 | 99)	#REQUIRED
	commcls	(cc01 | cc02 | cc03 | cc04 | cc05 | cc06 | cc07 | cc08 | cc09 | cc10 | cc11 | cc12 | cc13 | cc14 | cc15 | cc16 | cc17 | cc18 | cc19 | cc20 | cc21 | cc22 | cc23 | cc24 | cc25 | cc26 | cc27 | cc28 | cc29 | cc30 | cc31 | cc32 | cc33 | cc34 | cc35 | cc36 | cc37 | cc38 | cc39 | cc40 | cc41 | cc42 | cc43 | cc44 | cc45 | cc46 | cc47 | cc48 | cc49 | cc50 | cc51 | cc52 | cc53 | cc54 | cc55 | cc56 | cc57 | cc58 | cc59 | cc60 | cc61 | cc62 | cc63 | cc64 | cc65 | cc66 | cc67 | cc68 | cc69 | cc70 | cc71 | cc72 | cc73 | cc74 | cc75 | cc76 | cc77 | cc78 | cc79 | cc80 | cc81 | cc82 | cc83 | cc84 | cc85 | cc86 | cc87 | cc88 | cc89 | cc90 | cc91 | cc92 | cc93 | cc94 | cc95 | cc96 | cc97 | cc98 | cc99)	#IMPLIED
	caveat	(cv01 | cv02 | cv03 | cv04 | cv05 | cv06 | cv07 | cv08 | cv09 | cv10 | cv11 | cv12 | cv13 | cv14 | cv15 | cv16 | cv17 | cv18 | cv19 | cv20 | cv21 | cv22 | cv23 | cv24 | cv25 | cv26 | cv27 | cv28 | cv29 | cv30 | cv31 | cv32 | cv33 | cv34 | cv35 | cv36 | cv37 | cv38 | cv39 | cv40 | cv41 | cv42 | cv43 | cv44 | cv45 | cv46 | cv47 | cv48 | cv49 | cv50 | cv51 | cv52 | cv53 | cv54 | cv55 | cv56 | cv57 | cv58 | cv59 | cv60 | cv61 | cv62 | cv63 | cv64 | cv65 | cv66 | cv67 | cv68 | cv69 | cv70 | cv71 | cv72 | cv73 | cv74 | cv75 | cv76 | cv77 | cv78 | cv79 | cv80 | cv81 | cv82 | cv83 | cv84 | cv85 | cv86 | cv87 | cv88 | cv89 | cv90 | cv91 | cv92 | cv93 | cv94 | cv95 | cv96 | cv97 | cv98 | cv99)	#IMPLIED
>

<!ELEMENT datarest - - (applic?, instruct, inform?)>
<!ATTLIST datarest
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT applic - - ((displaytext, ((assert | evaluate)?)) | (assert | evaluate))>
<!ATTLIST applic
	applicconf	(allowed | built | designed | installed | manufactured | supported)	#IMPLIED
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT displaytext - - ((#PCDATA | p)*)>

<!ELEMENT p - - ((#PCDATA | (subscrpt | supscrpt))*)>
<!ATTLIST p
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT subscrpt - - (#PCDATA)>

<!ELEMENT supscrpt - - (#PCDATA)>

<!ELEMENT assert - - (#PCDATA)>
<!ATTLIST assert
	actidref	CDATA	#IMPLIED
	actreftype	(condition | prodattr)	#IMPLIED
	actvalues	CDATA	#IMPLIED
	displayclass	CDATA	#IMPLIED
>

<!ELEMENT evaluate - - ((evaluate | assert)+)>
<!ATTLIST evaluate
	operator	(and | or)	#REQUIRED
	displayclass	CDATA	#IMPLIED
>

<!ELEMENT instruct - - (distrib, expcont?, handling?, destruct?, disclose?)>
<!ATTLIST instruct
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT distrib - - (#PCDATA)>
<!ATTLIST distrib
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT expcont - - (expstatement+, expregcode*)>
<!ATTLIST expcont
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	expregtype	CDATA	#IMPLIED
	expgovauth	CDATA	#IMPLIED
>

<!ELEMENT expstatement - - ((p | refdm)+)>
<!ATTLIST expstatement
	exprole	(partial | full)	#IMPLIED
>

<!ELEMENT refdm - - ((applic?, dmcextension?, (age | avee), issno?, dmtitle?, language?))>
<!ATTLIST refdm
	target	CDATA	#IMPLIED
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT expregcode - - (#PCDATA)>
<!ATTLIST expregcode
	expregcodetype	CDATA	#IMPLIED
>

<!ELEMENT handling - - (#PCDATA)>
<!ATTLIST handling
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT destruct - - (#PCDATA)>
<!ATTLIST destruct
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT disclose - - (#PCDATA)>
<!ATTLIST disclose
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT inform - - (copyright, polref?, datacond?)>
<!ATTLIST inform
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT copyright - - (para+)>
<!ATTLIST copyright
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT para - - (applic?, (((#PCDATA | ein | cb | parasigdata | quantity | xref | indxflag | change | emphasis | symbol | subscrpt | supscrpt | refdm | reftp | ftnote | ftnref | acronym | acroterm) | (seqlist | randlist | deflist))*))>
<!ATTLIST para
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
	class	(01 | 02 | 03 | 04 | 05 | 06 | 07 | 08 | 09 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 50 | 51 | 52 | 53 | 54 | 55 | 56 | 57 | 58 | 59 | 60 | 61 | 62 | 63 | 64 | 65 | 66 | 67 | 68 | 69 | 70 | 71 | 72 | 73 | 74 | 75 | 76 | 77 | 78 | 79 | 80 | 81 | 82 | 83 | 84 | 85 | 86 | 87 | 88 | 89 | 90 | 91 | 92 | 93 | 94 | 95 | 96 | 97 | 98 | 99)	#IMPLIED
	commcls	(cc01 | cc02 | cc03 | cc04 | cc05 | cc06 | cc07 | cc08 | cc09 | cc10 | cc11 | cc12 | cc13 | cc14 | cc15 | cc16 | cc17 | cc18 | cc19 | cc20 | cc21 | cc22 | cc23 | cc24 | cc25 | cc26 | cc27 | cc28 | cc29 | cc30 | cc31 | cc32 | cc33 | cc34 | cc35 | cc36 | cc37 | cc38 | cc39 | cc40 | cc41 | cc42 | cc43 | cc44 | cc45 | cc46 | cc47 | cc48 | cc49 | cc50 | cc51 | cc52 | cc53 | cc54 | cc55 | cc56 | cc57 | cc58 | cc59 | cc60 | cc61 | cc62 | cc63 | cc64 | cc65 | cc66 | cc67 | cc68 | cc69 | cc70 | cc71 | cc72 | cc73 | cc74 | cc75 | cc76 | cc77 | cc78 | cc79 | cc80 | cc81 | cc82 | cc83 | cc84 | cc85 | cc86 | cc87 | cc88 | cc89 | cc90 | cc91 | cc92 | cc93 | cc94 | cc95 | cc96 | cc97 | cc98 | cc99)	#IMPLIED
	caveat	(cv01 | cv02 | cv03 | cv04 | cv05 | cv06 | cv07 | cv08 | cv09 | cv10 | cv11 | cv12 | cv13 | cv14 | cv15 | cv16 | cv17 | cv18 | cv19 | cv20 | cv21 | cv22 | cv23 | cv24 | cv25 | cv26 | cv27 | cv28 | cv29 | cv30 | cv31 | cv32 | cv33 | cv34 | cv35 | cv36 | cv37 | cv38 | cv39 | cv40 | cv41 | cv42 | cv43 | cv44 | cv45 | cv46 | cv47 | cv48 | cv49 | cv50 | cv51 | cv52 | cv53 | cv54 | cv55 | cv56 | cv57 | cv58 | cv59 | cv60 | cv61 | cv62 | cv63 | cv64 | cv65 | cv66 | cv67 | cv68 | cv69 | cv70 | cv71 | cv72 | cv73 | cv74 | cv75 | cv76 | cv77 | cv78 | cv79 | cv80 | cv81 | cv82 | cv83 | cv84 | cv85 | cv86 | cv87 | cv88 | cv89 | cv90 | cv91 | cv92 | cv93 | cv94 | cv95 | cv96 | cv97 | cv98 | cv99)	#IMPLIED
>

<!ELEMENT ein - - (nomen?, refs?)>
<!ATTLIST ein
	einnbr	CDATA	#REQUIRED
	eintype	(exact | family)	#IMPLIED
	mfc	CDATA	#IMPLIED
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT nomen - - (#PCDATA)>
<!ATTLIST nomen
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT refs - - ((refdm+, reftp*) | reftp+)>

<!ELEMENT reftp - - (applic?, (((#PCDATA | xref | indxflag | symbol | subscrpt | supscrpt | ftnref | acronym | acroterm)*) | (pubcode, pubtitle?, pubdate?)))>
<!ATTLIST reftp
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT xref - - (applic?, (#PCDATA | (subscrpt | supscrpt))*)>
<!ATTLIST xref
	xrefid	IDREF	#IMPLIED
	xidtype	(figure | table | multimedia | supply | supequip | spares | para | step | graphic | multimediaobject | hotspot | param | other)	#IMPLIED
	target	CDATA	#IMPLIED
	destitle	CDATA	#IMPLIED
	pretext	CDATA	#IMPLIED
	posttext	CDATA	#IMPLIED
	refapplic	IDREF	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT indxflag - O EMPTY>
<!ATTLIST indxflag
	ref1	CDATA	#IMPLIED
	ref2	CDATA	#IMPLIED
	ref3	CDATA	#IMPLIED
	ref4	CDATA	#IMPLIED
>

<!ELEMENT symbol - - (applic?)>
<!ATTLIST symbol
	boardno	ENTITY	#REQUIRED
	id	ID	#IMPLIED
	reprowid	CDATA	#IMPLIED
	reprohgt	CDATA	#IMPLIED
	reproscl	CDATA	#IMPLIED
	refapplic	IDREF	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT ftnref - O EMPTY>
<!ATTLIST ftnref
	xrefid	IDREF	#IMPLIED
>

<!ELEMENT acronym - - (acroterm, acrodef)>
<!ATTLIST acronym
	acrotype	(at01 | at02 | at03 | at04 | at05 | at06 | at07 | at08 | at09 | at10 | at11 | at12 | at13 | at14 | at15 | at16 | at17 | at18 | at19 | at20 | at21 | at22 | at23 | at24 | at25 | at26 | at27 | at28 | at29 | at30 | at31 | at32 | at33 | at34 | at35 | at36 | at37 | at38 | at39 | at40 | at41 | at42 | at43 | at44 | at45 | at46 | at47 | at48 | at49 | at50 | at51 | at52 | at53 | at54 | at55 | at56 | at57 | at58 | at59 | at60 | at61 | at62 | at63 | at64 | at65 | at66 | at67 | at68 | at69 | at70 | at71 | at72 | at73 | at74 | at75 | at76 | at77 | at78 | at79 | at80 | at81 | at82 | at83 | at84 | at85 | at86 | at87 | at88 | at89 | at90 | at91 | at92 | at93 | at94 | at95 | at96 | at97 | at98 | at99)	"at01"
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT acroterm - - ((#PCDATA | (subscrpt | supscrpt))*)>
<!ATTLIST acroterm
	xrefid	IDREF	#IMPLIED
>

<!ELEMENT acrodef - - ((#PCDATA | (subscrpt | supscrpt))*)>
<!ATTLIST acrodef
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT pubcode - - ((#PCDATA | pmc)*)>
<!ATTLIST pubcode
	pubcodsy	CDATA	#IMPLIED
>

<!ELEMENT pmc - - (modelic, pmissuer, pmnumber, pmvolume)>

<!ELEMENT pmissuer - - (#PCDATA)>

<!ELEMENT pmnumber - - (#PCDATA)>

<!ELEMENT pmvolume - - (#PCDATA)>

<!ELEMENT pubtitle - - (#PCDATA)>

<!ELEMENT pubdate - O EMPTY>
<!ATTLIST pubdate
	year	NUMBER	#REQUIRED
	month	NUMBER	#REQUIRED
	day	NUMBER	#REQUIRED
>

<!ELEMENT cb - - (nomen?, refs?)>
<!ATTLIST cb
	cbnbr	CDATA	#REQUIRED
	cbtype	(eltro | elmec | clip)	#IMPLIED
	cbaction	(open | close | verif-open | verif-close)	#IMPLIED
	checksum	CDATA	#IMPLIED
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT parasigdata - - (#PCDATA)>
<!ATTLIST parasigdata
	psdtype	(psd01 | psd02 | psd03 | psd04 | psd05 | psd06 | psd07 | psd08 | psd09 | psd10 | psd11 | psd12 | psd13 | psd14 | psd15 | psd16 | psd17 | psd18 | psd19 | psd20 | psd21 | psd22 | psd23 | psd24 | psd25 | psd26 | psd27 | psd28 | psd29 | psd30 | psd31 | psd32 | psd33 | psd34 | psd35 | psd36 | psd37 | psd38 | psd39 | psd40 | psd41 | psd42 | psd43 | psd44 | psd45 | psd46 | psd47 | psd48 | psd49 | psd50 | psd51 | psd52 | psd53 | psd54 | psd55 | psd56 | psd57 | psd58 | psd59 | psd60 | psd61 | psd62 | psd63 | psd64 | psd65 | psd66 | psd67 | psd68 | psd69 | psd70 | psd71 | psd72 | psd73 | psd74 | psd75 | psd76 | psd77 | psd78 | psd79 | psd80 | psd81 | psd82 | psd83 | psd84 | psd85 | psd86 | psd87 | psd88 | psd89 | psd90 | psd91 | psd92 | psd93 | psd94 | psd95 | psd96 | psd97 | psd98 | psd99)	#REQUIRED
>

<!ELEMENT quantity - - ((#PCDATA | qtygrp)*)>
<!ATTLIST quantity
	qtytype	(qty01 | qty02 | qty03 | qty04 | qty05 | qty06 | qty07 | qty08 | qty09 | qty10 | qty11 | qty12 | qty13 | qty14 | qty15 | qty16 | qty17 | qty18 | qty19 | qty20 | qty21 | qty22 | qty23 | qty24 | qty25 | qty26 | qty27 | qty28 | qty29 | qty30 | qty31 | qty32 | qty33 | qty34 | qty35 | qty36 | qty37 | qty38 | qty39 | qty40 | qty41 | qty42 | qty43 | qty44 | qty45 | qty46 | qty47 | qty48 | qty49 | qty50 | qty51 | qty52 | qty53 | qty54 | qty55 | qty56 | qty57 | qty58 | qty59 | qty60 | qty61 | qty62 | qty63 | qty64 | qty65 | qty66 | qty67 | qty68 | qty69 | qty70 | qty71 | qty72 | qty73 | qty74 | qty75 | qty76 | qty77 | qty78 | qty79 | qty80 | qty81 | qty82 | qty83 | qty84 | qty85 | qty86 | qty87 | qty88 | qty89 | qty90 | qty91 | qty92 | qty93 | qty94 | qty95 | qty96 | qty97 | qty98 | qty99)	#IMPLIED
>

<!ELEMENT qtygrp - - ((qtyvalue+, qtytolerance*) | (qtytolerance+))>
<!ATTLIST qtygrp
	qtygrptype	(nominal | minimum | maximum)	"nominal"
	qtyuom	CDATA	#IMPLIED
>

<!ELEMENT qtyvalue - - (#PCDATA)>
<!ATTLIST qtyvalue
	qtyuom	CDATA	#IMPLIED
>

<!ELEMENT qtytolerance - - (#PCDATA)>
<!ATTLIST qtytolerance
	qtytoltype	(plus | minus | plusorminus)	"plusorminus"
	qtyuom	CDATA	#IMPLIED
>

<!ELEMENT change - - ((#PCDATA | ein | cb | parasigdata | quantity | xref | indxflag | change | emphasis | symbol | subscrpt | supscrpt | refdm | reftp | ftnote | ftnref | acronym | acroterm)*)>
<!ATTLIST change
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT emphasis - - ((#PCDATA | ein | cb | parasigdata | quantity | xref | indxflag | change | emphasis | symbol | subscrpt | supscrpt | refdm | reftp | ftnote | ftnref | acronym | acroterm)*)>
<!ATTLIST emphasis
	emph	(em01 | em02 | em03 | em04 | em05 | em06 | em07 | em08 | em09 | em10 | em11 | em12 | em13 | em14 | em15 | em16 | em17 | em18 | em19 | em20 | em21 | em22 | em23 | em24 | em25 | em26 | em27 | em28 | em29 | em30 | em31 | em32 | em33 | em34 | em35 | em36 | em37 | em38 | em39 | em40 | em41 | em42 | em43 | em44 | em45 | em46 | em47 | em48 | em49 | em50 | em51 | em52 | em53 | em54 | em55 | em56 | em57 | em58 | em59 | em60 | em61 | em62 | em63 | em64 | em65 | em66 | em67 | em68 | em69 | em70 | em71 | em72 | em73 | em74 | em75 | em76 | em77 | em78 | em79 | em80 | em81 | em82 | em83 | em84 | em85 | em86 | em87 | em88 | em89 | em90 | em91 | em92 | em93 | em94 | em95 | em96 | em97 | em98 | em99)	"em01"
>

<!ELEMENT ftnote - - (applic?, para+)>
<!ATTLIST ftnote
	ftnmark	(num | sym | alpha)	"num"
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	class	(01 | 02 | 03 | 04 | 05 | 06 | 07 | 08 | 09 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 50 | 51 | 52 | 53 | 54 | 55 | 56 | 57 | 58 | 59 | 60 | 61 | 62 | 63 | 64 | 65 | 66 | 67 | 68 | 69 | 70 | 71 | 72 | 73 | 74 | 75 | 76 | 77 | 78 | 79 | 80 | 81 | 82 | 83 | 84 | 85 | 86 | 87 | 88 | 89 | 90 | 91 | 92 | 93 | 94 | 95 | 96 | 97 | 98 | 99)	#IMPLIED
	commcls	(cc01 | cc02 | cc03 | cc04 | cc05 | cc06 | cc07 | cc08 | cc09 | cc10 | cc11 | cc12 | cc13 | cc14 | cc15 | cc16 | cc17 | cc18 | cc19 | cc20 | cc21 | cc22 | cc23 | cc24 | cc25 | cc26 | cc27 | cc28 | cc29 | cc30 | cc31 | cc32 | cc33 | cc34 | cc35 | cc36 | cc37 | cc38 | cc39 | cc40 | cc41 | cc42 | cc43 | cc44 | cc45 | cc46 | cc47 | cc48 | cc49 | cc50 | cc51 | cc52 | cc53 | cc54 | cc55 | cc56 | cc57 | cc58 | cc59 | cc60 | cc61 | cc62 | cc63 | cc64 | cc65 | cc66 | cc67 | cc68 | cc69 | cc70 | cc71 | cc72 | cc73 | cc74 | cc75 | cc76 | cc77 | cc78 | cc79 | cc80 | cc81 | cc82 | cc83 | cc84 | cc85 | cc86 | cc87 | cc88 | cc89 | cc90 | cc91 | cc92 | cc93 | cc94 | cc95 | cc96 | cc97 | cc98 | cc99)	#IMPLIED
	caveat	(cv01 | cv02 | cv03 | cv04 | cv05 | cv06 | cv07 | cv08 | cv09 | cv10 | cv11 | cv12 | cv13 | cv14 | cv15 | cv16 | cv17 | cv18 | cv19 | cv20 | cv21 | cv22 | cv23 | cv24 | cv25 | cv26 | cv27 | cv28 | cv29 | cv30 | cv31 | cv32 | cv33 | cv34 | cv35 | cv36 | cv37 | cv38 | cv39 | cv40 | cv41 | cv42 | cv43 | cv44 | cv45 | cv46 | cv47 | cv48 | cv49 | cv50 | cv51 | cv52 | cv53 | cv54 | cv55 | cv56 | cv57 | cv58 | cv59 | cv60 | cv61 | cv62 | cv63 | cv64 | cv65 | cv66 | cv67 | cv68 | cv69 | cv70 | cv71 | cv72 | cv73 | cv74 | cv75 | cv76 | cv77 | cv78 | cv79 | cv80 | cv81 | cv82 | cv83 | cv84 | cv85 | cv86 | cv87 | cv88 | cv89 | cv90 | cv91 | cv92 | cv93 | cv94 | cv95 | cv96 | cv97 | cv98 | cv99)	#IMPLIED
>

<!ELEMENT seqlist - - (applic?, title?, item+)>
<!ATTLIST seqlist
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
	class	(01 | 02 | 03 | 04 | 05 | 06 | 07 | 08 | 09 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 50 | 51 | 52 | 53 | 54 | 55 | 56 | 57 | 58 | 59 | 60 | 61 | 62 | 63 | 64 | 65 | 66 | 67 | 68 | 69 | 70 | 71 | 72 | 73 | 74 | 75 | 76 | 77 | 78 | 79 | 80 | 81 | 82 | 83 | 84 | 85 | 86 | 87 | 88 | 89 | 90 | 91 | 92 | 93 | 94 | 95 | 96 | 97 | 98 | 99)	#IMPLIED
	commcls	(cc01 | cc02 | cc03 | cc04 | cc05 | cc06 | cc07 | cc08 | cc09 | cc10 | cc11 | cc12 | cc13 | cc14 | cc15 | cc16 | cc17 | cc18 | cc19 | cc20 | cc21 | cc22 | cc23 | cc24 | cc25 | cc26 | cc27 | cc28 | cc29 | cc30 | cc31 | cc32 | cc33 | cc34 | cc35 | cc36 | cc37 | cc38 | cc39 | cc40 | cc41 | cc42 | cc43 | cc44 | cc45 | cc46 | cc47 | cc48 | cc49 | cc50 | cc51 | cc52 | cc53 | cc54 | cc55 | cc56 | cc57 | cc58 | cc59 | cc60 | cc61 | cc62 | cc63 | cc64 | cc65 | cc66 | cc67 | cc68 | cc69 | cc70 | cc71 | cc72 | cc73 | cc74 | cc75 | cc76 | cc77 | cc78 | cc79 | cc80 | cc81 | cc82 | cc83 | cc84 | cc85 | cc86 | cc87 | cc88 | cc89 | cc90 | cc91 | cc92 | cc93 | cc94 | cc95 | cc96 | cc97 | cc98 | cc99)	#IMPLIED
	caveat	(cv01 | cv02 | cv03 | cv04 | cv05 | cv06 | cv07 | cv08 | cv09 | cv10 | cv11 | cv12 | cv13 | cv14 | cv15 | cv16 | cv17 | cv18 | cv19 | cv20 | cv21 | cv22 | cv23 | cv24 | cv25 | cv26 | cv27 | cv28 | cv29 | cv30 | cv31 | cv32 | cv33 | cv34 | cv35 | cv36 | cv37 | cv38 | cv39 | cv40 | cv41 | cv42 | cv43 | cv44 | cv45 | cv46 | cv47 | cv48 | cv49 | cv50 | cv51 | cv52 | cv53 | cv54 | cv55 | cv56 | cv57 | cv58 | cv59 | cv60 | cv61 | cv62 | cv63 | cv64 | cv65 | cv66 | cv67 | cv68 | cv69 | cv70 | cv71 | cv72 | cv73 | cv74 | cv75 | cv76 | cv77 | cv78 | cv79 | cv80 | cv81 | cv82 | cv83 | cv84 | cv85 | cv86 | cv87 | cv88 | cv89 | cv90 | cv91 | cv92 | cv93 | cv94 | cv95 | cv96 | cv97 | cv98 | cv99)	#IMPLIED
>

<!ELEMENT title - - ((#PCDATA | ein | cb | parasigdata | quantity | xref | indxflag | change | emphasis | symbol | subscrpt | supscrpt | refdm | reftp | ftnote | ftnref | acronym | acroterm)*)>
<!ATTLIST title
	class	(01 | 02 | 03 | 04 | 05 | 06 | 07 | 08 | 09 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 50 | 51 | 52 | 53 | 54 | 55 | 56 | 57 | 58 | 59 | 60 | 61 | 62 | 63 | 64 | 65 | 66 | 67 | 68 | 69 | 70 | 71 | 72 | 73 | 74 | 75 | 76 | 77 | 78 | 79 | 80 | 81 | 82 | 83 | 84 | 85 | 86 | 87 | 88 | 89 | 90 | 91 | 92 | 93 | 94 | 95 | 96 | 97 | 98 | 99)	#IMPLIED
	commcls	(cc01 | cc02 | cc03 | cc04 | cc05 | cc06 | cc07 | cc08 | cc09 | cc10 | cc11 | cc12 | cc13 | cc14 | cc15 | cc16 | cc17 | cc18 | cc19 | cc20 | cc21 | cc22 | cc23 | cc24 | cc25 | cc26 | cc27 | cc28 | cc29 | cc30 | cc31 | cc32 | cc33 | cc34 | cc35 | cc36 | cc37 | cc38 | cc39 | cc40 | cc41 | cc42 | cc43 | cc44 | cc45 | cc46 | cc47 | cc48 | cc49 | cc50 | cc51 | cc52 | cc53 | cc54 | cc55 | cc56 | cc57 | cc58 | cc59 | cc60 | cc61 | cc62 | cc63 | cc64 | cc65 | cc66 | cc67 | cc68 | cc69 | cc70 | cc71 | cc72 | cc73 | cc74 | cc75 | cc76 | cc77 | cc78 | cc79 | cc80 | cc81 | cc82 | cc83 | cc84 | cc85 | cc86 | cc87 | cc88 | cc89 | cc90 | cc91 | cc92 | cc93 | cc94 | cc95 | cc96 | cc97 | cc98 | cc99)	#IMPLIED
	caveat	(cv01 | cv02 | cv03 | cv04 | cv05 | cv06 | cv07 | cv08 | cv09 | cv10 | cv11 | cv12 | cv13 | cv14 | cv15 | cv16 | cv17 | cv18 | cv19 | cv20 | cv21 | cv22 | cv23 | cv24 | cv25 | cv26 | cv27 | cv28 | cv29 | cv30 | cv31 | cv32 | cv33 | cv34 | cv35 | cv36 | cv37 | cv38 | cv39 | cv40 | cv41 | cv42 | cv43 | cv44 | cv45 | cv46 | cv47 | cv48 | cv49 | cv50 | cv51 | cv52 | cv53 | cv54 | cv55 | cv56 | cv57 | cv58 | cv59 | cv60 | cv61 | cv62 | cv63 | cv64 | cv65 | cv66 | cv67 | cv68 | cv69 | cv70 | cv71 | cv72 | cv73 | cv74 | cv75 | cv76 | cv77 | cv78 | cv79 | cv80 | cv81 | cv82 | cv83 | cv84 | cv85 | cv86 | cv87 | cv88 | cv89 | cv90 | cv91 | cv92 | cv93 | cv94 | cv95 | cv96 | cv97 | cv98 | cv99)	#IMPLIED
>

<!ELEMENT item - - (applic?, ((note | para | (((#PCDATA | ein | cb | parasigdata | quantity | xref | indxflag | change | emphasis | symbol | subscrpt | supscrpt | refdm | reftp | ftnote | ftnref | acronym | acroterm) | (seqlist | randlist | deflist))*))+))>
<!ATTLIST item
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT note - - (applic?, ((symbol | para | (seqlist | randlist | deflist))+))>
<!ATTLIST note
	type	CDATA	#IMPLIED
	refapplic	IDREF	#IMPLIED
	xrefid	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT randlist - - (applic?, title?, item+)>
<!ATTLIST randlist
	prefix	(pf01 | pf02 | pf03 | pf04 | pf05 | pf06 | pf07 | pf08 | pf09 | pf10 | pf11 | pf12 | pf13 | pf14 | pf15 | pf16 | pf17 | pf18 | pf19 | pf20 | pf21 | pf22 | pf23 | pf24 | pf25 | pf26 | pf27 | pf28 | pf29 | pf30 | pf31 | pf32 | pf33 | pf34 | pf35 | pf36 | pf37 | pf38 | pf39 | pf40 | pf41 | pf42 | pf43 | pf44 | pf45 | pf46 | pf47 | pf48 | pf49 | pf50 | pf51 | pf52 | pf53 | pf54 | pf55 | pf56 | pf57 | pf58 | pf59 | pf60 | pf61 | pf62 | pf63 | pf64 | pf65 | pf66 | pf67 | pf68 | pf69 | pf70 | pf71 | pf72 | pf73 | pf74 | pf75 | pf76 | pf77 | pf78 | pf79 | pf80 | pf81 | pf82 | pf83 | pf84 | pf85 | pf86 | pf87 | pf88 | pf89 | pf90 | pf91 | pf92 | pf93 | pf94 | pf95 | pf96 | pf97 | pf98 | pf99)	"pf02"
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
	class	(01 | 02 | 03 | 04 | 05 | 06 | 07 | 08 | 09 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 50 | 51 | 52 | 53 | 54 | 55 | 56 | 57 | 58 | 59 | 60 | 61 | 62 | 63 | 64 | 65 | 66 | 67 | 68 | 69 | 70 | 71 | 72 | 73 | 74 | 75 | 76 | 77 | 78 | 79 | 80 | 81 | 82 | 83 | 84 | 85 | 86 | 87 | 88 | 89 | 90 | 91 | 92 | 93 | 94 | 95 | 96 | 97 | 98 | 99)	#IMPLIED
	commcls	(cc01 | cc02 | cc03 | cc04 | cc05 | cc06 | cc07 | cc08 | cc09 | cc10 | cc11 | cc12 | cc13 | cc14 | cc15 | cc16 | cc17 | cc18 | cc19 | cc20 | cc21 | cc22 | cc23 | cc24 | cc25 | cc26 | cc27 | cc28 | cc29 | cc30 | cc31 | cc32 | cc33 | cc34 | cc35 | cc36 | cc37 | cc38 | cc39 | cc40 | cc41 | cc42 | cc43 | cc44 | cc45 | cc46 | cc47 | cc48 | cc49 | cc50 | cc51 | cc52 | cc53 | cc54 | cc55 | cc56 | cc57 | cc58 | cc59 | cc60 | cc61 | cc62 | cc63 | cc64 | cc65 | cc66 | cc67 | cc68 | cc69 | cc70 | cc71 | cc72 | cc73 | cc74 | cc75 | cc76 | cc77 | cc78 | cc79 | cc80 | cc81 | cc82 | cc83 | cc84 | cc85 | cc86 | cc87 | cc88 | cc89 | cc90 | cc91 | cc92 | cc93 | cc94 | cc95 | cc96 | cc97 | cc98 | cc99)	#IMPLIED
	caveat	(cv01 | cv02 | cv03 | cv04 | cv05 | cv06 | cv07 | cv08 | cv09 | cv10 | cv11 | cv12 | cv13 | cv14 | cv15 | cv16 | cv17 | cv18 | cv19 | cv20 | cv21 | cv22 | cv23 | cv24 | cv25 | cv26 | cv27 | cv28 | cv29 | cv30 | cv31 | cv32 | cv33 | cv34 | cv35 | cv36 | cv37 | cv38 | cv39 | cv40 | cv41 | cv42 | cv43 | cv44 | cv45 | cv46 | cv47 | cv48 | cv49 | cv50 | cv51 | cv52 | cv53 | cv54 | cv55 | cv56 | cv57 | cv58 | cv59 | cv60 | cv61 | cv62 | cv63 | cv64 | cv65 | cv66 | cv67 | cv68 | cv69 | cv70 | cv71 | cv72 | cv73 | cv74 | cv75 | cv76 | cv77 | cv78 | cv79 | cv80 | cv81 | cv82 | cv83 | cv84 | cv85 | cv86 | cv87 | cv88 | cv89 | cv90 | cv91 | cv92 | cv93 | cv94 | cv95 | cv96 | cv97 | cv98 | cv99)	#IMPLIED
>

<!ELEMENT deflist - - (applic?, title?, ((term, def)+))>
<!ATTLIST deflist
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	class	(01 | 02 | 03 | 04 | 05 | 06 | 07 | 08 | 09 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 50 | 51 | 52 | 53 | 54 | 55 | 56 | 57 | 58 | 59 | 60 | 61 | 62 | 63 | 64 | 65 | 66 | 67 | 68 | 69 | 70 | 71 | 72 | 73 | 74 | 75 | 76 | 77 | 78 | 79 | 80 | 81 | 82 | 83 | 84 | 85 | 86 | 87 | 88 | 89 | 90 | 91 | 92 | 93 | 94 | 95 | 96 | 97 | 98 | 99)	#IMPLIED
	commcls	(cc01 | cc02 | cc03 | cc04 | cc05 | cc06 | cc07 | cc08 | cc09 | cc10 | cc11 | cc12 | cc13 | cc14 | cc15 | cc16 | cc17 | cc18 | cc19 | cc20 | cc21 | cc22 | cc23 | cc24 | cc25 | cc26 | cc27 | cc28 | cc29 | cc30 | cc31 | cc32 | cc33 | cc34 | cc35 | cc36 | cc37 | cc38 | cc39 | cc40 | cc41 | cc42 | cc43 | cc44 | cc45 | cc46 | cc47 | cc48 | cc49 | cc50 | cc51 | cc52 | cc53 | cc54 | cc55 | cc56 | cc57 | cc58 | cc59 | cc60 | cc61 | cc62 | cc63 | cc64 | cc65 | cc66 | cc67 | cc68 | cc69 | cc70 | cc71 | cc72 | cc73 | cc74 | cc75 | cc76 | cc77 | cc78 | cc79 | cc80 | cc81 | cc82 | cc83 | cc84 | cc85 | cc86 | cc87 | cc88 | cc89 | cc90 | cc91 | cc92 | cc93 | cc94 | cc95 | cc96 | cc97 | cc98 | cc99)	#IMPLIED
	caveat	(cv01 | cv02 | cv03 | cv04 | cv05 | cv06 | cv07 | cv08 | cv09 | cv10 | cv11 | cv12 | cv13 | cv14 | cv15 | cv16 | cv17 | cv18 | cv19 | cv20 | cv21 | cv22 | cv23 | cv24 | cv25 | cv26 | cv27 | cv28 | cv29 | cv30 | cv31 | cv32 | cv33 | cv34 | cv35 | cv36 | cv37 | cv38 | cv39 | cv40 | cv41 | cv42 | cv43 | cv44 | cv45 | cv46 | cv47 | cv48 | cv49 | cv50 | cv51 | cv52 | cv53 | cv54 | cv55 | cv56 | cv57 | cv58 | cv59 | cv60 | cv61 | cv62 | cv63 | cv64 | cv65 | cv66 | cv67 | cv68 | cv69 | cv70 | cv71 | cv72 | cv73 | cv74 | cv75 | cv76 | cv77 | cv78 | cv79 | cv80 | cv81 | cv82 | cv83 | cv84 | cv85 | cv86 | cv87 | cv88 | cv89 | cv90 | cv91 | cv92 | cv93 | cv94 | cv95 | cv96 | cv97 | cv98 | cv99)	#IMPLIED
>

<!ELEMENT term - - ((applic?, ((#PCDATA | ein | cb | parasigdata | quantity | xref | indxflag | change | emphasis | symbol | subscrpt | supscrpt | refdm | reftp | ftnote | ftnref | acronym | acroterm)*))?)>
<!ATTLIST term
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT def - - (applic?, ((para | (((#PCDATA | ein | cb | parasigdata | quantity | xref | indxflag | change | emphasis | symbol | subscrpt | supscrpt | refdm | reftp | ftnote | ftnref | acronym | acroterm) | (seqlist | randlist | deflist))*))+))>
<!ATTLIST def
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT polref - - (#PCDATA)>
<!ATTLIST polref
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT datacond - - (#PCDATA)>
<!ATTLIST datacond
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT dmsize - - (#PCDATA)>

<!ELEMENT rpc - - (#PCDATA)>
<!ATTLIST rpc
	rpcname	CDATA	#IMPLIED
	id	ID	#IMPLIED
>

<!ELEMENT orig - - (#PCDATA)>
<!ATTLIST orig
	origname	CDATA	#IMPLIED
	id	ID	#IMPLIED
>

<!ELEMENT actref - - (refdm)>

<!ELEMENT inlineapplics - - (applic+)>

<!ELEMENT techstd - - ((autandtp | authblk | tpbase), authex, notes)>

<!ELEMENT autandtp - - (authblk, tpbase)>

<!ELEMENT authblk - - (#PCDATA)>

<!ELEMENT tpbase - - (#PCDATA)>

<!ELEMENT authex - - (inline?, retrofit?)>

<!ELEMENT inline - - (exmod*, addmod*)>

<!ELEMENT exmod - - (#PCDATA)>

<!ELEMENT addmod - - (#PCDATA)>

<!ELEMENT retrofit - - (mod+)>

<!ELEMENT mod - - (modtitle?)>
<!ATTLIST mod
	authno	NMTOKEN	#REQUIRED
	modtype	(pre | post | prandpo)	#REQUIRED
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT modtitle - - (#PCDATA)>

<!ELEMENT notes - - (#PCDATA)>

<!ELEMENT brexref - - (refdm)>

<!ELEMENT qa - - (applic?, (unverif | (firstver, secver?)))>
<!ATTLIST qa
	refapplic	IDREF	#IMPLIED
>

<!ELEMENT unverif - O EMPTY>

<!ELEMENT firstver - O EMPTY>
<!ATTLIST firstver
	type	(tabtop | onobject | ttandoo)	#REQUIRED
>

<!ELEMENT secver - O EMPTY>
<!ATTLIST secver
	type	(tabtop | onobject | ttandoo)	#REQUIRED
>

<!ELEMENT sbc - - (#PCDATA)>
<!ATTLIST sbc
	id	ID	#IMPLIED
>

<!ELEMENT fic - - (#PCDATA)>

<!ELEMENT skill - O EMPTY>
<!ATTLIST skill
	skill	(sk01 | sk02 | sk03 | sk04 | sk05 | sk06 | sk07 | sk08 | sk09 | sk10 | sk11 | sk12 | sk13 | sk14 | sk15 | sk16 | sk17 | sk18 | sk19 | sk20 | sk21 | sk22 | sk23 | sk24 | sk25 | sk26 | sk27 | sk28 | sk29 | sk30 | sk31 | sk32 | sk33 | sk34 | sk35 | sk36 | sk37 | sk38 | sk39 | sk40 | sk41 | sk42 | sk43 | sk44 | sk45 | sk46 | sk47 | sk48 | sk49 | sk50 | sk51 | sk52 | sk53 | sk54 | sk55 | sk56 | sk57 | sk58 | sk59 | sk60 | sk61 | sk62 | sk63 | sk64 | sk65 | sk66 | sk67 | sk68 | sk69 | sk70 | sk71 | sk72 | sk73 | sk74 | sk75 | sk76 | sk77 | sk78 | sk79 | sk80 | sk81 | sk82 | sk83 | sk84 | sk85 | sk86 | sk87 | sk88 | sk89 | sk90 | sk91 | sk92 | sk93 | sk94 | sk95 | sk96 | sk97 | sk98 | sk99)	#REQUIRED
>

<!ELEMENT rfu - - (applic?, (#PCDATA | p)*)>
<!ATTLIST rfu
	refapplic	IDREF	#IMPLIED
>

<!ELEMENT remarks - - (applic?, (#PCDATA | p)*)>
<!ATTLIST remarks
	refapplic	IDREF	#IMPLIED
>

<!ELEMENT content - - (refs?, wrngdata)>
<!ATTLIST content
	id	ID	#IMPLIED
>

<!ELEMENT wrngdata - - (wires?, harnesses?, elecequips?, stdparts?)>

<!ELEMENT wires - - (wire+)>

<!ELEMENT wire - - (wireid, wireconnection, wireinformation?, applic?)>
<!ATTLIST wire
	wirestate	(active | stowed | pigtail | notactiv | logconn)	#IMPLIED
	chginfo	(add | delete | modify)	#IMPLIED
	refapplic	IDREF	#IMPLIED
>

<!ELEMENT wireid - - (circode?, wireno, secid?)>
<!ATTLIST wireid
	contextid	CDATA	#IMPLIED
	mfc	CDATA	#IMPLIED
	originator	(orig01 | orig02 | orig03 | orig04 | orig05 | orig06 | orig07 | orig08 | orig09 | orig10 | orig11 | orig12 | orig13 | orig14 | orig15 | orig16 | orig17 | orig18 | orig19 | orig20 | orig21 | orig22 | orig23 | orig24 | orig25 | orig26 | orig27 | orig28 | orig29 | orig30 | orig31 | orig32 | orig33 | orig34 | orig35 | orig36 | orig37 | orig38 | orig39 | orig40 | orig41 | orig42 | orig43 | orig44 | orig45 | orig46 | orig47 | orig48 | orig49 | orig50 | orig51 | orig52 | orig53 | orig54 | orig55 | orig56 | orig57 | orig58 | orig59 | orig60 | orig61 | orig62 | orig63 | orig64 | orig65 | orig66 | orig67 | orig68 | orig69 | orig70 | orig71 | orig72 | orig73 | orig74 | orig75 | orig76 | orig77 | orig78 | orig79 | orig80 | orig81 | orig82 | orig83 | orig84 | orig85 | orig86 | orig87 | orig88 | orig89 | orig90 | orig91 | orig92 | orig93 | orig94 | orig95 | orig96 | orig97 | orig98 | orig99)	#IMPLIED
>

<!ELEMENT circode - - (#PCDATA)>

<!ELEMENT wireno - - (#PCDATA)>

<!ELEMENT secid - - (#PCDATA)>

<!ELEMENT wireconnection - - (fromequip, toequip?)>

<!ELEMENT fromequip - - ((rfd, contactinfo?, screens?, twists?, wireins?))>

<!ELEMENT rfd - - (#PCDATA)>
<!ATTLIST rfd
	instid	CDATA	#IMPLIED
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	contextid	CDATA	#IMPLIED
	mfc	CDATA	#IMPLIED
	originator	(orig01 | orig02 | orig03 | orig04 | orig05 | orig06 | orig07 | orig08 | orig09 | orig10 | orig11 | orig12 | orig13 | orig14 | orig15 | orig16 | orig17 | orig18 | orig19 | orig20 | orig21 | orig22 | orig23 | orig24 | orig25 | orig26 | orig27 | orig28 | orig29 | orig30 | orig31 | orig32 | orig33 | orig34 | orig35 | orig36 | orig37 | orig38 | orig39 | orig40 | orig41 | orig42 | orig43 | orig44 | orig45 | orig46 | orig47 | orig48 | orig49 | orig50 | orig51 | orig52 | orig53 | orig54 | orig55 | orig56 | orig57 | orig58 | orig59 | orig60 | orig61 | orig62 | orig63 | orig64 | orig65 | orig66 | orig67 | orig68 | orig69 | orig70 | orig71 | orig72 | orig73 | orig74 | orig75 | orig76 | orig77 | orig78 | orig79 | orig80 | orig81 | orig82 | orig83 | orig84 | orig85 | orig86 | orig87 | orig88 | orig89 | orig90 | orig91 | orig92 | orig93 | orig94 | orig95 | orig96 | orig97 | orig98 | orig99)	#IMPLIED
>

<!ELEMENT contactinfo - - (contact?, wireconcode?, netanacode?, groupcode?)>

<!ELEMENT contact - O EMPTY>
<!ATTLIST contact
	ident	CDATA	#REQUIRED
	function	CDATA	#IMPLIED
	ctype	CDATA	#IMPLIED
	cconnect	NUMBER	#IMPLIED
	termpnr	CDATA	#IMPLIED
	wexdir	CDATA	#IMPLIED
>

<!ELEMENT wireconcode - - (screenorder?, specconn?, elecpotential, pconnorder?)>

<!ELEMENT screenorder - - (#PCDATA)>

<!ELEMENT specconn - - (#PCDATA)>

<!ELEMENT elecpotential - - (module?, block?, shunt?, contactorder?)>

<!ELEMENT module - - (#PCDATA)>

<!ELEMENT block - - (#PCDATA)>

<!ELEMENT shunt - - (#PCDATA)>

<!ELEMENT contactorder - - (#PCDATA)>

<!ELEMENT pconnorder - - (#PCDATA)>

<!ELEMENT netanacode - - (#PCDATA)>

<!ELEMENT groupcode - - (#PCDATA)>

<!ELEMENT screens - - (screen+)>

<!ELEMENT screen - - (#PCDATA)>
<!ATTLIST screen
	scrlevel	CDATA	#IMPLIED
	scrtype	CDATA	#IMPLIED
	scrstyle	CDATA	#IMPLIED
>

<!ELEMENT twists - - (twist+)>

<!ELEMENT twist - - (#PCDATA)>
<!ATTLIST twist
	twsttype	CDATA	#IMPLIED
>

<!ELEMENT wireins - - (pre*, fin*)>

<!ELEMENT pre - - ((val?, refs?))>

<!ELEMENT val - - (#PCDATA)>

<!ELEMENT fin - - ((val?, refs?))>

<!ELEMENT toequip - - ((rfd, contactinfo?, screens?, twists?, wireins?))>

<!ELEMENT wireinformation - - (wirecode?, pnr?, harnid?, wireseqno?, circode?, secid?, screens?, twists?, coax?, triax?, emc-code?, length?, colour?, signal?, rpc?, routing?, wireroute?, restriction?, nhassy?, fdescref?, illref?)>

<!ELEMENT wirecode - - (wiretype, wiregauge*)>

<!ELEMENT wiretype - - (#PCDATA)>

<!ELEMENT wiregauge - - (#PCDATA)>
<!ATTLIST wiregauge
	gaugetype	(proj | awg | mt)	#REQUIRED
>

<!ELEMENT pnr - - (#PCDATA)>
<!ATTLIST pnr
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT harnid - - (#PCDATA)>
<!ATTLIST harnid
	contextid	CDATA	#IMPLIED
	mfc	CDATA	#IMPLIED
	originator	(orig01 | orig02 | orig03 | orig04 | orig05 | orig06 | orig07 | orig08 | orig09 | orig10 | orig11 | orig12 | orig13 | orig14 | orig15 | orig16 | orig17 | orig18 | orig19 | orig20 | orig21 | orig22 | orig23 | orig24 | orig25 | orig26 | orig27 | orig28 | orig29 | orig30 | orig31 | orig32 | orig33 | orig34 | orig35 | orig36 | orig37 | orig38 | orig39 | orig40 | orig41 | orig42 | orig43 | orig44 | orig45 | orig46 | orig47 | orig48 | orig49 | orig50 | orig51 | orig52 | orig53 | orig54 | orig55 | orig56 | orig57 | orig58 | orig59 | orig60 | orig61 | orig62 | orig63 | orig64 | orig65 | orig66 | orig67 | orig68 | orig69 | orig70 | orig71 | orig72 | orig73 | orig74 | orig75 | orig76 | orig77 | orig78 | orig79 | orig80 | orig81 | orig82 | orig83 | orig84 | orig85 | orig86 | orig87 | orig88 | orig89 | orig90 | orig91 | orig92 | orig93 | orig94 | orig95 | orig96 | orig97 | orig98 | orig99)	#IMPLIED
>

<!ELEMENT wireseqno - - (#PCDATA)>

<!ELEMENT coax - - (#PCDATA)>

<!ELEMENT triax - - (#PCDATA)>

<!ELEMENT emc-code - - (#PCDATA)>

<!ELEMENT length - - (#PCDATA)>
<!ATTLIST length
	uom	CDATA	#IMPLIED
	wirelngtyp	(critical | estimated | final)	#IMPLIED
>

<!ELEMENT colour - - (#PCDATA)>

<!ELEMENT signal - - (#PCDATA)>

<!ELEMENT routing - - (clipid*, feedthru*)>

<!ELEMENT clipid - - (#PCDATA)>

<!ELEMENT feedthru - - (rfd)>
<!ATTLIST feedthru
	holeid	CDATA	#IMPLIED
>

<!ELEMENT wireroute - - (#PCDATA)>

<!ELEMENT restriction - - (#PCDATA)>

<!ELEMENT nhassy - - (#PCDATA | rfd)>

<!ELEMENT fdescref - - (refs)>

<!ELEMENT illref - - (refs)>

<!ELEMENT harnesses - - (harness+)>

<!ELEMENT harness - - (harnid, harninfo?, routing?, rpc?, fdescref?, illref?, applic?)>
<!ATTLIST harness
	chginfo	(add | delete | modify)	#IMPLIED
	refapplic	IDREF	#IMPLIED
>

<!ELEMENT harninfo - - (pnr?, altids?, harnvar?, harnissue?, nomenc?, emc-code?, temp?, harnenv?, sleeves?)>

<!ELEMENT altids - - (altid+)>

<!ELEMENT altid - - (pnr?, mfc?)>

<!ELEMENT mfc - - (#PCDATA)>
<!ATTLIST mfc
	id	ID	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT harnvar - - (#PCDATA)>

<!ELEMENT harnissue - - (#PCDATA)>

<!ELEMENT nomenc - - (#PCDATA)>

<!ELEMENT temp - - (mint?, maxt?)>

<!ELEMENT mint - - (#PCDATA)>
<!ATTLIST mint
	uom	CDATA	#IMPLIED
>

<!ELEMENT maxt - - (#PCDATA)>
<!ATTLIST maxt
	uom	CDATA	#IMPLIED
>

<!ELEMENT harnenv - O EMPTY>
<!ATTLIST harnenv
	highvibration	NUMBER	"0"
	hydraulic	NUMBER	"0"
>

<!ELEMENT sleeves - - (sleeve+)>

<!ELEMENT sleeve - - (pnr?)>
<!ATTLIST sleeve
	sleevemat	CDATA	#IMPLIED
>

<!ELEMENT elecequips - - (elecequip+)>

<!ELEMENT elecequip - - (rfd, pnr?, altids?, assyinstr?, maxposition?, sbc?, trl?, clc?, elogic?, rpc?, nomenc?, qty?, instinfo*, equdescref?, fdescref?, illref?, applic?)>
<!ATTLIST elecequip
	chginfo	(add | delete | modify)	#IMPLIED
	equipstate	(active | notactiv | logequip)	#IMPLIED
	refapplic	IDREF	#IMPLIED
>

<!ELEMENT assyinstr - - (assy*)>

<!ELEMENT assy - - ((val?, refs?))>

<!ELEMENT maxposition - - (#PCDATA)>

<!ELEMENT trl - - (#PCDATA | eeconnection*)>

<!ELEMENT eeconnection - - (contact+)>
<!ATTLIST eeconnection
	conntype	CDATA	#IMPLIED
>

<!ELEMENT clc - - (#PCDATA)>

<!ELEMENT elogic - - (ecstate+)>

<!ELEMENT ecstate - - (eeconnection+, statedes?)>
<!ATTLIST ecstate
	initstate	NUMBER	#IMPLIED
>

<!ELEMENT statedes - - (#PCDATA)>

<!ELEMENT qty - - (#PCDATA)>
<!ATTLIST qty
	uom	CDATA	#IMPLIED
	level	NUMBER	#IMPLIED
	mark	NUMBER	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT instinfo - - (instloc*, sibplugid?, accdopl?, nhassy?, posnhassy?)>
<!ATTLIST instinfo
	instid	CDATA	#IMPLIED
>

<!ELEMENT instloc - - (#PCDATA)>
<!ATTLIST instloc
	uom	CDATA	#IMPLIED
	instloctyp	(instloctyp01 | instloctyp02 | instloctyp03 | instloctyp04 | instloctyp05 | instloctyp06 | instloctyp07 | instloctyp08 | instloctyp09 | instloctyp10 | instloctyp11 | instloctyp12 | instloctyp13 | instloctyp14 | instloctyp15 | instloctyp16 | instloctyp17 | instloctyp18 | instloctyp19 | instloctyp20 | instloctyp21 | instloctyp22 | instloctyp23 | instloctyp24 | instloctyp25 | instloctyp26 | instloctyp27 | instloctyp28 | instloctyp29 | instloctyp30 | instloctyp31 | instloctyp32 | instloctyp33 | instloctyp34 | instloctyp35 | instloctyp36 | instloctyp37 | instloctyp38 | instloctyp39 | instloctyp40 | instloctyp41 | instloctyp42 | instloctyp43 | instloctyp44 | instloctyp45 | instloctyp46 | instloctyp47 | instloctyp48 | instloctyp49 | instloctyp50 | instloctyp51 | instloctyp52 | instloctyp53 | instloctyp54 | instloctyp55 | instloctyp56 | instloctyp57 | instloctyp58 | instloctyp59 | instloctyp60 | instloctyp61 | instloctyp62 | instloctyp63 | instloctyp64 | instloctyp65 | instloctyp66 | instloctyp67 | instloctyp68 | instloctyp69 | instloctyp70 | instloctyp71 | instloctyp72 | instloctyp73 | instloctyp74 | instloctyp75 | instloctyp76 | instloctyp77 | instloctyp78 | instloctyp79 | instloctyp80 | instloctyp81 | instloctyp82 | instloctyp83 | instloctyp84 | instloctyp85 | instloctyp86 | instloctyp87 | instloctyp88 | instloctyp89 | instloctyp90 | instloctyp91 | instloctyp92 | instloctyp93 | instloctyp94 | instloctyp95 | instloctyp96 | instloctyp97 | instloctyp98 | instloctyp99)	#IMPLIED
>

<!ELEMENT sibplugid - - (rfd)>

<!ELEMENT accdopl - - (#PCDATA)>

<!ELEMENT posnhassy - - (#PCDATA)>
<!ATTLIST posnhassy
	pos	CDATA	#IMPLIED
	row	CDATA	#IMPLIED
	col	CDATA	#IMPLIED
>

<!ELEMENT equdescref - - (refs)>

<!ELEMENT stdparts - - (connectors?, vparts?, accessories?, solder-sleeves?, shrink-sleeves?, ident-sleeves?, conduits?, wire-mats?)>

<!ELEMENT connectors - - (connector+)>

<!ELEMENT connector - - (pnr, altids?, mass?, orientation?, assyinstr?, rack?, ccount?, cdescs?, elogic?, acclist?, fdescref?, illref?, applic?)>
<!ATTLIST connector
	refapplic	IDREF	#IMPLIED
>

<!ELEMENT mass - - (#PCDATA)>
<!ATTLIST mass
	uom	CDATA	#IMPLIED
>

<!ELEMENT orientation - - (#PCDATA)>

<!ELEMENT rack - - (#PCDATA)>

<!ELEMENT ccount - - (#PCDATA)>

<!ELEMENT cdescs - - (cdesc+)>

<!ELEMENT cdesc - - (contact, cdia?, fin*, tplus?, tminus?, sterm?, coax?, triax?, module?, block?, shunt?)>

<!ELEMENT cdia - - (#PCDATA)>
<!ATTLIST cdia
	uom	CDATA	#IMPLIED
>

<!ELEMENT tplus - - (#PCDATA)>

<!ELEMENT tminus - - (#PCDATA)>

<!ELEMENT sterm - - (#PCDATA)>

<!ELEMENT acclist - - (pnr+)>

<!ELEMENT vparts - - (vpart+)>

<!ELEMENT vpart - - (pnr, altids?, csize?, mat?, mass?, colour?, protect?, cdia?, temp?, fdescref?, illref?, applic?)>
<!ATTLIST vpart
	refapplic	IDREF	#IMPLIED
>

<!ELEMENT csize - - (#PCDATA)>

<!ELEMENT mat - - (#PCDATA)>

<!ELEMENT protect - - (#PCDATA)>

<!ELEMENT accessories - - (accessory+)>

<!ELEMENT accessory - - (pnr, altids?, mass?, orientation?, assyinstr?, fdescref?, illref?, applic?)>
<!ATTLIST accessory
	refapplic	IDREF	#IMPLIED
>

<!ELEMENT solder-sleeves - - (solder-sleeve+)>

<!ELEMENT solder-sleeve - - (pnr, altids?, length?, mat?, mass?, sdia?, fdescref?, illref?, applic?)>
<!ATTLIST solder-sleeve
	refapplic	IDREF	#IMPLIED
>

<!ELEMENT sdia - - (mind?, maxd?)>

<!ELEMENT mind - - (#PCDATA)>
<!ATTLIST mind
	uom	CDATA	#IMPLIED
>

<!ELEMENT maxd - - (#PCDATA)>
<!ATTLIST maxd
	uom	CDATA	#IMPLIED
>

<!ELEMENT shrink-sleeves - - (shrink-sleeve+)>

<!ELEMENT shrink-sleeve - - (pnr, altids?, size?, mass?, colour?, sdia?, temp?, harnsize?, fdescref?, illref?, applic?)>
<!ATTLIST shrink-sleeve
	refapplic	IDREF	#IMPLIED
>

<!ELEMENT size - - (#PCDATA)>
<!ATTLIST size
	uom	CDATA	#IMPLIED
>

<!ELEMENT harnsize - - (minh?, maxh?)>

<!ELEMENT minh - - (#PCDATA)>
<!ATTLIST minh
	uom	CDATA	#IMPLIED
>

<!ELEMENT maxh - - (#PCDATA)>
<!ATTLIST maxh
	uom	CDATA	#IMPLIED
>

<!ELEMENT ident-sleeves - - (ident-sleeve+)>

<!ELEMENT ident-sleeve - - (pnr, altids?, length?, mat?, mass?, fdescref?, illref?, applic?)>
<!ATTLIST ident-sleeve
	refapplic	IDREF	#IMPLIED
>

<!ELEMENT conduits - - (conduit+)>

<!ELEMENT conduit - - (pnr, altids?, size?, mass?, colour?, wallthk?, temp?, fdescref?, illref?, applic?)>
<!ATTLIST conduit
	refapplic	IDREF	#IMPLIED
>

<!ELEMENT wallthk - - (#PCDATA)>
<!ATTLIST wallthk
	uom	CDATA	#IMPLIED
>

<!ELEMENT wire-mats - - (wire-mat+)>

<!ELEMENT wire-mat - - (pnr, altids?, wirecode?, core?, size?, mass?, colour?, outjackcol?, outdia?, res?, voltage?, amperage?, temp?, screencount?, coax?, triax?, freqchar?, fdescref?, illref?, applic?)>
<!ATTLIST wire-mat
	refapplic	IDREF	#IMPLIED
>

<!ELEMENT core - - (#PCDATA)>

<!ELEMENT outjackcol - - (#PCDATA)>

<!ELEMENT outdia - - (#PCDATA)>
<!ATTLIST outdia
	uom	CDATA	#IMPLIED
>

<!ELEMENT res - - (#PCDATA)>
<!ATTLIST res
	uom	CDATA	#IMPLIED
>

<!ELEMENT voltage - - (#PCDATA)>
<!ATTLIST voltage
	uom	CDATA	#IMPLIED
>

<!ELEMENT amperage - - (#PCDATA)>
<!ATTLIST amperage
	uom	CDATA	#IMPLIED
>

<!ELEMENT screencount - - (#PCDATA)>

<!ELEMENT freqchar - - (impedance, freqatt*)>

<!ELEMENT impedance - - (#PCDATA)>
<!ATTLIST impedance
	uom	CDATA	#IMPLIED
>

<!ELEMENT freqatt - - (freq, attenuation)>

<!ELEMENT freq - - (#PCDATA)>
<!ATTLIST freq
	uom	CDATA	#IMPLIED
>

<!ELEMENT attenuation - - (#PCDATA)>
<!ATTLIST attenuation
	uom	CDATA	#IMPLIED
>
