RCM CRH Fault Reporting App/schemas/AECMA3-0/xml_schema_master/comment/complexTypes.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" schemaLocation="rdf.xsd"/>
	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
	<xs:include schemaLocation="attributeGroups.xsd"/>
	<xs:include schemaLocation="simpleElements.xsd"/>
	<xs:include schemaLocation="elementGroups.xsd"/>
	<xs:complexType name="addressType">
		<xs:sequence>
			<xs:element ref="dept" minOccurs="0"/>
			<xs:element ref="street" minOccurs="0"/>
			<xs:element ref="pobox" minOccurs="0"/>
			<xs:element ref="zip" minOccurs="0"/>
			<xs:element ref="city"/>
			<xs:element ref="postcode" minOccurs="0"/>
			<xs:element ref="country"/>
			<xs:element ref="state" minOccurs="0"/>
			<xs:element ref="province" minOccurs="0"/>
			<xs:element ref="building" minOccurs="0"/>
			<xs:element ref="room" minOccurs="0"/>
			<xs:element ref="phone" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="fax" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="email" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="internet" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="bodyatt"/>
	</xs:complexType>
	<xs:complexType name="ageType">
		<xs:sequence>
			<xs:element ref="modelic"/>
			<xs:element ref="supeqvc"/>
			<xs:element ref="ecscs"/>
			<xs:element ref="eidc"/>
			<xs:element ref="cidc"/>
			<xs:element ref="discode"/>
			<xs:element ref="discodev"/>
			<xs:element ref="incode"/>
			<xs:element ref="incodev"/>
			<xs:element ref="itemloc"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="aveeType">
		<xs:sequence>
			<xs:element ref="modelic"/>
			<xs:element ref="sdc"/>
			<xs:element ref="chapnum"/>
			<xs:element ref="section"/>
			<xs:element ref="subsect"/>
			<xs:element ref="subject"/>
			<xs:element ref="discode"/>
			<xs:element ref="discodev"/>
			<xs:element ref="incode"/>
			<xs:element ref="incodev"/>
			<xs:element ref="itemloc"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ccodeType">
		<xs:sequence>
			<xs:element ref="modelic"/>
			<xs:element ref="sendid"/>
			<xs:element ref="diyear"/>
			<xs:element ref="seqnum"/>
			<xs:element ref="ctype"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ccontentType">
		<xs:sequence>
			<xs:element ref="p" maxOccurs="unbounded"/>
			<xs:element ref="refcattach" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="cnorefsType"/>
	<xs:complexType name="commentType">
		<xs:sequence>
			<xs:element ref="rdf:Description" minOccurs="0"/>
			<xs:element ref="cstatus"/>
			<xs:element ref="ccontent"/>
		</xs:sequence>
		<xs:attribute ref="id"/>
	</xs:complexType>
	<xs:complexType name="copyrightType">
		<xs:sequence>
			<xs:element ref="p" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="bodyatt"/>
	</xs:complexType>
	<xs:complexType name="corigType">
		<xs:sequence>
			<xs:element ref="dispaddr"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="crefddnsType">
		<xs:sequence>
			<xs:element ref="crefddn" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="crefddnType">
		<xs:choice>
			<xs:sequence>
				<xs:element ref="ddnc"/>
				<xs:element ref="issdate" minOccurs="0"/>
			</xs:sequence>
			<xs:group ref="xlink:XLINKEXT" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attributeGroup ref="xlink:XLINKATT4"/>
	</xs:complexType>
	<xs:complexType name="crefdmlsType">
		<xs:sequence>
			<xs:element ref="dmlref" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="crefdmsType">
		<xs:sequence>
			<xs:element ref="crefdm" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="crefdmType">
		<xs:choice>
			<xs:sequence>
				<xs:element ref="dmcextension" minOccurs="0"/>
				<xs:element ref="dmc"/>
				<xs:element ref="dmtitle" minOccurs="0"/>
				<xs:element ref="issno" minOccurs="0"/>
				<xs:element ref="issdate" minOccurs="0"/>
				<xs:element ref="language" minOccurs="0"/>
			</xs:sequence>
			<xs:group ref="xlink:XLINKEXT" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attributeGroup ref="xlink:XLINKATT4"/>
	</xs:complexType>
	<xs:complexType name="crefpmsType">
		<xs:sequence>
			<xs:element ref="crefpm" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="crefpmType">
		<xs:choice>
			<xs:sequence>
				<xs:element ref="pmc"/>
				<xs:element ref="pmtitle" minOccurs="0"/>
				<xs:element ref="issno" minOccurs="0"/>
				<xs:element ref="issdate" minOccurs="0"/>
				<xs:element ref="language" minOccurs="0"/>
			</xs:sequence>
			<xs:group ref="xlink:XLINKEXT" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attributeGroup ref="xlink:XLINKATT4"/>
	</xs:complexType>
	<xs:complexType name="crefsType">
		<xs:choice>
			<xs:element ref="cnorefs"/>
			<xs:element ref="crefdms"/>
			<xs:element ref="crefdmls"/>
			<xs:element ref="crefpms"/>
			<xs:element ref="crefddns"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="cstatusType">
		<xs:sequence>
			<xs:element ref="ccode"/>
			<xs:element ref="ctitle" minOccurs="0"/>
			<xs:element ref="issdate"/>
			<xs:element ref="language" minOccurs="0"/>
			<xs:element ref="corig"/>
			<xs:element ref="security"/>
			<xs:element ref="datarest" minOccurs="0"/>
			<xs:element ref="priority"/>
			<xs:element ref="response" minOccurs="0"/>
			<xs:element ref="crefs"/>
			<xs:element ref="remarks" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ctypeType">
		<xs:attribute name="type" type="ctypetypeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="datacondType" mixed="true">
		<xs:attributeGroup ref="bodyatt"/>
	</xs:complexType>
	<xs:complexType name="datarestType">
		<xs:sequence>
			<xs:element ref="instruct"/>
			<xs:element ref="inform" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="bodyatt"/>
	</xs:complexType>
	<xs:complexType name="ddncType">
		<xs:sequence>
			<xs:element ref="modelic"/>
			<xs:element ref="sendid"/>
			<xs:element ref="recvid"/>
			<xs:element ref="diyear"/>
			<xs:element ref="seqnum"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="destructType" mixed="true">
		<xs:attributeGroup ref="bodyatt"/>
	</xs:complexType>
	<xs:complexType name="discloseType" mixed="true">
		<xs:attributeGroup ref="bodyatt"/>
	</xs:complexType>
	<xs:complexType name="dispaddrType">
		<xs:sequence>
			<xs:element ref="enterprise"/>
			<xs:element ref="person" minOccurs="0"/>
			<xs:element ref="address"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="distribType" mixed="true">
		<xs:attributeGroup ref="bodyatt"/>
	</xs:complexType>
	<xs:complexType name="dmcextensionType">
		<xs:sequence>
			<xs:element ref="dmeproducer"/>
			<xs:element ref="dmecode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dmcType">
		<xs:group ref="ALLDMC"/>
	</xs:complexType>
	<xs:complexType name="dmlcType">
		<xs:sequence>
			<xs:element ref="modelic"/>
			<xs:element ref="sendid"/>
			<xs:element ref="dmltype"/>
			<xs:element ref="diyear"/>
			<xs:element ref="seqnum"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dmlrefType">
		<xs:choice>
			<xs:sequence>
				<xs:element ref="dmlc"/>
				<xs:element ref="issno" minOccurs="0"/>
			</xs:sequence>
			<xs:group ref="xlink:XLINKEXT" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attributeGroup ref="xlink:XLINKATT4"/>
	</xs:complexType>
	<xs:complexType name="dmltypeType">
		<xs:attribute name="type" type="dmltypeAttType" use="required"/>
	</xs:complexType>
	<xs:complexType name="dmtitleType">
		<xs:sequence>
			<xs:element ref="techname"/>
			<xs:element ref="infoname" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="enterpriseType">
		<xs:sequence>
			<xs:element ref="ent-name"/>
			<xs:element ref="division" minOccurs="0"/>
			<xs:element ref="ent-unit" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="bodyatt"/>
	</xs:complexType>
	<xs:complexType name="expcontType">
		<xs:sequence>
			<xs:element ref="expstatement" maxOccurs="unbounded"/>
			<xs:element ref="expregcode" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="bodyatt"/>
		<xs:attribute ref="expregtype"/>
		<xs:attribute ref="expgovauth"/>
	</xs:complexType>
	<xs:complexType name="expregcodeType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute ref="expregcodetype"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="expstatementType">
		<xs:sequence>
			<xs:element ref="p" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="exprole"/>
	</xs:complexType>
	<xs:complexType name="handlingType" mixed="true">
		<xs:attributeGroup ref="bodyatt"/>
	</xs:complexType>
	<xs:complexType name="informType">
		<xs:sequence>
			<xs:element ref="copyright"/>
			<xs:element ref="polref" minOccurs="0"/>
			<xs:element ref="datacond" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="bodyatt"/>
	</xs:complexType>
	<xs:complexType name="instructType">
		<xs:sequence>
			<xs:element ref="distrib"/>
			<xs:element ref="expcont" minOccurs="0"/>
			<xs:element ref="handling" minOccurs="0"/>
			<xs:element ref="destruct" minOccurs="0"/>
			<xs:element ref="disclose" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="bodyatt"/>
	</xs:complexType>
	<xs:complexType name="issdateType">
		<xs:attributeGroup ref="DATE"/>
	</xs:complexType>
	<xs:complexType name="issnoType">
		<xs:attribute ref="issno" use="required"/>
		<xs:attribute ref="inwork"/>
		<xs:attribute ref="type" default="new"/>
	</xs:complexType>
	<xs:complexType name="languageType">
		<xs:attribute ref="language" use="required"/>
		<xs:attribute ref="country"/>
	</xs:complexType>
	<xs:complexType name="personType">
		<xs:sequence>
			<xs:element ref="lastname"/>
			<xs:element ref="firstname" minOccurs="0"/>
			<xs:element ref="jobtitle" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="prefix" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="pmcType">
		<xs:sequence>
			<xs:element ref="modelic"/>
			<xs:element ref="pmissuer"/>
			<xs:element ref="pmnumber"/>
			<xs:element ref="pmvolume"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="polrefType" mixed="true">
		<xs:attributeGroup ref="bodyatt"/>
	</xs:complexType>
	<xs:complexType name="priorityType">
		<xs:attribute ref="cprio" use="required"/>
	</xs:complexType>
	<xs:complexType name="pType" mixed="true">
		<xs:group ref="SPARCON" minOccurs="0" maxOccurs="unbounded"/>
		<xs:attributeGroup ref="bodyatt"/>
	</xs:complexType>
	<xs:complexType name="refcattachType">
		<xs:sequence>
			<xs:group ref="xlink:XLINKEXT" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="seqatt" type="seqattType" use="required"/>
		<xs:attribute ref="extend" use="required"/>
		<xs:attributeGroup ref="xlink:XLINKATT4"/>
	</xs:complexType>
	<xs:complexType name="remarksType" mixed="true">
		<xs:sequence>
			<xs:element ref="p" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="responseType">
		<xs:attribute ref="rsptype" use="required"/>
	</xs:complexType>
	<xs:complexType name="securityType">
		<xs:attributeGroup ref="SECURIT"/>
	</xs:complexType>
</xs:schema>
