RCM CRH Fault Reporting App/schemas/AECMA3-0/xml_schema_master/dm/attributes.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:include schemaLocation="simpleTypes.xsd"/>
	<xs:attribute name="accpnlnbr" type="xs:string"/>
	<xs:attribute name="accpnltype" type="accpnltypeType"/>
	<xs:attribute name="acrotype" type="ACROTYPS" default="at01"/>
	<xs:attribute name="actidref" type="xs:NCName"/>
	<xs:attribute name="actreftype" type="actreftypeType"/>
	<xs:attribute name="actvalue" type="actValueType"/>
	<xs:attribute name="actvalues" type="actValuesType"/>
	<xs:attribute name="airworthlim" type="airworthlimType"/>
	<xs:attribute name="alternate" type="yesorno"/>
	<xs:attribute name="altnbr" type="xs:string"/>
	<xs:attribute name="application" type="xs:string"/>
	<xs:attribute name="applicconf" type="applicconfType"/>
	<xs:attribute name="apsid" type="xs:string"/>
	<xs:attribute name="apsname" type="xs:string"/>
	<xs:attribute name="authdoc" type="xs:string"/>
	<xs:attribute name="authname" type="xs:string"/>
	<xs:attribute name="authno" type="xs:NMTOKEN"/>
	<xs:attribute name="autoplay" type="yesorno"/>
	<xs:attribute name="boardno" type="xs:ENTITY"/>
	<xs:attribute name="cancel-caption" type="cancel-captionType" default="ca01"/>
	<xs:attribute name="captiontype" type="captiontypeType"/>
	<xs:attribute name="cat" type="cattypeType"/>
	<xs:attribute name="categ" type="xs:string"/>
	<xs:attribute name="category" type="xs:string"/>
	<xs:attribute name="catletter" type="catletterType"/>
	<xs:attribute name="cbaction" type="cbactionType"/>
	<xs:attribute name="cbnbr" type="xs:string"/>
	<xs:attribute name="cbtype" type="cbtypeType"/>
	<xs:attribute name="cconnect" type="xs:unsignedByte"/>
	<xs:attribute name="change" type="changeType"/>
	<xs:attribute name="char" type="xs:string"/>
	<xs:attribute name="charoff" type="xs:string"/>
	<xs:attribute name="checksum" type="xs:string"/>
	<xs:attribute name="chginfo" type="chginfoType"/>
	<xs:attribute name="choicetype" type="choicetypeType"/>
	<xs:attribute name="class" type="CLASSES"/>
	<xs:attribute name="closeup" type="xs:string"/>
	<xs:attribute name="code" type="xs:string"/>
	<xs:attribute name="col" type="xs:string"/>
	<xs:attribute name="colname" type="xs:NMTOKEN"/>
	<xs:attribute name="colnum" type="xs:positiveInteger"/>
	<xs:attribute name="colour" type="COLOURS" default="co09"/>
	<xs:attribute name="cols" type="xs:positiveInteger"/>
	<xs:attribute name="colsep" type="yesorno"/>
	<xs:attribute name="colwidth" type="xs:string"/>
	<xs:attribute name="condition" type="xs:string"/>
	<xs:attribute name="condtyperef" type="xs:IDREF"/>
	<xs:attribute name="config" type="yesorno"/>
	<!--<xs:attribute name="confirmed" type="xs:boolean"/>-->
	<xs:attribute name="connbr" type="xs:string"/>
	<xs:attribute name="conntype" type="xs:string"/>
	<xs:attribute name="consupplyref" type="xs:string"/>
	<xs:attribute name="consupplyreftype" type="consupplyreftypeType"/>
	<xs:attribute name="context" type="xs:string"/>
	<xs:attribute name="controls" type="controlsType"/>
	<xs:attribute name="coords" type="xs:string"/>
	<xs:attribute name="country" type="countryType"/>
	<xs:attribute name="crewmem" type="CREWMEMS"/>
	<xs:attribute name="csn" type="xs:string"/>
	<xs:attribute name="ctype" type="xs:string"/>
	<xs:attribute name="day" type="DAY"/>
	<xs:attribute name="default" type="yesorno"/>
	<xs:attribute name="descript" type="xs:string"/>
	<xs:attribute name="description" type="xs:string"/>
	<xs:attribute name="destitle" type="xs:string"/>
	<xs:attribute name="displayclass" type="xs:string"/>
	<xs:attribute name="dotline" type="dotlineType"/>
	<xs:attribute name="drilltyp" type="DRILLTPS" default="dt00"/>
	<xs:attribute name="duration" type="xs:integer"/>
	<xs:attribute name="einnbr" type="xs:string"/>
	<xs:attribute name="eintype" type="eintypeType"/>
	<xs:attribute name="emph" type="EMPHS" default="em01"/>
	<xs:attribute name="eonbr" type="xs:string"/>
	<xs:attribute name="equipstate" type="equipstateType"/>
	<xs:attribute name="errormsg" type="xs:string"/>
	<xs:attribute name="expgovauth" type="xs:string"/>
	<xs:attribute name="expregcodetype" type="xs:string"/>
	<xs:attribute name="expregtype" type="xs:string"/>
	<xs:attribute name="exprole" type="exproleType"/>
	<xs:attribute name="fcode" type="xs:string"/>
	<xs:attribute name="feccode" type="xs:string"/>
	<xs:attribute name="fid" type="fidType"/>
	<xs:attribute name="fieldsize" type="xs:integer"/>
	<xs:attribute name="flow" type="flowType"/>
	<xs:attribute name="frame" type="frameType"/>
	<xs:attribute name="from" type="xs:string"/>
	<xs:attribute name="ftnmark" type="ftnmarkType"/>
	<xs:attribute name="ftype" type="xs:string"/>
	<xs:attribute name="fullscrn" type="yesorno"/>
	<xs:attribute name="function" type="xs:string"/>
	<xs:attribute name="gaugetype" type="gaugetypeType"/>
	<xs:attribute name="hand" type="handType"/>
	<xs:attribute name="height" type="xs:string"/>
	<xs:attribute name="hing" type="yesorno"/>
	<xs:attribute name="highvibration" type="yesorno" default="0"/>
	<xs:attribute name="holeid" type="xs:string"/>
	<xs:attribute name="hydraulic" type="yesorno" default="0"/>
	<xs:attribute name="id" type="xs:ID"/>
	<xs:attribute name="ident" type="xs:string"/>
	<xs:attribute name="identifier" type="xs:string"/>
	<xs:attribute name="inc" type="xs:string"/>
	<xs:attribute name="incorpstatus" type="incorpstatusType"/>
	<xs:attribute name="ind" type="xs:nonNegativeInteger"/>
	<xs:attribute name="initstate" type="yesorno"/>
	<xs:attribute name="insptype" type="xs:string"/>
	<xs:attribute name="instid" type="xs:string"/>
	<xs:attribute name="instloctyp" type="instloctypType"/>
	<xs:attribute name="inwork" type="NONNEGI2"/>
	<xs:attribute name="ippn" type="xs:string"/>
	<xs:attribute name="ips" type="xs:string"/>
	<xs:attribute name="isn" type="xs:string"/>
	<xs:attribute name="item" type="xs:string"/>
	<xs:attribute name="itemnbr" type="xs:string"/>
	<xs:attribute name="level" type="xs:nonNegativeInteger"/>
	<xs:attribute name="lge" type="xs:string"/>
	<xs:attribute name="local" type="yesorno"/>
	<xs:attribute name="man" type="xs:NMTOKEN"/>
	<xs:attribute name="mandatory" type="yesorno"/>
	<xs:attribute name="mark" type="xs:nonNegativeInteger"/>
	<xs:attribute name="memorize" type="memorizeType"/>
	<xs:attribute name="mfc" type="xs:string"/>
	<xs:attribute name="minus" type="xs:int"/>
	<!--
	<xs:attribute name="mntlvl" type="MNTLVLS"/>
	<xs:attribute name="model" type="xs:string"/>
	-->
	<xs:attribute name="modtype" type="modtypeType"/>
	<xs:attribute name="month" type="MONTH"/>
	<xs:attribute name="morerows" type="xs:nonNegativeInteger"/>
	<xs:attribute name="mov" type="xs:string"/>
	<xs:attribute name="multimediaclass" type="multimediaclassType"/>
	<xs:attribute name="n2did" type="xs:string"/>
	<xs:attribute name="name" type="xs:string"/>
	<xs:attribute name="nameend" type="xs:NMTOKEN"/>
	<xs:attribute name="namest" type="xs:NMTOKEN"/>
	<xs:attribute name="nature" type="xs:string"/>
	<xs:attribute name="ncb" type="xs:int"/>
	<xs:attribute name="nin3to9" type="xs:int"/>
	<xs:attribute name="notappl" type="xs:boolean"/>
	<xs:attribute name="nsc" type="xs:int"/>
	<xs:attribute name="nsn" type="xs:string"/>
	<xs:attribute name="objappl" type="yesorno"/>
	<!--
	<xs:attribute name="opccode" type="xs:string"/>
	<xs:attribute name="opcno" type="xs:NMTOKEN"/>
	-->
	<xs:attribute name="operator" type="operType"/>
	<xs:attribute name="ordered" type="on-off"/>
	<xs:attribute name="orient" type="orientType"/>
	<xs:attribute name="origname" type="xs:string"/>
	<xs:attribute name="paramid" type="xs:string"/>
	<xs:attribute name="paramname" type="xs:string"/>
	<xs:attribute name="paramvalue" type="xs:string"/>
	<xs:attribute name="pattern" type="xs:string"/>
	<xs:attribute name="pgwide" type="yesorno"/>
	<xs:attribute name="plus" type="xs:int"/>
	<xs:attribute name="pnr" type="xs:string"/>
	<xs:attribute name="pos" type="xs:string"/>
	<xs:attribute name="position" type="positionType"/>
	<xs:attribute name="posttext" type="xs:string"/>
	<xs:attribute name="power" type="powerType"/>
	<!--
	<xs:attribute name="prd" type="xs:string"/>
	<xs:attribute name="prdsetlevel" type="xs:string"/>
	-->
	<xs:attribute name="precision" type="xs:string"/>
	<xs:attribute name="prefix" type="PREFIXES" default="pf02"/>
	<xs:attribute name="prelreqs" type="xs:string"/>
	<xs:attribute name="pretext" type="xs:string"/>
	<xs:attribute name="print-form" type="xs:string"/>
	<xs:attribute name="probfac" type="xs:string"/>
	<xs:attribute name="proced" type="xs:string"/>
	<xs:attribute name="psdtype" type="psdtypeType"/>
	<xs:attribute name="pubcodsy" type="xs:string"/>
	<xs:attribute name="qtygrptype" type="qtygrptypeType" default="nominal"/>
	<xs:attribute name="qtytoltype" type="qtytoltypeType" default="plusorminus"/>
	<xs:attribute name="qtytype" type="qtytypeType"/>
	<xs:attribute name="qtyuom" type="qtyuomType"/>
	<xs:attribute name="reducem" type="xs:string"/>
	<xs:attribute name="ref1" type="xs:string"/>
	<xs:attribute name="ref2" type="xs:string"/>
	<xs:attribute name="ref3" type="xs:string"/>
	<xs:attribute name="ref4" type="xs:string"/>
	<xs:attribute name="refapplic" type="xs:IDREF"/>
	<xs:attribute name="refapplics" type="xs:IDREFS"/>
	<xs:attribute name="refcsn" type="xs:string"/>
	<xs:attribute name="refid" type="xs:IDREF"/>
	<xs:attribute name="refipp" type="xs:string"/>
	<xs:attribute name="refisn" type="xs:string"/>
	<xs:attribute name="refrpc" type="xs:string"/>
	<xs:attribute name="reftype" type="reftypeType"/>
	<xs:attribute name="release" type="releaseType"/>
	<!--<xs:attribute name="reportstatus" type="reportstatusType"/>-->
	<xs:attribute name="reprohgt" type="xs:string"/>
	<xs:attribute name="reproscl" type="xs:string"/>
	<xs:attribute name="reprowid" type="xs:string"/>
	<xs:attribute name="reset-caption" type="reset-captionType"/>
	<!--<xs:attribute name="revnbr" type="xs:string"/>-->
	<xs:attribute name="rfc" type="xs:string"/>
	<xs:attribute name="rotate" type="yesorno"/>
	<xs:attribute name="row" type="xs:string"/>
	<xs:attribute name="rowsep" type="yesorno"/>
	<xs:attribute name="rpcname" type="xs:string"/>
	<xs:attribute name="scope" type="scopeType"/>
	<xs:attribute name="scrlevel" type="xs:string"/>
	<xs:attribute name="scrstyle" type="xs:string"/>
	<xs:attribute name="scrtype" type="xs:string"/>
	<xs:attribute name="select" type="selectType"/>
	<xs:attribute name="separator" type="yesorno"/>
	<xs:attribute name="seqnum" type="xs:string"/>
	<!--<xs:attribute name="sheetno" type="sheetnototalType"/>-->
	<xs:attribute name="skill" type="SKILL"/>
	<xs:attribute name="skilltype" type="SKILLTYPE"/>
	<xs:attribute name="sleevemat" type="xs:string"/>
	<xs:attribute name="spanname" type="xs:NMTOKEN"/>
	<xs:attribute name="spcnbr" type="xs:string"/>
	<xs:attribute name="specific" type="yesorno"/>
	<xs:attribute name="status" type="statusAttType"/>
	<xs:attribute name="subcateg" type="xs:string"/>
	<xs:attribute name="submit-caption" type="submit-captionType" default="ok01"/>
	<xs:attribute name="sup.lev" type="SUP.LEVS"/>
	<xs:attribute name="sysid" type="xs:string"/>
	<xs:attribute name="tabstyle" type="xs:NMTOKEN"/>
	<xs:attribute name="target" type="xs:string"/>
	<xs:attribute name="taskname" type="xs:string"/>
	<!--
	<xs:attribute name="tccode" type="tccodeType"/>
	<xs:attribute name="tcno" type="xs:string"/>
	<xs:attribute name="tctype" type="tctypeType"/>
	-->
	<xs:attribute name="termpnr" type="xs:string"/>
	<xs:attribute name="tgstyle" type="xs:NMTOKEN"/>
	<xs:attribute name="title" type="xs:string"/>
	<xs:attribute name="to" type="xs:string"/>
	<xs:attribute name="tocentry" type="yesorno"/>
	<xs:attribute name="toctype" type="toctypeType"/>
	<xs:attribute name="toolnbr" type="xs:string"/>
	<!--<xs:attribute name="total" type="sheetnototalType"/>-->
	<xs:attribute name="twsttype" type="xs:string"/>
	<xs:attribute name="type" type="xs:string"/>
	<xs:attribute name="typex" type="typexType"/>
	<xs:attribute name="uom" type="xs:string"/>
	<xs:attribute name="usgnbr" type="xs:string"/>
	<xs:attribute name="val1" type="xs:string"/>
	<xs:attribute name="val2" type="xs:string"/>
	<xs:attribute name="valign" type="valignType"/>
	<xs:attribute name="valtype" type="valtypeType"/>
	<xs:attribute name="valuetype" type="valuetypeType"/>
	<xs:attribute name="vendor" type="yesorno"/>
	<!--
	<xs:attribute name="version" type="xs:string"/>
	<xs:attribute name="verstatus" type="verstatusType"/>
	-->
	<xs:attribute name="visibility" type="visibilityType"/>
	<xs:attribute name="vital" type="yesorno"/>
	<xs:attribute name="vstyle" type="VSTYLES"/>
	<xs:attribute name="wexdir" type="xs:string"/>
	<xs:attribute name="width" type="xs:string"/>
	<xs:attribute name="wirelngtyp" type="wirelngtypType"/>
	<xs:attribute name="wirestate" type="wirestateType"/>
	<xs:attribute name="xidtype" type="xidtypeType"/>
	<xs:attribute name="xrefid" type="xs:IDREF"/>
	<xs:attribute name="year" type="YEAR"/>
	<xs:attribute name="zonenbr" type="xs:string"/>
	<xs:attribute name="zonetype" type="zonetypeType"/>
	<xs:attribute name="taskid" type="xs:string"/>
	<xs:attribute name="taskcode" type="taskcode_attType"/>
</xs:schema>
