RCM CRH Fault Reporting App/schemas/AECMA3-0/xml_schema_master/dm/complexElements.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified">
	<!--  <xs:include schemaLocation="complexTypes.xsd"/>-->
	<xs:element name="abbrev" type="abbrevType"/>
	<xs:element name="accessfrom" type="accessfromType"/>
	<xs:element name="accessories" type="accessoriesType"/>
	<xs:element name="accessory" type="accessoryType"/>
	<xs:element name="accessto" type="accesstoType"/>
	<xs:element name="acclist" type="acclistType"/>
	<xs:element name="accpnl" type="accpnlType"/>
	<xs:element name="accpnlalt" type="accpnlaltType"/>
	<xs:element name="accpnlid" type="accpnlidType"/>
	<xs:element name="accpnlinfo" type="accpnlinfoType"/>
	<xs:element name="accpnllist" type="accpnllistType"/>
	<xs:element name="accpnlref" type="accpnlrefType"/>
	<xs:element name="acctype" type="acctypeType"/>
	<xs:element name="acrodef" type="acrodefType"/>
	<xs:element name="acronym" type="acronymType"/>
	<xs:element name="acroterm" type="acrotermType"/>
	<xs:element name="acrw" type="acrwType"/>
	<xs:element name="act" type="actType"/>
	<xs:element name="action" type="actionType"/>
	<xs:element name="actref" type="actrefType"/>
	<xs:element name="add" type="operationType"/>
	<xs:element name="address" type="addressType"/>
	<xs:element name="afi" type="afiType"/>
	<xs:element name="afi-proc" type="afi-procType"/>
	<xs:element name="afiref" type="afirefType"/>
	<xs:element name="afr" type="afrType"/>
	<xs:element name="age" type="ageType"/>
	<xs:element name="airpwr" type="airpwrType"/>
	<xs:element name="altid" type="altidType"/>
	<xs:element name="altids" type="altidsType"/>
	<xs:element name="amperage" type="amperageType"/>
	<xs:element name="and" type="operationType"/>
	<xs:element name="answer" type="answerType"/>
	<xs:element name="apn" type="apnType"/>
	<xs:element name="apntext" type="apntextType"/>
	<xs:element name="applic" type="applicType"/>
	<xs:element name="applics" type="applicsType"/>
	<xs:element name="asp" type="aspType"/>
	<xs:element name="asrequir" type="asrequirType"/>
	<xs:element name="assert" type="assertType"/>
	<xs:element name="assertion" type="assertionType"/>
	<xs:element name="assign" type="assignType"/>
	<xs:element name="assy" type="assyType"/>
	<xs:element name="assyinstr" type="assyinstrType"/>
	<xs:element name="attenuation" type="attenuationType"/>
	<xs:element name="autandtp" type="autandtpType"/>
	<xs:element name="authex" type="authexType"/>
	<xs:element name="avee" type="aveeType"/>
	<xs:element name="avehcfg" type="avehcfgType"/>
	<!--<xs:element name="batchno" type="batchnoType"/>-->
	<xs:element name="bfe" type="bfeType"/>
	<xs:element name="bndfrom" type="bndfromType"/>
	<xs:element name="bndto" type="bndtoType"/>
	<xs:element name="boolean" type="booleanType"/>
	<xs:element name="boundary" type="boundaryType"/>
	<xs:element name="brex" type="brexType"/>
	<xs:element name="brexref" type="brexrefType"/>
	<xs:element name="button" type="buttonType"/>
	<xs:element name="can" type="canType"/>
	<xs:element name="capbody" type="capbodyType"/>
	<xs:element name="capentry" type="capentryType"/>
	<xs:element name="capgrp" type="capgrpType"/>
	<xs:element name="capline" type="caplineType"/>
	<xs:element name="caprow" type="caprowType"/>
	<xs:element name="captext" type="captextType"/>
	<xs:element name="caption" type="captionType"/>
	<xs:element name="case" type="caseType"/>
	<xs:element name="cat" type="catType"/>
	<xs:element name="category" type="categoryType"/>
	<xs:element name="caution" type="cautionType"/>
	<xs:element name="cb" type="cbType"/>
	<xs:element name="cbalt" type="cbaltType"/>
	<xs:element name="cbclass" type="cbclassType"/>
	<xs:element name="cbdata" type="cbdataType"/>
	<xs:element name="cbid" type="cbidType"/>
	<xs:element name="cbinfo" type="cbinfoType"/>
	<xs:element name="cblist" type="cblistType"/>
	<xs:element name="cbloc" type="cblocType"/>
	<xs:element name="cblst" type="cblstType"/>
	<xs:element name="cbs" type="cbsType"/>
	<xs:element name="cbsublst" type="cbsublstType"/>
	<xs:element name="ccs" type="ccsType"/>
	<xs:element name="cct" type="cctType"/>
	<xs:element name="cctref" type="cctrefType"/>
	<xs:element name="cdesc" type="cdescType"/>
	<xs:element name="cdescs" type="cdescsType"/>
	<xs:element name="cdia" type="cdiaType"/>
	<!--
	<xs:element name="cec" type="cecType"/>
	<xs:element name="ceo" type="ceoType"/>
	-->
	<xs:element name="ces" type="cesType"/>
	<xs:element name="cfault" type="cfaultType"/>
	<xs:element name="challeng" type="challengType"/>
	<xs:element name="challrsp" type="challrspType"/>
	<xs:element name="change" type="changeEltType"/>
	<xs:element name="choice" type="choiceType"/>
	<xs:element name="closereqs" type="closereqsType"/>
	<xs:element name="closetxt" type="closetxtType"/>
	<xs:element name="cmk" type="cmkType"/>
	<xs:element name="collared" type="collaredType"/>
	<xs:element name="colspec" type="colspecType"/>
	<xs:element name="con" type="conType"/>
	<xs:element name="concat" type="operationType"/>
	<xs:element name="condit" type="conditType"/>
	<!--<xs:element name="condtitle" type="condtitleType"/>-->
	<xs:element name="condition" type="conditionType"/>
	<xs:element name="conditionlist" type="conditionlistType"/>
	<xs:element name="conditiontype" type="conditiontypeType"/>
	<xs:element name="conditiontypelist" type="conditiontypelistType"/>
	<xs:element name="conduit" type="conduitType"/>
	<xs:element name="conduits" type="conduitsType"/>
	<xs:element name="conitem" type="conitemType"/>
	<xs:element name="conitemalt" type="conitemaltType"/>
	<xs:element name="conitemaltid" type="conitemaltidType"/>
	<xs:element name="conitemid" type="conitemidType"/>
	<xs:element name="conlist" type="conlistType"/>
	<xs:element name="connector" type="connectorType"/>
	<xs:element name="connectors" type="connectorsType"/>
	<xs:element name="consupply" type="consupplyType"/>
	<xs:element name="consupplygrp" type="consupplygrpType"/>
	<xs:element name="consupplyid" type="consupplyidType"/>
	<xs:element name="consupplyinfo" type="consupplyinfoType"/>
	<xs:element name="consupplylist" type="consupplylistType"/>
	<xs:element name="consupplyset" type="consupplysetType"/>
	<xs:element name="contact" type="contactType"/>
	<xs:element name="contactaddr" type="contactaddrType"/>
	<xs:element name="contactinfo" type="contactinfoType"/>
	<xs:element name="contacttext" type="contacttextType"/>
	<xs:element name="container" type="containerType"/>
	<xs:element name="content" type="contentType"/>
	<xs:element name="contextrules" type="contextrulesType"/>
	<xs:element name="copyright" type="copyrightType"/>
	<xs:element name="crew" type="crewType"/>
	<xs:element name="crewmem" type="crewmemType"/>
	<xs:element name="csn" type="csnType"/>
	<xs:element name="csnref" type="csnrefType"/>
	<xs:element name="ctl" type="ctlType"/>
	<!--
	<xs:element name="cus" type="cusType"/>
	<xs:element name="cusaid" type="cusaidType"/>
	<xs:element name="cusdata" type="cusdataType"/>
	-->
	<xs:element name="data" type="dataType"/>
	<xs:element name="datacond" type="datacondType"/>
	<xs:element name="datarest" type="datarestType"/>
	<xs:element name="def" type="defType"/>
	<xs:element name="default" type="defaultType"/>
	<xs:element name="defined" type="operation"/>
	<xs:element name="definspec" type="definspecType"/>
	<xs:element name="deflist" type="deflistType"/>
	<xs:element name="deftask" type="deftaskType"/>
	<xs:element name="delruitem" type="delruitemType"/>
	<xs:element name="desc" type="descType"/>
	<xs:element name="descacrw" type="descacrwType"/>
	<xs:element name="describe" type="describeType"/>
	<xs:element name="descript" type="descriptType"/>
	<xs:element name="desruitem" type="desruitemType"/>
	<xs:element name="destruct" type="destructType"/>
	<xs:element name="detail-fdesc" type="detail-fdescType"/>
	<xs:element name="detect" type="detectType"/>
	<xs:element name="dfault" type="dfaultType"/>
	<xs:element name="dfl" type="dflType"/>
	<xs:element name="dfp" type="dfpType"/>
	<xs:element name="diagnost" type="diagnostType"/>
	<xs:element name="dialog" type="dialogType"/>
	<xs:element name="dialog-alt" type="dialog-altType"/>
	<xs:element name="dialog-group" type="dialog-groupType"/>
	<xs:element name="disclose" type="discloseType"/>
	<xs:element name="disjoint" type="operationType"/>
	<xs:element name="disolate" type="disolateType"/>
	<xs:element name="displaytext" type="displaytextType"/>
	<xs:element name="distrib" type="distribType"/>
	<xs:element name="divide" type="operationType"/>
	<xs:element name="dm-else-seq" type="dm-else-seqType"/>
	<xs:element name="dm-if" type="dm-ifType"/>
	<xs:element name="dm-loop" type="dm-loopType"/>
	<xs:element name="dm-node" type="dm-nodeType"/>
	<xs:element name="dm-node-alt" type="dm-node-altType"/>
	<xs:element name="dm-seq" type="dm-seqType"/>
	<xs:element name="dm-then-seq" type="dm-then-seqType"/>
	<xs:element name="dmaddres" type="dmaddresType"/>
	<xs:element name="dmc" type="dmcType"/>
	<xs:element name="dmcextension" type="dmcextensionType"/>
	<xs:element name="dmtitle" type="dmtitleType"/>
	<xs:element name="docincorp" type="docincorpType"/>
	<xs:element name="drill" type="drillType"/>
	<xs:element name="dsc.accdopl" type="dsc.accdoplType"/>
	<xs:element name="dsc.accessory" type="dsc.accessoryType"/>
	<xs:element name="dsc.accpnr" type="dsc.accpnrType"/>
	<xs:element name="dsc.altpnr" type="dsc.altpnrType"/>
	<xs:element name="dsc.amperage" type="dsc.amperageType"/>
	<xs:element name="dsc.assy" type="dsc.assyType"/>
	<xs:element name="dsc.attenuation" type="dsc.attenuationType"/>
	<xs:element name="dsc.block" type="dsc.blockType"/>
	<xs:element name="dsc.ccount" type="dsc.ccountType"/>
	<xs:element name="dsc.cdia" type="dsc.cdiaType"/>
	<xs:element name="dsc.circode" type="dsc.circodeType"/>
	<xs:element name="dsc.clc" type="dsc.clcType"/>
	<xs:element name="dsc.coax" type="dsc.coaxType"/>
	<xs:element name="dsc.colour" type="dsc.colourType"/>
	<xs:element name="dsc.conduit" type="dsc.conduitType"/>
	<xs:element name="dsc.connector" type="dsc.connectorType"/>
	<xs:element name="dsc.contact" type="dsc.contactType"/>
	<xs:element name="dsc.core" type="dsc.coreType"/>
	<xs:element name="dsc.csize" type="dsc.csizeType"/>
	<xs:element name="dsc.econtact" type="dsc.econtactType"/>
	<xs:element name="dsc.elecequip" type="dsc.elecequipType"/>
	<xs:element name="dsc.emc-code" type="dsc.emc-codeType"/>
	<xs:element name="dsc.equdescref" type="dsc.equdescrefType"/>
	<xs:element name="dsc.fdescref" type="dsc.fdescrefType"/>
	<xs:element name="dsc.feedthru" type="dsc.feedthruType"/>
	<xs:element name="dsc.fin" type="dsc.finType"/>
	<xs:element name="dsc.freq" type="dsc.freqType"/>
	<xs:element name="dsc.groupcode" type="dsc.groupcodeType"/>
	<xs:element name="dsc.harnenv" type="dsc.harnenvType"/>
	<xs:element name="dsc.harness" type="dsc.harnessType"/>
	<xs:element name="dsc.harnid" type="dsc.harnidType"/>
	<xs:element name="dsc.harnissue" type="dsc.harnissueType"/>
	<xs:element name="dsc.harnvar" type="dsc.harnvarType"/>
	<xs:element name="dsc.ident-sleeve" type="dsc.ident-sleeveType"/>
	<xs:element name="dsc.illref" type="dsc.illrefType"/>
	<xs:element name="dsc.impedance" type="dsc.impedanceType"/>
	<xs:element name="dsc.instloc" type="dsc.instlocType"/>
	<xs:element name="dsc.length" type="dsc.lengthType"/>
	<xs:element name="dsc.mass" type="dsc.massType"/>
	<xs:element name="dsc.mat" type="dsc.matType"/>
	<xs:element name="dsc.maxd" type="dsc.maxdType"/>
	<xs:element name="dsc.maxh" type="dsc.maxhType"/>
	<xs:element name="dsc.maxposition" type="dsc.maxpositionType"/>
	<xs:element name="dsc.maxt" type="dsc.maxtType"/>
	<xs:element name="dsc.mfc" type="dsc.mfcType"/>
	<xs:element name="dsc.mind" type="dsc.mindType"/>
	<xs:element name="dsc.minh" type="dsc.minhType"/>
	<xs:element name="dsc.mint" type="dsc.mintType"/>
	<xs:element name="dsc.module" type="dsc.moduleType"/>
	<xs:element name="dsc.netanacode" type="dsc.netanacodeType"/>
	<xs:element name="dsc.nhassy" type="dsc.nhassyType"/>
	<xs:element name="dsc.nomenc" type="dsc.nomencType"/>
	<xs:element name="dsc.orientation" type="dsc.orientationType"/>
	<xs:element name="dsc.outdia" type="dsc.outdiaType"/>
	<xs:element name="dsc.outjackcol" type="dsc.outjackcolType"/>
	<xs:element name="dsc.pnr" type="dsc.pnrType"/>
	<xs:element name="dsc.posnhassy" type="dsc.posnhassyType"/>
	<xs:element name="dsc.pre" type="dsc.preType"/>
	<xs:element name="dsc.protect" type="dsc.protectType"/>
	<xs:element name="dsc.qty" type="dsc.qtyType"/>
	<xs:element name="dsc.rack" type="dsc.rackType"/>
	<xs:element name="dsc.res" type="dsc.resType"/>
	<xs:element name="dsc.restriction" type="dsc.restrictionType"/>
	<xs:element name="dsc.rfd" type="dsc.rfdType"/>
	<xs:element name="dsc.routing" type="dsc.routingType"/>
	<xs:element name="dsc.rpc" type="dsc.rpcType"/>
	<xs:element name="dsc.sbc" type="dsc.sbcType"/>
	<xs:element name="dsc.screen" type="dsc.screenType"/>
	<xs:element name="dsc.screencount" type="dsc.screencountType"/>
	<xs:element name="dsc.secid" type="dsc.secidType"/>
	<xs:element name="dsc.shrink-sleeve" type="dsc.shrink-sleeveType"/>
	<xs:element name="dsc.shunt" type="dsc.shuntType"/>
	<xs:element name="dsc.sibplugid" type="dsc.sibplugidType"/>
	<xs:element name="dsc.signal" type="dsc.signalType"/>
	<xs:element name="dsc.size" type="dsc.sizeType"/>
	<xs:element name="dsc.sleeve" type="dsc.sleeveType"/>
	<xs:element name="dsc.solder-sleeve" type="dsc.solder-sleeveType"/>
	<xs:element name="dsc.statedes" type="dsc.statedesType"/>
	<xs:element name="dsc.stdparts" type="dsc.stdpartsType"/>
	<xs:element name="dsc.sterm" type="dsc.stermType"/>
	<xs:element name="dsc.tminus" type="dsc.tminusType"/>
	<xs:element name="dsc.tplus" type="dsc.tplusType"/>
	<xs:element name="dsc.triax" type="dsc.triaxType"/>
	<xs:element name="dsc.trl" type="dsc.trlType"/>
	<xs:element name="dsc.twist" type="dsc.twistType"/>
	<xs:element name="dsc.voltage" type="dsc.voltageType"/>
	<xs:element name="dsc.vpart" type="dsc.vpartType"/>
	<xs:element name="dsc.wallthk" type="dsc.wallthkType"/>
	<xs:element name="dsc.wicircode" type="dsc.wicircodeType"/>
	<xs:element name="dsc.wire-mat" type="dsc.wire-matType"/>
	<xs:element name="dsc.wireconcode" type="dsc.wireconcodeType"/>
	<xs:element name="dsc.wiregauge" type="dsc.wiregaugeType"/>
	<xs:element name="dsc.wireno" type="dsc.wirenoType"/>
	<xs:element name="dsc.wireroute" type="dsc.wirerouteType"/>
	<xs:element name="dsc.wires" type="dsc.wiresType"/>
	<xs:element name="dsc.wireseqno" type="dsc.wireseqnoType"/>
	<xs:element name="dsc.wiretype" type="dsc.wiretypeType"/>
	<xs:element name="dsc.wisecid" type="dsc.wisecidType"/>
	<xs:element name="ecstate" type="ecstateType"/>
	<!--<xs:element name="ect" type="ectType"/>-->
	<xs:element name="eeconnection" type="eeconnectionType"/>
	<!--<xs:element name="effect" type="effectType"/>-->
	<xs:element name="efy" type="efyType"/>
	<xs:element name="ein" type="einType"/>
	<xs:element name="einalt" type="einaltType"/>
	<xs:element name="einid" type="einidType"/>
	<xs:element name="eininfo" type="eininfoType"/>
	<xs:element name="einlist" type="einlistType"/>
	<xs:element name="einref" type="einrefType"/>
	<xs:element name="elecequip" type="elecequipType"/>
	<xs:element name="elecequips" type="elecequipsType"/>
	<xs:element name="elecpotential" type="elecpotentialType"/>
	<xs:element name="elecpwr" type="elecpwrType"/>
	<xs:element name="elogic" type="elogicType"/>
	<xs:element name="elseif" type="elseifType"/>
	<!--<xs:element name="embodied" type="prodListType"/>-->
	<xs:element name="emphasis" type="emphasisType"/>
	<xs:element name="empty" type="operationType"/>
	<xs:element name="enable" type="enableType"/>
	<xs:element name="endmattr" type="endmattrType"/>
	<xs:element name="enterprise" type="enterpriseType"/>
	<xs:element name="entfield" type="entfieldType"/>
	<xs:element name="entry" type="entryType"/>
	<xs:element name="enum" type="enumType"/>
	<xs:element name="eq" type="operationType"/>
	<xs:element name="equdescref" type="equdescrefType"/>
	<xs:element name="equip" type="equipType"/>
	<xs:element name="esttime" type="esttimeType"/>
	<xs:element name="etops" type="etopsType"/>
	<xs:element name="evaluate" type="evaluateType"/>
	<xs:element name="expcont" type="expcontType"/>
	<xs:element name="expregcode" type="expregcodeType"/>
	<xs:element name="expstatement" type="expstatementType"/>
	<xs:element name="exponent" type="operationType"/>
	<xs:element name="expression" type="expressionType"/>
	<xs:element name="extapp" type="extappType"/>
	<xs:element name="false" type="operationType"/>
	<xs:element name="fastener" type="fastenerType"/>
	<xs:element name="fault" type="faultType"/>
	<xs:element name="fbasicdesc" type="fbasicdescType"/>
	<xs:element name="fcondition" type="fconditionType"/>
	<xs:element name="fcposn" type="fcposnType"/>
	<xs:element name="fdescref" type="fdescrefType"/>
	<xs:element name="fec" type="fecType"/>
	<xs:element name="feedthru" type="feedthruType"/>
	<xs:element name="fequipment" type="fequipmentType"/>
	<xs:element name="figure" type="figureType"/>
	<xs:element name="fillin" type="fillinType"/>
	<xs:element name="fin" type="finType"/>
	<xs:element name="findication" type="findicationType"/>
	<xs:element name="firstver" type="firstverType"/>
	<xs:element name="float" type="operationType"/>
	<xs:element name="foldout" type="foldoutType"/>
	<xs:element name="frc" type="frcType"/>
	<xs:element name="freq" type="freqType"/>
	<xs:element name="freqatt" type="freqattType"/>
	<xs:element name="freqchar" type="freqcharType"/>
	<xs:element name="from" type="fromType"/>
	<xs:element name="fromequip" type="fromequipType"/>
	<xs:element name="fstqty" type="fstqtyType"/>
	<xs:element name="fsttype" type="fsttypeType"/>
	<xs:element name="ftc" type="ftcType"/>
	<xs:element name="ftnote" type="ftnoteType"/>
	<xs:element name="ftnref" type="ftnrefType"/>
	<xs:element name="fuel" type="fuelType"/>
	<xs:element name="ge" type="operationType"/>
	<xs:element name="gem" type="gemType"/>
	<xs:element name="graphic" type="graphicType"/>
	<xs:element name="gt" type="operationType"/>
	<xs:element name="handling" type="handlingType"/>
	<xs:element name="harnenv" type="harnenvType"/>
	<xs:element name="harness" type="harnessType"/>
	<xs:element name="harnesses" type="harnessesType"/>
	<xs:element name="harnid" type="harnidType"/>
	<xs:element name="harninfo" type="harninfoType"/>
	<xs:element name="harnsize" type="harnsizeType"/>
	<xs:element name="hazd" type="hazdType"/>
	<xs:element name="hotspot" type="hotspotType"/>
	<xs:element name="hydpwr" type="hydpwrType"/>
	<xs:element name="ics" type="icsType"/>
	<xs:element name="ict" type="ictType"/>
	<xs:element name="icy" type="icyType"/>
	<xs:element name="ident-sleeve" type="ident-sleeveType"/>
	<xs:element name="ident-sleeves" type="ident-sleevesType"/>
	<xs:element name="identno" type="identnoType"/>
	<xs:element name="idivide" type="operationType"/>
	<xs:element name="idstatus" type="idstatusType"/>
	<xs:element name="if" type="ifType"/>
	<xs:element name="ifault" type="ifaultType"/>
	<xs:element name="illref" type="illrefType"/>
	<xs:element name="ils" type="ilsType"/>
	<xs:element name="impedance" type="impedanceType"/>
	<xs:element name="incorplist" type="incorplistType"/>
	<xs:element name="incorporation" type="incorporationType"/>
	<xs:element name="index" type="indexType"/>
	<xs:element name="indxflag" type="indxflagType"/>
	<xs:element name="inform" type="informType"/>
	<xs:element name="initialize" type="initializeType"/>
	<xs:element name="inline" type="inlineType"/>
	<xs:element name="inlineapplics" type="applicsType"/>
	<xs:element name="inspection" type="inspectionType"/>
	<xs:element name="instinfo" type="instinfoType"/>
	<xs:element name="instloc" type="instlocType"/>
	<xs:element name="instruct" type="instructType"/>
	<xs:element name="intersect" type="operationType"/>
	<xs:element name="ipc" type="ipcType"/>
	<xs:element name="ipp" type="ippType"/>
	<xs:element name="ippref" type="ipprefType"/>
	<xs:element name="isn" type="isnType"/>
	<xs:element name="isoend" type="isoendType"/>
	<xs:element name="isolate" type="isolateType"/>
	<xs:element name="isolatep" type="isolatepType"/>
	<xs:element name="isoproc" type="isoprocType"/>
	<xs:element name="isostep" type="isostepType"/>
	<xs:element name="issdate" type="issdateType"/>
	<xs:element name="issno" type="issnoType"/>
	<xs:element name="item" type="itemType"/>
	<xs:element name="jacked" type="jackedType"/>
	<xs:element name="kwd" type="kwdType"/>
	<xs:element name="language" type="languageType"/>
	<xs:element name="le" type="operationType"/>
	<xs:element name="legend" type="legendType"/>
	<xs:element name="length" type="lengthType"/>
	<xs:element name="lfm" type="lfmType"/>
	<xs:element name="limit" type="limitType"/>
	<xs:element name="limittype" type="limittypeType"/>
	<xs:element name="limrange" type="limrangeType"/>
	<xs:element name="locandrep" type="locandrepType"/>
	<xs:element name="location" type="locationType"/>
	<xs:element name="lrlruitem" type="lrlruitemType"/>
	<xs:element name="lrsruitem" type="lrsruitemType"/>
	<xs:element name="lru" type="lruType"/>
	<xs:element name="lruitem" type="lruitemType"/>
	<xs:element name="lt" type="operationType"/>
	<xs:element name="mainfunc" type="mainfuncType"/>
	<!--<xs:element name="maintlevel" type="maintlevelType"/>-->
	<xs:element name="mass" type="massType"/>
	<xs:element name="maxd" type="maxdType"/>
	<xs:element name="maxh" type="maxhType"/>
	<xs:element name="maxt" type="maxtType"/>
	<xs:element name="member" type="operationType"/>
	<xs:element name="menu" type="menuType"/>
	<xs:element name="menuchoice" type="menuchoiceType"/>
	<xs:element name="message" type="messageType"/>
	<xs:element name="message-alt" type="message-altType"/>
	<xs:element name="mfc" type="mfcType"/>
	<xs:element name="mfm" type="mfmType"/>
	<xs:element name="mind" type="mindType"/>
	<xs:element name="minh" type="minhType"/>
	<xs:element name="mint" type="mintType"/>
	<xs:element name="minus" type="operationType"/>
	<!--<xs:element name="mntlvl" type="mntlvlType"/>-->
	<xs:element name="mod" type="modType"/>
	<!--<xs:element name="model" type="modelType"/>-->
	<xs:element name="modulus" type="operationType"/>
	<xs:element name="monitored" type="monitoredType"/>
	<xs:element name="mov" type="movType"/>
	<xs:element name="msg-wmlf-desc" type="msg-wmlf-descType"/>
	<xs:element name="msgdesc" type="wmlfMsgDescType"/>
	<xs:element name="multimedia" type="multimediaType"/>
	<xs:element name="multimediaobject" type="multimediaobjectType"/>
	<xs:element name="n2d" type="n2dType"/>
	<xs:element name="n2ddata" type="n2ddataType"/>
	<xs:element name="nature" type="natureType"/>
	<xs:element name="ne" type="operationType"/>
	<xs:element name="neg" type="operationType"/>
	<xs:element name="nhassy" type="nhassyType"/>
	<xs:element name="nil" type="nilType"/>
	<xs:element name="no" type="noType"/>
	<xs:element name="noassertions" type="noassertionsType"/>
	<xs:element name="noconds" type="nocondsType"/>
	<xs:element name="nomdata" type="nomdataType"/>
	<xs:element name="nomen" type="nomenType"/>
	<xs:element name="nosafety" type="nosafetyType"/>
	<xs:element name="nospares" type="nosparesType"/>
	<xs:element name="nosupeq" type="nosupeqType"/>
	<xs:element name="nosupply" type="nosupplyType"/>
	<xs:element name="not" type="operationType"/>
	<xs:element name="notationrules" type="notationrulesType"/>
	<xs:element name="note" type="noteType"/>
	<xs:element name="notname" type="notnameType"/>
	<xs:element name="notrule" type="notruleType"/>
	<xs:element name="novalue" type="operationType"/>
	<xs:element name="nsn" type="nsnType"/>
	<xs:element name="objpath" type="objpathType"/>
	<xs:element name="objrule" type="objruleType"/>
	<xs:element name="objuse" type="objuseType"/>
	<xs:element name="objval" type="objvalType"/>
	<xs:element name="obsolete" type="obsoleteType"/>
	<xs:element name="ofault" type="ofaultType"/>
	<!--
	<xs:element name="opcond" type="opcondType"/>
	<xs:element name="opconds" type="opcondsType"/>
	-->
	<xs:element name="openhour" type="openhourType"/>
	<!--<xs:element name="operator" type="operatorType"/>-->
	<xs:element name="opn" type="opnType"/>
	<xs:element name="opndurn" type="opndurnType"/>
	<xs:element name="opt" type="optType"/>
	<xs:element name="or" type="operationType"/>
	<xs:element name="organizationid" type="organizationidType"/>
	<xs:element name="organizationinfo" type="organizationinfoType"/>
	<xs:element name="organizationlist" type="organizationlistType"/>
	<xs:element name="organizationref" type="organizationrefType"/>
	<xs:element name="orig" type="origType"/>
	<xs:element name="osc" type="oscType"/>
	<xs:element name="others" type="othersType"/>
	<xs:element name="outdia" type="outdiaType"/>
	<xs:element name="p" type="pType"/>
	<xs:element name="packaging" type="packagingType"/>
	<xs:element name="page-loc" type="page-locType"/>
	<xs:element name="para" type="paraType"/>
	<xs:element name="para0" type="para0Type"/>
	<xs:element name="param" type="paramType"/>
	<xs:element name="parasigdata" type="parasigdataType"/>
	<xs:element name="part" type="partType"/>
	<xs:element name="partid" type="partidType"/>
	<xs:element name="partinfo" type="partinfoType"/>
	<xs:element name="partlist" type="partlistType"/>
	<xs:element name="partref" type="partrefType"/>
	<xs:element name="pas" type="pasType"/>
	<xs:element name="pcs" type="pcsType"/>
	<xs:element name="pct" type="pctType"/>
	<xs:element name="pctref" type="pctrefType"/>
	<xs:element name="perscat" type="perscatType"/>
	<xs:element name="perskill" type="perskillType"/>
	<xs:element name="person" type="personType"/>
	<xs:element name="plus" type="operationType"/>
	<xs:element name="pmc" type="pmcType"/>
	<xs:element name="pmd" type="pmdType"/>
	<xs:element name="pnr" type="pnrType"/>
	<xs:element name="polref" type="polrefType"/>
	<xs:element name="posnhassy" type="posnhassyType"/>
	<xs:element name="postset" type="postsetType"/>
	<!--
	<xs:element name="prdcrossreftable" type="prdcrossreftableType"/>
	<xs:element name="prddata" type="prddataType"/>
	<xs:element name="prdlist" type="prdlistType"/>
	<xs:element name="prdnbr" type="prdnbrType"/>
	<xs:element name="prdsetref" type="prdsetrefType"/>
	<xs:element name="prdstatus" type="prdstatusType"/>
	-->
	<xs:element name="pre" type="preType"/>
	<xs:element name="prelreqs" type="prelreqsType"/>
	<xs:element name="preset" type="presetType"/>
	<xs:element name="procd" type="procdType"/>
	<xs:element name="procdata" type="procdataType"/>
	<xs:element name="proced" type="procedType"/>
	<xs:element name="process" type="processType"/>
	<xs:element name="prodattr" type="prodattrType"/>
	<xs:element name="product" type="productType"/>
	<xs:element name="productattributes" type="productattributesType"/>
	<xs:element name="prompt" type="promptType"/>
	<xs:element name="provisioned" type="provisionedType"/>
	<xs:element name="psc" type="pscType"/>
	<xs:element name="psp" type="pspType"/>
	<xs:element name="pubcode" type="pubcodeType"/>
	<xs:element name="pubdate" type="pubdateType"/>
	<xs:element name="qa" type="qaType"/>
	<xs:element name="qna" type="qnaType"/>
	<xs:element name="qty" type="qtyType"/>
	<xs:element name="qtygrp" type="qtygrpType"/>
	<xs:element name="qtytolerance" type="qtytoleranceType"/>
	<xs:element name="qtyvalue" type="qtyvalueType"/>
	<xs:element name="quantity" type="quantityType"/>
	<xs:element name="randlist" type="randlistType"/>
	<xs:element name="range" type="rangeType"/>
	<!--<xs:element name="rank" type="rankType"/>-->
	<xs:element name="rcmdqty" type="rcmdqtyType"/>
	<xs:element name="recbyname" type="recbynameType"/>
	<xs:element name="recbypos" type="recbyposType"/>
	<xs:element name="receive" type="receiveType"/>
	<xs:element name="recommendation" type="recommendationType"/>
	<xs:element name="refdm" type="refdmType"/>
	<xs:element name="refinspec" type="refinspecType"/>
	<xs:element name="refs" type="refsType"/>
	<xs:element name="reftp" type="reftpType"/>
	<!--<xs:element name="registnbr" type="registnbrType"/>-->
	<xs:element name="remark" type="remarkType"/>
	<xs:element name="remarks" type="remarksType"/>
	<xs:element name="remove" type="operationType"/>
	<xs:element name="repair" type="repairType"/>
	<xs:element name="reqcblst" type="reqcblstType"/>
	<xs:element name="reqcond" type="reqcondType"/>
	<xs:element name="reqcondm" type="reqcondmType"/>
	<xs:element name="reqconds" type="reqcondsType"/>
	<xs:element name="reqcontp" type="reqcontpType"/>
	<xs:element name="reqpers" type="reqpersType"/>
	<xs:element name="reqsource" type="reqsourceType"/>
	<xs:element name="res" type="resType"/>
	<xs:element name="response" type="responseType"/>
	<xs:element name="retrofit" type="retrofitType"/>
	<!--<xs:element name="revision" type="revisionType"/>-->
	<xs:element name="rfa" type="rfaType"/>
	<xs:element name="rfd" type="rfdType"/>
	<xs:element name="rfs" type="rfsType"/>
	<xs:element name="rfu" type="rfuType"/>
	<xs:element name="routing" type="routingType"/>
	<xs:element name="row" type="rowType"/>
	<xs:element name="rpc" type="rpcType"/>
	<xs:element name="rplby" type="rplbyType"/>
	<xs:element name="rtx" type="rtxType"/>
	<xs:element name="safecond" type="safecondType"/>
	<xs:element name="safedev" type="safedevType"/>
	<xs:element name="safety" type="safetyType"/>
	<xs:element name="sbc" type="sbcType"/>
	<xs:element name="schedule" type="scheduleType"/>
	<!--<xs:element name="scheduled" type="prodListType"/>-->
	<xs:element name="screen" type="screenType"/>
	<xs:element name="screens" type="screensType"/>
	<xs:element name="sdia" type="sdiaType"/>
	<xs:element name="security" type="securityType"/>
	<xs:element name="secver" type="secverType"/>
	<xs:element name="sel-list" type="sel-listType"/>
	<xs:element name="send" type="sendType"/>
	<xs:element name="seqlist" type="seqlistType"/>
	<xs:element name="serialno" type="serialnoType"/>
	<xs:element name="set" type="setType"/>
	<xs:element name="set-diff" type="operationType"/>
	<!--<xs:element name="sheet" type="sheetType"/>-->
	<xs:element name="shelflife" type="shelflifeType"/>
	<xs:element name="shippinginfo" type="shippinginfoType"/>
	<xs:element name="shrink-sleeve" type="shrink-sleeveType"/>
	<xs:element name="shrink-sleeves" type="shrink-sleevesType"/>
	<xs:element name="sibplugid" type="sibplugidType"/>
	<xs:element name="sid" type="sidType"/>
	<xs:element name="side" type="sideType"/>
	<xs:element name="size" type="sizeType"/>
	<xs:element name="sizeof" type="operation"/>
	<xs:element name="skill" type="skillType"/>
	<xs:element name="sleeve" type="sleeveType"/>
	<xs:element name="sleeves" type="sleevesType"/>
	<xs:element name="smf" type="smfType"/>
	<xs:element name="smr" type="smrType"/>
	<xs:element name="sns" type="snsType"/>
	<xs:element name="solder-sleeve" type="solder-sleeveType"/>
	<xs:element name="solder-sleeves" type="solder-sleevesType"/>
	<xs:element name="spanspec" type="spanspecType"/>
	<xs:element name="spare" type="spareType"/>
	<xs:element name="spares" type="sparesType"/>
	<xs:element name="sparesli" type="sparesliType"/>
	<xs:element name="spc" type="spcType"/>
	<xs:element name="spec" type="specType"/>
	<xs:element name="speciallbl" type="speciallblType"/>
	<xs:element name="speclist" type="speclistType"/>
	<xs:element name="spl" type="splType"/>
	<xs:element name="srcdmaddres" type="srcdmaddresType"/>
	<xs:element name="sru" type="sruType"/>
	<xs:element name="sruitem" type="sruitemType"/>
	<xs:element name="srv" type="srvType"/>
	<xs:element name="status" type="statusType"/>
	<xs:element name="stdparts" type="stdpartsType"/>
	<xs:element name="step" type="stepType"/>
	<xs:element name="step1" type="step1Type"/>
	<xs:element name="step1-alt" type="step1-altType"/>
	<xs:element name="step2" type="step2Type"/>
	<xs:element name="step2-alt" type="step2-altType"/>
	<xs:element name="step3" type="step3Type"/>
	<xs:element name="step3-alt" type="step3-altType"/>
	<xs:element name="step4" type="step4Type"/>
	<xs:element name="step4-alt" type="step4-altType"/>
	<xs:element name="step5" type="step5Type"/>
	<xs:element name="step5-alt" type="step5-altType"/>
	<xs:element name="step6" type="step6Type"/>
	<xs:element name="step6-alt" type="step6-altType"/>
	<xs:element name="step7" type="step7Type"/>
	<xs:element name="step7-alt" type="step7-altType"/>
	<xs:element name="step8" type="step8Type"/>
	<xs:element name="step8-alt" type="step8-altType"/>
	<xs:element name="stocknbr" type="stocknbrType"/>
	<xs:element name="str" type="strType"/>
	<xs:element name="structrules" type="structrulesType"/>
	<xs:element name="subdrill" type="subdrillType"/>
	<xs:element name="subpara1" type="subpara1Type"/>
	<xs:element name="subpara2" type="subpara2Type"/>
	<xs:element name="subpara3" type="subpara3Type"/>
	<xs:element name="subpara4" type="subpara4Type"/>
	<xs:element name="subpara5" type="subpara5Type"/>
	<xs:element name="subpara6" type="subpara6Type"/>
	<xs:element name="subpara7" type="subpara7Type"/>
	<xs:element name="subset" type="operationType"/>
	<xs:element name="substring" type="operationType"/>
	<xs:element name="subsys-name" type="subsys-nameType"/>
	<xs:element name="sup" type="supType"/>
	<xs:element name="supeqli" type="supeqliType"/>
	<xs:element name="supequi" type="supequiType"/>
	<xs:element name="supequip" type="supequipType"/>
	<xs:element name="supervis" type="supervisType"/>
	<xs:element name="suplist" type="suplistType"/>
	<xs:element name="supplies" type="suppliesType"/>
	<xs:element name="supply" type="supplyType"/>
	<xs:element name="supplyli" type="supplyliType"/>
	<xs:element name="symbol" type="symbolType"/>
	<xs:element name="sys-ident" type="sys-identType"/>
	<xs:element name="sys-loc" type="sys-locType"/>
	<xs:element name="sys-name" type="sys-nameType"/>
	<xs:element name="sys-pos" type="sys-posType"/>
	<xs:element name="table" type="tableType"/>
	<xs:element name="tabtitle" type="tabtitleType"/>
	<xs:element name="taskcode" type="taskcodeType"/>
	<xs:element name="taskitem" type="taskitemType"/>
	<xs:element name="tasklist" type="tasklistType"/>
	<xs:element name="tbody" type="tbodyType"/>
	<!--
	<xs:element name="techcond" type="techcondType"/>
	<xs:element name="techcondcrossreftable" type="techcondcrossreftableType"/>
	<xs:element name="techcondid" type="techcondidType"/>
	<xs:element name="techcondinfo" type="techcondinfoType"/>
	-->
	<xs:element name="techcondition" type="techConditionType"/>
	<!--
	<xs:element name="techcondref" type="techcondrefType"/>
	<xs:element name="techconds" type="techcondsType"/>
	-->
	<xs:element name="techdata" type="techdataType"/>
	<xs:element name="techrep" type="techrepType"/>
	<xs:element name="techstd" type="techstdType"/>
	<xs:element name="temp" type="tempType"/>
	<xs:element name="term" type="termType"/>
	<xs:element name="test" type="testType"/>
	<xs:element name="testdesc" type="testdescType"/>
	<xs:element name="testproc" type="testprocType"/>
	<!--<xs:element name="textual-desc" type="textual-descType"/>-->
	<xs:element name="tfoot" type="tfootType"/>
	<xs:element name="tgroup" type="tgroupType"/>
	<xs:element name="thead" type="theadType"/>
	<xs:element name="thi" type="thiType"/>
	<xs:element name="threshold" type="thresholdType"/>
	<xs:element name="timelim" type="timelimType"/>
	<xs:element name="timelimit" type="timelimitType"/>
	<xs:element name="times" type="operationType"/>
	<xs:element name="title" type="titleType"/>
	<xs:element name="to" type="toType"/>
	<xs:element name="toequip" type="toequipType"/>
	<xs:element name="tolerance" type="toleranceType"/>
	<xs:element name="tool" type="toolType"/>
	<xs:element name="toolalt" type="toolaltType"/>
	<xs:element name="toolid" type="toolidType"/>
	<xs:element name="toolinfo" type="toolinfoType"/>
	<xs:element name="toollist" type="toollistType"/>
	<xs:element name="toolref" type="toolrefType"/>
	<xs:element name="trade" type="tradeType"/>
	<xs:element name="transport" type="transportType"/>
	<xs:element name="trigger" type="triggerType"/>
	<xs:element name="trl" type="trlType"/>
	<xs:element name="true" type="operationType"/>
	<xs:element name="trunc" type="operationType"/>
	<xs:element name="twist" type="twistType"/>
	<xs:element name="twists" type="twistsType"/>
	<xs:element name="uca" type="ucaType"/>
	<xs:element name="uce" type="uceType"/>
	<xs:element name="union" type="operationType"/>
	<xs:element name="unverif" type="unverifType"/>
	<xs:element name="uoi" type="uoiType"/>
	<xs:element name="usage" type="usageType"/>
	<xs:element name="usgcat" type="usgcatType"/>
	<xs:element name="validate" type="validateType"/>
	<xs:element name="variable" type="variableType"/>
	<xs:element name="variable-declarations" type="variable-declarationsType"/>
	<xs:element name="variable-ref" type="variable-refType"/>
	<xs:element name="vas" type="vasType"/>
	<xs:element name="verbatim" type="verbatimType"/>
	<!--
	<xs:element name="version" type="versionType"/>
	<xs:element name="versrank" type="versrankType"/>
	-->
	<xs:element name="voltage" type="voltageType"/>
	<xs:element name="vpart" type="vpartType"/>
	<xs:element name="vparts" type="vpartsType"/>
	<xs:element name="wallthk" type="wallthkType"/>
	<xs:element name="warning" type="warningType"/>
	<xs:element name="water" type="waterType"/>
	<xs:element name="wire" type="wireType"/>
	<xs:element name="wire-mat" type="wire-matType"/>
	<xs:element name="wire-mats" type="wire-matsType"/>
	<xs:element name="wirecode" type="wirecodeType"/>
	<xs:element name="wireconcode" type="wireconcodeType"/>
	<xs:element name="wireconnection" type="wireconnectionType"/>
	<xs:element name="wiregauge" type="wiregaugeType"/>
	<xs:element name="wireid" type="wireidType"/>
	<xs:element name="wireinformation" type="wireinformationType"/>
	<xs:element name="wireins" type="wireinsType"/>
	<xs:element name="wires" type="wiresType"/>
	<xs:element name="wmlf2desc" type="wmlfMsgDescType"/>
	<xs:element name="wmlfdesc" type="wmlfMsgDescType"/>
	<xs:element name="wrngdata" type="wrngdataType"/>
	<xs:element name="wrngflds" type="wrngfldsType"/>
	<xs:element name="xor" type="operationType"/>
	<xs:element name="xref" type="xrefType"/>
	<xs:element name="yes" type="yesType"/>
	<xs:element name="yesno" type="yesnoType"/>
	<xs:element name="zone" type="zoneType"/>
	<xs:element name="zonealt" type="zonealtType"/>
	<xs:element name="zoneid" type="zoneidType"/>
	<xs:element name="zoneinfo" type="zoneinfoType"/>
	<xs:element name="zonelist" type="zonelistType"/>
	<xs:element name="zoneref" type="zonerefType"/>
	<xs:element name="zones" type="zonesType"/>
</xs:schema>
