RCM CRH Fault Reporting App/schemas/AECMA3-0/xml_schema_master/xcf/complexElements.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:include schemaLocation="complexTypes.xsd"/>
	<xs:element name="bindById" type="bindByIdType"/>
	<xs:element name="bindByName" type="bindByNameType"/>
	<xs:element name="grobject" type="grobjectType"/>
	<xs:element name="linkuri" type="linkuriType"/>
</xs:schema>
