RCM CRH Fault Reporting App/schemas/AECMA3-0/xml_dtd/dtd/comment.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ENTITY % ISOENTS PUBLIC "-//S1000D//ENTITIES ISO Entity Definitions 20030531//EN//XML" "isoents.ent">
%ISOENTS;

<!ENTITY % NOTATIONS PUBLIC "-//S1000D//ENTITIES NOTATION Definitions 20070228//EN" "notations.ent">
%NOTATIONS;

<!ENTITY % XLINK PUBLIC "-//S1000D//ELEMENTS XLINK Definitions 20030531//EN//XML" "xlink.ent">
%XLINK;

<!ENTITY % RDFDC PUBLIC "-//S1000D//ELEMENTS RDFDC Definitions 20070228//EN//XML" "rdfdc.ent">
%RDFDC;


<!ELEMENT comment (rdf:Description?, cstatus, ccontent)>
<!ATTLIST comment
	id	ID	#IMPLIED
	%RDFDCATT;
>

<!ELEMENT cstatus (ccode, ctitle?, issdate, language?, corig, security, datarest?, priority, response?, crefs, remarks?)>

<!ELEMENT ccode (modelic, sendid, diyear, seqnum, ctype)>

<!ELEMENT modelic (#PCDATA)>

<!ELEMENT sendid (#PCDATA)>

<!ELEMENT diyear (#PCDATA)>

<!ELEMENT seqnum (#PCDATA)>

<!ELEMENT ctype EMPTY>
<!ATTLIST ctype
	type	(q | i | r)	#REQUIRED
>

<!ELEMENT ctitle (#PCDATA)>

<!ELEMENT issdate EMPTY>
<!ATTLIST issdate
	year	NMTOKEN	#REQUIRED
	month	NMTOKEN	#REQUIRED
	day	NMTOKEN	#REQUIRED
>

<!ELEMENT language EMPTY>
<!ATTLIST language
	language	CDATA	#REQUIRED
	country	CDATA	#IMPLIED
>

<!ELEMENT corig (dispaddr)>

<!ELEMENT dispaddr (enterprise, person?, address)>

<!ELEMENT enterprise (ent-name, division?, ent-unit?)>
<!ATTLIST enterprise
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT ent-name (#PCDATA)>

<!ELEMENT division (#PCDATA)>

<!ELEMENT ent-unit (#PCDATA)>

<!ELEMENT person (lastname, firstname?, jobtitle?)>
<!ATTLIST person
	prefix	CDATA	#IMPLIED
>

<!ELEMENT lastname (#PCDATA)>

<!ELEMENT firstname (#PCDATA)>

<!ELEMENT jobtitle (#PCDATA)>

<!ELEMENT address (dept?, street?, pobox?, zip?, city, postcode?, country, state?, province?, building?, room?, phone*, fax*, email*, internet*)>
<!ATTLIST address
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT dept (#PCDATA)>

<!ELEMENT street (#PCDATA)>

<!ELEMENT pobox (#PCDATA)>

<!ELEMENT zip (#PCDATA)>

<!ELEMENT city (#PCDATA)>

<!ELEMENT postcode (#PCDATA)>

<!ELEMENT country (#PCDATA)>

<!ELEMENT state (#PCDATA)>

<!ELEMENT province (#PCDATA)>

<!ELEMENT building (#PCDATA)>

<!ELEMENT room (#PCDATA)>

<!ELEMENT phone (#PCDATA)>

<!ELEMENT fax (#PCDATA)>

<!ELEMENT email (#PCDATA)>

<!ELEMENT internet (#PCDATA)>

<!ELEMENT security EMPTY>
<!ATTLIST security
	class	(01 | 02 | 03 | 04 | 05 | 06 | 07 | 08 | 09 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 50 | 51 | 52 | 53 | 54 | 55 | 56 | 57 | 58 | 59 | 60 | 61 | 62 | 63 | 64 | 65 | 66 | 67 | 68 | 69 | 70 | 71 | 72 | 73 | 74 | 75 | 76 | 77 | 78 | 79 | 80 | 81 | 82 | 83 | 84 | 85 | 86 | 87 | 88 | 89 | 90 | 91 | 92 | 93 | 94 | 95 | 96 | 97 | 98 | 99)	#REQUIRED
	commcls	(cc01 | cc02 | cc03 | cc04 | cc05 | cc06 | cc07 | cc08 | cc09 | cc10 | cc11 | cc12 | cc13 | cc14 | cc15 | cc16 | cc17 | cc18 | cc19 | cc20 | cc21 | cc22 | cc23 | cc24 | cc25 | cc26 | cc27 | cc28 | cc29 | cc30 | cc31 | cc32 | cc33 | cc34 | cc35 | cc36 | cc37 | cc38 | cc39 | cc40 | cc41 | cc42 | cc43 | cc44 | cc45 | cc46 | cc47 | cc48 | cc49 | cc50 | cc51 | cc52 | cc53 | cc54 | cc55 | cc56 | cc57 | cc58 | cc59 | cc60 | cc61 | cc62 | cc63 | cc64 | cc65 | cc66 | cc67 | cc68 | cc69 | cc70 | cc71 | cc72 | cc73 | cc74 | cc75 | cc76 | cc77 | cc78 | cc79 | cc80 | cc81 | cc82 | cc83 | cc84 | cc85 | cc86 | cc87 | cc88 | cc89 | cc90 | cc91 | cc92 | cc93 | cc94 | cc95 | cc96 | cc97 | cc98 | cc99)	#IMPLIED
	caveat	(cv01 | cv02 | cv03 | cv04 | cv05 | cv06 | cv07 | cv08 | cv09 | cv10 | cv11 | cv12 | cv13 | cv14 | cv15 | cv16 | cv17 | cv18 | cv19 | cv20 | cv21 | cv22 | cv23 | cv24 | cv25 | cv26 | cv27 | cv28 | cv29 | cv30 | cv31 | cv32 | cv33 | cv34 | cv35 | cv36 | cv37 | cv38 | cv39 | cv40 | cv41 | cv42 | cv43 | cv44 | cv45 | cv46 | cv47 | cv48 | cv49 | cv50 | cv51 | cv52 | cv53 | cv54 | cv55 | cv56 | cv57 | cv58 | cv59 | cv60 | cv61 | cv62 | cv63 | cv64 | cv65 | cv66 | cv67 | cv68 | cv69 | cv70 | cv71 | cv72 | cv73 | cv74 | cv75 | cv76 | cv77 | cv78 | cv79 | cv80 | cv81 | cv82 | cv83 | cv84 | cv85 | cv86 | cv87 | cv88 | cv89 | cv90 | cv91 | cv92 | cv93 | cv94 | cv95 | cv96 | cv97 | cv98 | cv99)	#IMPLIED
>

<!ELEMENT datarest (instruct, inform?)>
<!ATTLIST datarest
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT instruct (distrib, expcont?, handling?, destruct?, disclose?)>
<!ATTLIST instruct
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT distrib (#PCDATA)>
<!ATTLIST distrib
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT expcont (expstatement+, expregcode*)>
<!ATTLIST expcont
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	expregtype	CDATA	#IMPLIED
	expgovauth	CDATA	#IMPLIED
>

<!ELEMENT expstatement (p+)>
<!ATTLIST expstatement
	exprole	(partial | full)	#IMPLIED
>

<!ELEMENT p (#PCDATA | subscrpt | supscrpt)*>
<!ATTLIST p
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT subscrpt (#PCDATA)>

<!ELEMENT supscrpt (#PCDATA)>

<!ELEMENT expregcode (#PCDATA)>
<!ATTLIST expregcode
	expregcodetype	CDATA	#IMPLIED
>

<!ELEMENT handling (#PCDATA)>
<!ATTLIST handling
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT destruct (#PCDATA)>
<!ATTLIST destruct
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT disclose (#PCDATA)>
<!ATTLIST disclose
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT inform (copyright, polref?, datacond?)>
<!ATTLIST inform
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT copyright (p*)>
<!ATTLIST copyright
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT polref (#PCDATA)>
<!ATTLIST polref
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT datacond (#PCDATA)>
<!ATTLIST datacond
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT priority EMPTY>
<!ATTLIST priority
	cprio	(cp01 | cp02 | cp03 | cp04 | cp05 | cp06 | cp07 | cp08 | cp09 | cp10 | cp11 | cp12 | cp13 | cp14 | cp15 | cp16 | cp17 | cp18 | cp19 | cp20 | cp21 | cp22 | cp23 | cp24 | cp25 | cp26 | cp27 | cp28 | cp29 | cp30 | cp31 | cp32 | cp33 | cp34 | cp35 | cp36 | cp37 | cp38 | cp39 | cp40 | cp41 | cp42 | cp43 | cp44 | cp45 | cp46 | cp47 | cp48 | cp49 | cp50 | cp51 | cp52 | cp53 | cp54 | cp55 | cp56 | cp57 | cp58 | cp59 | cp60 | cp61 | cp62 | cp63 | cp64 | cp65 | cp66 | cp67 | cp68 | cp69 | cp70 | cp71 | cp72 | cp73 | cp74 | cp75 | cp76 | cp77 | cp78 | cp79 | cp80 | cp81 | cp82 | cp83 | cp84 | cp85 | cp86 | cp87 | cp88 | cp89 | cp90 | cp91 | cp92 | cp93 | cp94 | cp95 | cp96 | cp97 | cp98 | cp99)	#REQUIRED
>

<!ELEMENT response EMPTY>
<!ATTLIST response
	rsptype	(rt01 | rt02 | rt03 | rt04 | rt05 | rt06 | rt07 | rt08 | rt09 | rt10 | rt11 | rt12 | rt13 | rt14 | rt15 | rt16 | rt17 | rt18 | rt19 | rt20 | rt21 | rt22 | rt23 | rt24 | rt25 | rt26 | rt27 | rt28 | rt29 | rt30 | rt31 | rt32 | rt33 | rt34 | rt35 | rt36 | rt37 | rt38 | rt39 | rt40 | rt41 | rt42 | rt43 | rt44 | rt45 | rt46 | rt47 | rt48 | rt49 | rt50 | rt51 | rt52 | rt53 | rt54 | rt55 | rt56 | rt57 | rt58 | rt59 | rt60 | rt61 | rt62 | rt63 | rt64 | rt65 | rt66 | rt67 | rt68 | rt69 | rt70 | rt71 | rt72 | rt73 | rt74 | rt75 | rt76 | rt77 | rt78 | rt79 | rt80 | rt81 | rt82 | rt83 | rt84 | rt85 | rt86 | rt87 | rt88 | rt89 | rt90 | rt91 | rt92 | rt93 | rt94 | rt95 | rt96 | rt97 | rt98 | rt99)	#REQUIRED
>

<!ELEMENT crefs (cnorefs | crefdms | crefdmls | crefpms | crefddns)>

<!ELEMENT cnorefs EMPTY>

<!ELEMENT crefdms (crefdm+)>

<!ELEMENT crefdm ((dmcextension?, dmc, dmtitle?, issno?, issdate?, language?) | ((%XLINKEXT;)*))>
<!ATTLIST crefdm
	%XLINKATT4;
>

<!ELEMENT dmcextension (dmeproducer, dmecode)>

<!ELEMENT dmeproducer (#PCDATA)>

<!ELEMENT dmecode (#PCDATA)>

<!ELEMENT dmc (age | avee)>

<!ELEMENT age (modelic, supeqvc, ecscs, eidc, cidc, discode, discodev, incode, incodev, itemloc)>

<!ELEMENT supeqvc (#PCDATA)>

<!ELEMENT ecscs (#PCDATA)>

<!ELEMENT eidc (#PCDATA)>

<!ELEMENT cidc (#PCDATA)>

<!ELEMENT discode (#PCDATA)>

<!ELEMENT discodev (#PCDATA)>

<!ELEMENT incode (#PCDATA)>

<!ELEMENT incodev (#PCDATA)>

<!ELEMENT itemloc (#PCDATA)>

<!ELEMENT avee (modelic, sdc, chapnum, section, subsect, subject, discode, discodev, incode, incodev, itemloc)>

<!ELEMENT sdc (#PCDATA)>

<!ELEMENT chapnum (#PCDATA)>

<!ELEMENT section (#PCDATA)>

<!ELEMENT subsect (#PCDATA)>

<!ELEMENT subject (#PCDATA)>

<!ELEMENT dmtitle (techname, infoname?)>

<!ELEMENT techname (#PCDATA)>

<!ELEMENT infoname (#PCDATA)>

<!ELEMENT issno EMPTY>
<!ATTLIST issno
	issno	NMTOKEN	#REQUIRED
	inwork	NMTOKEN	#IMPLIED
	type	(new | changed | deleted | revised | status | rinstate-changed | rinstate-revised | rinstate-status)	"new"
>

<!ELEMENT crefdmls (dmlref+)>

<!ELEMENT dmlref ((dmlc, issno?) | ((%XLINKEXT;)*))>
<!ATTLIST dmlref
	%XLINKATT4;
>

<!ELEMENT dmlc (modelic, sendid, dmltype, diyear, seqnum)>

<!ELEMENT dmltype EMPTY>
<!ATTLIST dmltype
	type	(c | p | s)	#REQUIRED
>

<!ELEMENT crefpms (crefpm+)>

<!ELEMENT crefpm ((pmc, pmtitle?, issno?, issdate?, language?) | ((%XLINKEXT;)*))>
<!ATTLIST crefpm
	%XLINKATT4;
>

<!ELEMENT pmc (modelic, pmissuer, pmnumber, pmvolume)>

<!ELEMENT pmissuer (#PCDATA)>

<!ELEMENT pmnumber (#PCDATA)>

<!ELEMENT pmvolume (#PCDATA)>

<!ELEMENT pmtitle (#PCDATA)>

<!ELEMENT crefddns (crefddn+)>

<!ELEMENT crefddn ((ddnc, issdate?) | ((%XLINKEXT;)*))>
<!ATTLIST crefddn
	%XLINKATT4;
>

<!ELEMENT ddnc (modelic, sendid, recvid, diyear, seqnum)>

<!ELEMENT recvid (#PCDATA)>

<!ELEMENT remarks (#PCDATA | p)*>

<!ELEMENT ccontent (p+, refcattach*)>

<!ELEMENT refcattach (((%XLINKEXT;)*))>
<!ATTLIST refcattach
	seqatt	NMTOKEN	#REQUIRED
	extend	CDATA	#REQUIRED
	%XLINKATT4;
>
