RCM CRH Fault Reporting App/schemas/AECMA3-0/xml_dtd/dtd/schedul.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ENTITY % ISOENTS PUBLIC "-//S1000D//ENTITIES ISO Entity Definitions 20030531//EN//XML" "isoents.ent">
%ISOENTS;

<!ENTITY % NOTATIONS PUBLIC "-//S1000D//ENTITIES NOTATION Definitions 20070228//EN" "notations.ent">
%NOTATIONS;

<!ENTITY % XLINK PUBLIC "-//S1000D//ELEMENTS XLINK Definitions 20030531//EN//XML" "xlink.ent">
%XLINK;

<!ENTITY % RDFDC PUBLIC "-//S1000D//ELEMENTS RDFDC Definitions 20070228//EN//XML" "rdfdc.ent">
%RDFDC;


<!ELEMENT dmodule (rdf:Description?, idstatus, content)>
<!ATTLIST dmodule
	id	ID	#IMPLIED
	%RDFDCATT;
>

<!ELEMENT idstatus (dmaddres, status)>

<!ELEMENT dmaddres (dmcextension?, dmc, dmtitle, issno, issdate, language?)>

<!ELEMENT dmcextension (dmeproducer, dmecode)>

<!ELEMENT dmeproducer (#PCDATA)>

<!ELEMENT dmecode (#PCDATA)>

<!ELEMENT dmc (age | avee)>

<!ELEMENT age (modelic, supeqvc, ecscs, eidc, cidc, discode, discodev, incode, incodev, itemloc)>

<!ELEMENT modelic (#PCDATA)>

<!ELEMENT supeqvc (#PCDATA)>

<!ELEMENT ecscs (#PCDATA)>

<!ELEMENT eidc (#PCDATA)>

<!ELEMENT cidc (#PCDATA)>

<!ELEMENT discode (#PCDATA)>

<!ELEMENT discodev (#PCDATA)>

<!ELEMENT incode (#PCDATA)>

<!ELEMENT incodev (#PCDATA)>

<!ELEMENT itemloc (#PCDATA)>

<!ELEMENT avee (modelic, sdc, chapnum, section, subsect, subject, discode, discodev, incode, incodev, itemloc)>

<!ELEMENT sdc (#PCDATA)>

<!ELEMENT chapnum (#PCDATA)>

<!ELEMENT section (#PCDATA)>

<!ELEMENT subsect (#PCDATA)>

<!ELEMENT subject (#PCDATA)>

<!ELEMENT dmtitle (techname, infoname?)>

<!ELEMENT techname (#PCDATA)>

<!ELEMENT infoname (#PCDATA)>

<!ELEMENT issno EMPTY>
<!ATTLIST issno
	issno	NMTOKEN	#REQUIRED
	inwork	NMTOKEN	#IMPLIED
	type	(new | changed | deleted | revised | status | rinstate-changed | rinstate-revised | rinstate-status)	"new"
>

<!ELEMENT issdate EMPTY>
<!ATTLIST issdate
	year	NMTOKEN	#REQUIRED
	month	NMTOKEN	#REQUIRED
	day	NMTOKEN	#REQUIRED
>

<!ELEMENT language EMPTY>
<!ATTLIST language
	language	CDATA	#REQUIRED
	country	CDATA	#IMPLIED
>

<!ELEMENT status (srcdmaddres?, security, datarest*, dmsize?, rpc, orig, actref?, applic, inlineapplics?, techstd?, brexref, qa+, ((sbc | fic | ein)*), skill?, rfu*, remarks*)>
<!ATTLIST status
	id	ID	#IMPLIED
>

<!ELEMENT srcdmaddres (dmcextension?, dmc, dmtitle, issno, issdate, language?)>

<!ELEMENT security EMPTY>
<!ATTLIST security
	class	(01 | 02 | 03 | 04 | 05 | 06 | 07 | 08 | 09 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 50 | 51 | 52 | 53 | 54 | 55 | 56 | 57 | 58 | 59 | 60 | 61 | 62 | 63 | 64 | 65 | 66 | 67 | 68 | 69 | 70 | 71 | 72 | 73 | 74 | 75 | 76 | 77 | 78 | 79 | 80 | 81 | 82 | 83 | 84 | 85 | 86 | 87 | 88 | 89 | 90 | 91 | 92 | 93 | 94 | 95 | 96 | 97 | 98 | 99)	#REQUIRED
	commcls	(cc01 | cc02 | cc03 | cc04 | cc05 | cc06 | cc07 | cc08 | cc09 | cc10 | cc11 | cc12 | cc13 | cc14 | cc15 | cc16 | cc17 | cc18 | cc19 | cc20 | cc21 | cc22 | cc23 | cc24 | cc25 | cc26 | cc27 | cc28 | cc29 | cc30 | cc31 | cc32 | cc33 | cc34 | cc35 | cc36 | cc37 | cc38 | cc39 | cc40 | cc41 | cc42 | cc43 | cc44 | cc45 | cc46 | cc47 | cc48 | cc49 | cc50 | cc51 | cc52 | cc53 | cc54 | cc55 | cc56 | cc57 | cc58 | cc59 | cc60 | cc61 | cc62 | cc63 | cc64 | cc65 | cc66 | cc67 | cc68 | cc69 | cc70 | cc71 | cc72 | cc73 | cc74 | cc75 | cc76 | cc77 | cc78 | cc79 | cc80 | cc81 | cc82 | cc83 | cc84 | cc85 | cc86 | cc87 | cc88 | cc89 | cc90 | cc91 | cc92 | cc93 | cc94 | cc95 | cc96 | cc97 | cc98 | cc99)	#IMPLIED
	caveat	(cv01 | cv02 | cv03 | cv04 | cv05 | cv06 | cv07 | cv08 | cv09 | cv10 | cv11 | cv12 | cv13 | cv14 | cv15 | cv16 | cv17 | cv18 | cv19 | cv20 | cv21 | cv22 | cv23 | cv24 | cv25 | cv26 | cv27 | cv28 | cv29 | cv30 | cv31 | cv32 | cv33 | cv34 | cv35 | cv36 | cv37 | cv38 | cv39 | cv40 | cv41 | cv42 | cv43 | cv44 | cv45 | cv46 | cv47 | cv48 | cv49 | cv50 | cv51 | cv52 | cv53 | cv54 | cv55 | cv56 | cv57 | cv58 | cv59 | cv60 | cv61 | cv62 | cv63 | cv64 | cv65 | cv66 | cv67 | cv68 | cv69 | cv70 | cv71 | cv72 | cv73 | cv74 | cv75 | cv76 | cv77 | cv78 | cv79 | cv80 | cv81 | cv82 | cv83 | cv84 | cv85 | cv86 | cv87 | cv88 | cv89 | cv90 | cv91 | cv92 | cv93 | cv94 | cv95 | cv96 | cv97 | cv98 | cv99)	#IMPLIED
>

<!ELEMENT datarest (applic?, instruct, inform?)>
<!ATTLIST datarest
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT applic ((displaytext, ((assert | evaluate)?)) | (assert | evaluate))>
<!ATTLIST applic
	applicconf	(allowed | built | designed | installed | manufactured | supported)	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT displaytext (#PCDATA | p)*>

<!ELEMENT p (#PCDATA | subscrpt | supscrpt)*>
<!ATTLIST p
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT subscrpt (#PCDATA)>

<!ELEMENT supscrpt (#PCDATA)>

<!ELEMENT assert (#PCDATA)>
<!ATTLIST assert
	actidref	CDATA	#IMPLIED
	actreftype	(condition | prodattr)	#IMPLIED
	actvalues	CDATA	#IMPLIED
	displayclass	CDATA	#IMPLIED
>

<!ELEMENT evaluate ((evaluate | assert)+)>
<!ATTLIST evaluate
	operator	(and | or)	#REQUIRED
	displayclass	CDATA	#IMPLIED
>

<!ELEMENT instruct (distrib, expcont?, handling?, destruct?, disclose?)>
<!ATTLIST instruct
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT distrib (#PCDATA)>
<!ATTLIST distrib
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT expcont (expstatement+, expregcode*)>
<!ATTLIST expcont
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	expregtype	CDATA	#IMPLIED
	expgovauth	CDATA	#IMPLIED
>

<!ELEMENT expstatement ((p | refdm)+)>
<!ATTLIST expstatement
	exprole	(partial | full)	#IMPLIED
>

<!ELEMENT refdm ((applic?, dmcextension?, (age | avee), issno?, dmtitle?, language?) | ((%XLINKEXT;)*))>
<!ATTLIST refdm
	target	CDATA	#IMPLIED
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
	%XLINKATT;
>

<!ELEMENT expregcode (#PCDATA)>
<!ATTLIST expregcode
	expregcodetype	CDATA	#IMPLIED
>

<!ELEMENT handling (#PCDATA)>
<!ATTLIST handling
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT destruct (#PCDATA)>
<!ATTLIST destruct
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT disclose (#PCDATA)>
<!ATTLIST disclose
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT inform (copyright, polref?, datacond?)>
<!ATTLIST inform
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT copyright (para+)>
<!ATTLIST copyright
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT para (#PCDATA | applic | ein | cb | parasigdata | quantity | xref | indxflag | change | emphasis | symbol | subscrpt | supscrpt | refdm | reftp | ftnote | ftnref | acronym | acroterm | seqlist | randlist | deflist)*>
<!ATTLIST para
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
	class	(01 | 02 | 03 | 04 | 05 | 06 | 07 | 08 | 09 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 50 | 51 | 52 | 53 | 54 | 55 | 56 | 57 | 58 | 59 | 60 | 61 | 62 | 63 | 64 | 65 | 66 | 67 | 68 | 69 | 70 | 71 | 72 | 73 | 74 | 75 | 76 | 77 | 78 | 79 | 80 | 81 | 82 | 83 | 84 | 85 | 86 | 87 | 88 | 89 | 90 | 91 | 92 | 93 | 94 | 95 | 96 | 97 | 98 | 99)	#IMPLIED
	commcls	(cc01 | cc02 | cc03 | cc04 | cc05 | cc06 | cc07 | cc08 | cc09 | cc10 | cc11 | cc12 | cc13 | cc14 | cc15 | cc16 | cc17 | cc18 | cc19 | cc20 | cc21 | cc22 | cc23 | cc24 | cc25 | cc26 | cc27 | cc28 | cc29 | cc30 | cc31 | cc32 | cc33 | cc34 | cc35 | cc36 | cc37 | cc38 | cc39 | cc40 | cc41 | cc42 | cc43 | cc44 | cc45 | cc46 | cc47 | cc48 | cc49 | cc50 | cc51 | cc52 | cc53 | cc54 | cc55 | cc56 | cc57 | cc58 | cc59 | cc60 | cc61 | cc62 | cc63 | cc64 | cc65 | cc66 | cc67 | cc68 | cc69 | cc70 | cc71 | cc72 | cc73 | cc74 | cc75 | cc76 | cc77 | cc78 | cc79 | cc80 | cc81 | cc82 | cc83 | cc84 | cc85 | cc86 | cc87 | cc88 | cc89 | cc90 | cc91 | cc92 | cc93 | cc94 | cc95 | cc96 | cc97 | cc98 | cc99)	#IMPLIED
	caveat	(cv01 | cv02 | cv03 | cv04 | cv05 | cv06 | cv07 | cv08 | cv09 | cv10 | cv11 | cv12 | cv13 | cv14 | cv15 | cv16 | cv17 | cv18 | cv19 | cv20 | cv21 | cv22 | cv23 | cv24 | cv25 | cv26 | cv27 | cv28 | cv29 | cv30 | cv31 | cv32 | cv33 | cv34 | cv35 | cv36 | cv37 | cv38 | cv39 | cv40 | cv41 | cv42 | cv43 | cv44 | cv45 | cv46 | cv47 | cv48 | cv49 | cv50 | cv51 | cv52 | cv53 | cv54 | cv55 | cv56 | cv57 | cv58 | cv59 | cv60 | cv61 | cv62 | cv63 | cv64 | cv65 | cv66 | cv67 | cv68 | cv69 | cv70 | cv71 | cv72 | cv73 | cv74 | cv75 | cv76 | cv77 | cv78 | cv79 | cv80 | cv81 | cv82 | cv83 | cv84 | cv85 | cv86 | cv87 | cv88 | cv89 | cv90 | cv91 | cv92 | cv93 | cv94 | cv95 | cv96 | cv97 | cv98 | cv99)	#IMPLIED
>

<!ELEMENT ein (nomen?, refs?)>
<!ATTLIST ein
	einnbr	CDATA	#REQUIRED
	eintype	(exact | family)	#IMPLIED
	mfc	CDATA	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT nomen (#PCDATA)>
<!ATTLIST nomen
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT refs ((refdm+, reftp*) | reftp+)>

<!ELEMENT reftp (#PCDATA | applic | xref | indxflag | symbol | subscrpt | supscrpt | ftnref | acronym | acroterm | pubcode | pubtitle | pubdate | %XLINKEXT;)*>
<!ATTLIST reftp
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
	%XLINKATT4;
>

<!ELEMENT xref (#PCDATA | applic | subscrpt | supscrpt)*>
<!ATTLIST xref
	xrefid	IDREF	#IMPLIED
	xidtype	(figure | table | multimedia | supply | supequip | spares | para | step | graphic | multimediaobject | hotspot | param | other)	#IMPLIED
	target	CDATA	#IMPLIED
	destitle	CDATA	#IMPLIED
	pretext	CDATA	#IMPLIED
	posttext	CDATA	#IMPLIED
	refapplic	IDREF	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
	%XLINKATT3;
>

<!ELEMENT indxflag EMPTY>
<!ATTLIST indxflag
	ref1	CDATA	#IMPLIED
	ref2	CDATA	#IMPLIED
	ref3	CDATA	#IMPLIED
	ref4	CDATA	#IMPLIED
>

<!ELEMENT symbol (applic?)>
<!ATTLIST symbol
	boardno	ENTITY	#REQUIRED
	id	ID	#IMPLIED
	reprowid	CDATA	#IMPLIED
	reprohgt	CDATA	#IMPLIED
	reproscl	CDATA	#IMPLIED
	refapplic	IDREF	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
	%XLINKATT1;
>

<!ELEMENT ftnref EMPTY>
<!ATTLIST ftnref
	xrefid	IDREF	#IMPLIED
>

<!ELEMENT acronym (acroterm, acrodef)>
<!ATTLIST acronym
	acrotype	(at01 | at02 | at03 | at04 | at05 | at06 | at07 | at08 | at09 | at10 | at11 | at12 | at13 | at14 | at15 | at16 | at17 | at18 | at19 | at20 | at21 | at22 | at23 | at24 | at25 | at26 | at27 | at28 | at29 | at30 | at31 | at32 | at33 | at34 | at35 | at36 | at37 | at38 | at39 | at40 | at41 | at42 | at43 | at44 | at45 | at46 | at47 | at48 | at49 | at50 | at51 | at52 | at53 | at54 | at55 | at56 | at57 | at58 | at59 | at60 | at61 | at62 | at63 | at64 | at65 | at66 | at67 | at68 | at69 | at70 | at71 | at72 | at73 | at74 | at75 | at76 | at77 | at78 | at79 | at80 | at81 | at82 | at83 | at84 | at85 | at86 | at87 | at88 | at89 | at90 | at91 | at92 | at93 | at94 | at95 | at96 | at97 | at98 | at99)	"at01"
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT acroterm (#PCDATA | subscrpt | supscrpt)*>
<!ATTLIST acroterm
	xrefid	IDREF	#IMPLIED
>

<!ELEMENT acrodef (#PCDATA | subscrpt | supscrpt)*>
<!ATTLIST acrodef
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT pubcode (#PCDATA | pmc)*>
<!ATTLIST pubcode
	pubcodsy	CDATA	#IMPLIED
>

<!ELEMENT pmc (modelic, pmissuer, pmnumber, pmvolume)>

<!ELEMENT pmissuer (#PCDATA)>

<!ELEMENT pmnumber (#PCDATA)>

<!ELEMENT pmvolume (#PCDATA)>

<!ELEMENT pubtitle (#PCDATA)>

<!ELEMENT pubdate EMPTY>
<!ATTLIST pubdate
	year	NMTOKEN	#REQUIRED
	month	NMTOKEN	#REQUIRED
	day	NMTOKEN	#REQUIRED
>

<!ELEMENT cb (nomen?, refs?)>
<!ATTLIST cb
	cbnbr	CDATA	#REQUIRED
	cbtype	(eltro | elmec | clip)	#IMPLIED
	cbaction	(open | close | verif-open | verif-close)	#IMPLIED
	checksum	CDATA	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT parasigdata (#PCDATA)>
<!ATTLIST parasigdata
	psdtype	(psd01 | psd02 | psd03 | psd04 | psd05 | psd06 | psd07 | psd08 | psd09 | psd10 | psd11 | psd12 | psd13 | psd14 | psd15 | psd16 | psd17 | psd18 | psd19 | psd20 | psd21 | psd22 | psd23 | psd24 | psd25 | psd26 | psd27 | psd28 | psd29 | psd30 | psd31 | psd32 | psd33 | psd34 | psd35 | psd36 | psd37 | psd38 | psd39 | psd40 | psd41 | psd42 | psd43 | psd44 | psd45 | psd46 | psd47 | psd48 | psd49 | psd50 | psd51 | psd52 | psd53 | psd54 | psd55 | psd56 | psd57 | psd58 | psd59 | psd60 | psd61 | psd62 | psd63 | psd64 | psd65 | psd66 | psd67 | psd68 | psd69 | psd70 | psd71 | psd72 | psd73 | psd74 | psd75 | psd76 | psd77 | psd78 | psd79 | psd80 | psd81 | psd82 | psd83 | psd84 | psd85 | psd86 | psd87 | psd88 | psd89 | psd90 | psd91 | psd92 | psd93 | psd94 | psd95 | psd96 | psd97 | psd98 | psd99)	#REQUIRED
>

<!ELEMENT quantity (#PCDATA | qtygrp)*>
<!ATTLIST quantity
	qtytype	(qty01 | qty02 | qty03 | qty04 | qty05 | qty06 | qty07 | qty08 | qty09 | qty10 | qty11 | qty12 | qty13 | qty14 | qty15 | qty16 | qty17 | qty18 | qty19 | qty20 | qty21 | qty22 | qty23 | qty24 | qty25 | qty26 | qty27 | qty28 | qty29 | qty30 | qty31 | qty32 | qty33 | qty34 | qty35 | qty36 | qty37 | qty38 | qty39 | qty40 | qty41 | qty42 | qty43 | qty44 | qty45 | qty46 | qty47 | qty48 | qty49 | qty50 | qty51 | qty52 | qty53 | qty54 | qty55 | qty56 | qty57 | qty58 | qty59 | qty60 | qty61 | qty62 | qty63 | qty64 | qty65 | qty66 | qty67 | qty68 | qty69 | qty70 | qty71 | qty72 | qty73 | qty74 | qty75 | qty76 | qty77 | qty78 | qty79 | qty80 | qty81 | qty82 | qty83 | qty84 | qty85 | qty86 | qty87 | qty88 | qty89 | qty90 | qty91 | qty92 | qty93 | qty94 | qty95 | qty96 | qty97 | qty98 | qty99)	#IMPLIED
>

<!ELEMENT qtygrp ((qtyvalue+, qtytolerance*) | (qtytolerance+))>
<!ATTLIST qtygrp
	qtygrptype	(nominal | minimum | maximum)	"nominal"
	qtyuom	CDATA	#IMPLIED
>

<!ELEMENT qtyvalue (#PCDATA)>
<!ATTLIST qtyvalue
	qtyuom	CDATA	#IMPLIED
>

<!ELEMENT qtytolerance (#PCDATA)>
<!ATTLIST qtytolerance
	qtytoltype	(plus | minus | plusorminus)	"plusorminus"
	qtyuom	CDATA	#IMPLIED
>

<!ELEMENT change (#PCDATA | ein | cb | parasigdata | quantity | xref | indxflag | change | emphasis | symbol | subscrpt | supscrpt | refdm | reftp | ftnote | ftnref | acronym | acroterm)*>
<!ATTLIST change
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT emphasis (#PCDATA | ein | cb | parasigdata | quantity | xref | indxflag | change | emphasis | symbol | subscrpt | supscrpt | refdm | reftp | ftnote | ftnref | acronym | acroterm)*>
<!ATTLIST emphasis
	emph	(em01 | em02 | em03 | em04 | em05 | em06 | em07 | em08 | em09 | em10 | em11 | em12 | em13 | em14 | em15 | em16 | em17 | em18 | em19 | em20 | em21 | em22 | em23 | em24 | em25 | em26 | em27 | em28 | em29 | em30 | em31 | em32 | em33 | em34 | em35 | em36 | em37 | em38 | em39 | em40 | em41 | em42 | em43 | em44 | em45 | em46 | em47 | em48 | em49 | em50 | em51 | em52 | em53 | em54 | em55 | em56 | em57 | em58 | em59 | em60 | em61 | em62 | em63 | em64 | em65 | em66 | em67 | em68 | em69 | em70 | em71 | em72 | em73 | em74 | em75 | em76 | em77 | em78 | em79 | em80 | em81 | em82 | em83 | em84 | em85 | em86 | em87 | em88 | em89 | em90 | em91 | em92 | em93 | em94 | em95 | em96 | em97 | em98 | em99)	"em01"
>

<!ELEMENT ftnote (applic?, para+)>
<!ATTLIST ftnote
	ftnmark	(num | sym | alpha)	"num"
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	class	(01 | 02 | 03 | 04 | 05 | 06 | 07 | 08 | 09 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 50 | 51 | 52 | 53 | 54 | 55 | 56 | 57 | 58 | 59 | 60 | 61 | 62 | 63 | 64 | 65 | 66 | 67 | 68 | 69 | 70 | 71 | 72 | 73 | 74 | 75 | 76 | 77 | 78 | 79 | 80 | 81 | 82 | 83 | 84 | 85 | 86 | 87 | 88 | 89 | 90 | 91 | 92 | 93 | 94 | 95 | 96 | 97 | 98 | 99)	#IMPLIED
	commcls	(cc01 | cc02 | cc03 | cc04 | cc05 | cc06 | cc07 | cc08 | cc09 | cc10 | cc11 | cc12 | cc13 | cc14 | cc15 | cc16 | cc17 | cc18 | cc19 | cc20 | cc21 | cc22 | cc23 | cc24 | cc25 | cc26 | cc27 | cc28 | cc29 | cc30 | cc31 | cc32 | cc33 | cc34 | cc35 | cc36 | cc37 | cc38 | cc39 | cc40 | cc41 | cc42 | cc43 | cc44 | cc45 | cc46 | cc47 | cc48 | cc49 | cc50 | cc51 | cc52 | cc53 | cc54 | cc55 | cc56 | cc57 | cc58 | cc59 | cc60 | cc61 | cc62 | cc63 | cc64 | cc65 | cc66 | cc67 | cc68 | cc69 | cc70 | cc71 | cc72 | cc73 | cc74 | cc75 | cc76 | cc77 | cc78 | cc79 | cc80 | cc81 | cc82 | cc83 | cc84 | cc85 | cc86 | cc87 | cc88 | cc89 | cc90 | cc91 | cc92 | cc93 | cc94 | cc95 | cc96 | cc97 | cc98 | cc99)	#IMPLIED
	caveat	(cv01 | cv02 | cv03 | cv04 | cv05 | cv06 | cv07 | cv08 | cv09 | cv10 | cv11 | cv12 | cv13 | cv14 | cv15 | cv16 | cv17 | cv18 | cv19 | cv20 | cv21 | cv22 | cv23 | cv24 | cv25 | cv26 | cv27 | cv28 | cv29 | cv30 | cv31 | cv32 | cv33 | cv34 | cv35 | cv36 | cv37 | cv38 | cv39 | cv40 | cv41 | cv42 | cv43 | cv44 | cv45 | cv46 | cv47 | cv48 | cv49 | cv50 | cv51 | cv52 | cv53 | cv54 | cv55 | cv56 | cv57 | cv58 | cv59 | cv60 | cv61 | cv62 | cv63 | cv64 | cv65 | cv66 | cv67 | cv68 | cv69 | cv70 | cv71 | cv72 | cv73 | cv74 | cv75 | cv76 | cv77 | cv78 | cv79 | cv80 | cv81 | cv82 | cv83 | cv84 | cv85 | cv86 | cv87 | cv88 | cv89 | cv90 | cv91 | cv92 | cv93 | cv94 | cv95 | cv96 | cv97 | cv98 | cv99)	#IMPLIED
>

<!ELEMENT seqlist (applic?, title?, item+)>
<!ATTLIST seqlist
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
	class	(01 | 02 | 03 | 04 | 05 | 06 | 07 | 08 | 09 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 50 | 51 | 52 | 53 | 54 | 55 | 56 | 57 | 58 | 59 | 60 | 61 | 62 | 63 | 64 | 65 | 66 | 67 | 68 | 69 | 70 | 71 | 72 | 73 | 74 | 75 | 76 | 77 | 78 | 79 | 80 | 81 | 82 | 83 | 84 | 85 | 86 | 87 | 88 | 89 | 90 | 91 | 92 | 93 | 94 | 95 | 96 | 97 | 98 | 99)	#IMPLIED
	commcls	(cc01 | cc02 | cc03 | cc04 | cc05 | cc06 | cc07 | cc08 | cc09 | cc10 | cc11 | cc12 | cc13 | cc14 | cc15 | cc16 | cc17 | cc18 | cc19 | cc20 | cc21 | cc22 | cc23 | cc24 | cc25 | cc26 | cc27 | cc28 | cc29 | cc30 | cc31 | cc32 | cc33 | cc34 | cc35 | cc36 | cc37 | cc38 | cc39 | cc40 | cc41 | cc42 | cc43 | cc44 | cc45 | cc46 | cc47 | cc48 | cc49 | cc50 | cc51 | cc52 | cc53 | cc54 | cc55 | cc56 | cc57 | cc58 | cc59 | cc60 | cc61 | cc62 | cc63 | cc64 | cc65 | cc66 | cc67 | cc68 | cc69 | cc70 | cc71 | cc72 | cc73 | cc74 | cc75 | cc76 | cc77 | cc78 | cc79 | cc80 | cc81 | cc82 | cc83 | cc84 | cc85 | cc86 | cc87 | cc88 | cc89 | cc90 | cc91 | cc92 | cc93 | cc94 | cc95 | cc96 | cc97 | cc98 | cc99)	#IMPLIED
	caveat	(cv01 | cv02 | cv03 | cv04 | cv05 | cv06 | cv07 | cv08 | cv09 | cv10 | cv11 | cv12 | cv13 | cv14 | cv15 | cv16 | cv17 | cv18 | cv19 | cv20 | cv21 | cv22 | cv23 | cv24 | cv25 | cv26 | cv27 | cv28 | cv29 | cv30 | cv31 | cv32 | cv33 | cv34 | cv35 | cv36 | cv37 | cv38 | cv39 | cv40 | cv41 | cv42 | cv43 | cv44 | cv45 | cv46 | cv47 | cv48 | cv49 | cv50 | cv51 | cv52 | cv53 | cv54 | cv55 | cv56 | cv57 | cv58 | cv59 | cv60 | cv61 | cv62 | cv63 | cv64 | cv65 | cv66 | cv67 | cv68 | cv69 | cv70 | cv71 | cv72 | cv73 | cv74 | cv75 | cv76 | cv77 | cv78 | cv79 | cv80 | cv81 | cv82 | cv83 | cv84 | cv85 | cv86 | cv87 | cv88 | cv89 | cv90 | cv91 | cv92 | cv93 | cv94 | cv95 | cv96 | cv97 | cv98 | cv99)	#IMPLIED
>

<!ELEMENT title (#PCDATA | ein | cb | parasigdata | quantity | xref | indxflag | change | emphasis | symbol | subscrpt | supscrpt | refdm | reftp | ftnote | ftnref | acronym | acroterm)*>
<!ATTLIST title
	class	(01 | 02 | 03 | 04 | 05 | 06 | 07 | 08 | 09 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 50 | 51 | 52 | 53 | 54 | 55 | 56 | 57 | 58 | 59 | 60 | 61 | 62 | 63 | 64 | 65 | 66 | 67 | 68 | 69 | 70 | 71 | 72 | 73 | 74 | 75 | 76 | 77 | 78 | 79 | 80 | 81 | 82 | 83 | 84 | 85 | 86 | 87 | 88 | 89 | 90 | 91 | 92 | 93 | 94 | 95 | 96 | 97 | 98 | 99)	#IMPLIED
	commcls	(cc01 | cc02 | cc03 | cc04 | cc05 | cc06 | cc07 | cc08 | cc09 | cc10 | cc11 | cc12 | cc13 | cc14 | cc15 | cc16 | cc17 | cc18 | cc19 | cc20 | cc21 | cc22 | cc23 | cc24 | cc25 | cc26 | cc27 | cc28 | cc29 | cc30 | cc31 | cc32 | cc33 | cc34 | cc35 | cc36 | cc37 | cc38 | cc39 | cc40 | cc41 | cc42 | cc43 | cc44 | cc45 | cc46 | cc47 | cc48 | cc49 | cc50 | cc51 | cc52 | cc53 | cc54 | cc55 | cc56 | cc57 | cc58 | cc59 | cc60 | cc61 | cc62 | cc63 | cc64 | cc65 | cc66 | cc67 | cc68 | cc69 | cc70 | cc71 | cc72 | cc73 | cc74 | cc75 | cc76 | cc77 | cc78 | cc79 | cc80 | cc81 | cc82 | cc83 | cc84 | cc85 | cc86 | cc87 | cc88 | cc89 | cc90 | cc91 | cc92 | cc93 | cc94 | cc95 | cc96 | cc97 | cc98 | cc99)	#IMPLIED
	caveat	(cv01 | cv02 | cv03 | cv04 | cv05 | cv06 | cv07 | cv08 | cv09 | cv10 | cv11 | cv12 | cv13 | cv14 | cv15 | cv16 | cv17 | cv18 | cv19 | cv20 | cv21 | cv22 | cv23 | cv24 | cv25 | cv26 | cv27 | cv28 | cv29 | cv30 | cv31 | cv32 | cv33 | cv34 | cv35 | cv36 | cv37 | cv38 | cv39 | cv40 | cv41 | cv42 | cv43 | cv44 | cv45 | cv46 | cv47 | cv48 | cv49 | cv50 | cv51 | cv52 | cv53 | cv54 | cv55 | cv56 | cv57 | cv58 | cv59 | cv60 | cv61 | cv62 | cv63 | cv64 | cv65 | cv66 | cv67 | cv68 | cv69 | cv70 | cv71 | cv72 | cv73 | cv74 | cv75 | cv76 | cv77 | cv78 | cv79 | cv80 | cv81 | cv82 | cv83 | cv84 | cv85 | cv86 | cv87 | cv88 | cv89 | cv90 | cv91 | cv92 | cv93 | cv94 | cv95 | cv96 | cv97 | cv98 | cv99)	#IMPLIED
>

<!ELEMENT item (#PCDATA | applic | note | para | ein | cb | parasigdata | quantity | xref | indxflag | change | emphasis | symbol | subscrpt | supscrpt | refdm | reftp | ftnote | ftnref | acronym | acroterm | seqlist | randlist | deflist)*>
<!ATTLIST item
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT note (applic?, ((symbol | para | (seqlist | randlist | deflist))+))>
<!ATTLIST note
	type	CDATA	#IMPLIED
	refapplic	IDREF	#IMPLIED
	xrefid	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT randlist (applic?, title?, item+)>
<!ATTLIST randlist
	prefix	(pf01 | pf02 | pf03 | pf04 | pf05 | pf06 | pf07 | pf08 | pf09 | pf10 | pf11 | pf12 | pf13 | pf14 | pf15 | pf16 | pf17 | pf18 | pf19 | pf20 | pf21 | pf22 | pf23 | pf24 | pf25 | pf26 | pf27 | pf28 | pf29 | pf30 | pf31 | pf32 | pf33 | pf34 | pf35 | pf36 | pf37 | pf38 | pf39 | pf40 | pf41 | pf42 | pf43 | pf44 | pf45 | pf46 | pf47 | pf48 | pf49 | pf50 | pf51 | pf52 | pf53 | pf54 | pf55 | pf56 | pf57 | pf58 | pf59 | pf60 | pf61 | pf62 | pf63 | pf64 | pf65 | pf66 | pf67 | pf68 | pf69 | pf70 | pf71 | pf72 | pf73 | pf74 | pf75 | pf76 | pf77 | pf78 | pf79 | pf80 | pf81 | pf82 | pf83 | pf84 | pf85 | pf86 | pf87 | pf88 | pf89 | pf90 | pf91 | pf92 | pf93 | pf94 | pf95 | pf96 | pf97 | pf98 | pf99)	"pf02"
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
	class	(01 | 02 | 03 | 04 | 05 | 06 | 07 | 08 | 09 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 50 | 51 | 52 | 53 | 54 | 55 | 56 | 57 | 58 | 59 | 60 | 61 | 62 | 63 | 64 | 65 | 66 | 67 | 68 | 69 | 70 | 71 | 72 | 73 | 74 | 75 | 76 | 77 | 78 | 79 | 80 | 81 | 82 | 83 | 84 | 85 | 86 | 87 | 88 | 89 | 90 | 91 | 92 | 93 | 94 | 95 | 96 | 97 | 98 | 99)	#IMPLIED
	commcls	(cc01 | cc02 | cc03 | cc04 | cc05 | cc06 | cc07 | cc08 | cc09 | cc10 | cc11 | cc12 | cc13 | cc14 | cc15 | cc16 | cc17 | cc18 | cc19 | cc20 | cc21 | cc22 | cc23 | cc24 | cc25 | cc26 | cc27 | cc28 | cc29 | cc30 | cc31 | cc32 | cc33 | cc34 | cc35 | cc36 | cc37 | cc38 | cc39 | cc40 | cc41 | cc42 | cc43 | cc44 | cc45 | cc46 | cc47 | cc48 | cc49 | cc50 | cc51 | cc52 | cc53 | cc54 | cc55 | cc56 | cc57 | cc58 | cc59 | cc60 | cc61 | cc62 | cc63 | cc64 | cc65 | cc66 | cc67 | cc68 | cc69 | cc70 | cc71 | cc72 | cc73 | cc74 | cc75 | cc76 | cc77 | cc78 | cc79 | cc80 | cc81 | cc82 | cc83 | cc84 | cc85 | cc86 | cc87 | cc88 | cc89 | cc90 | cc91 | cc92 | cc93 | cc94 | cc95 | cc96 | cc97 | cc98 | cc99)	#IMPLIED
	caveat	(cv01 | cv02 | cv03 | cv04 | cv05 | cv06 | cv07 | cv08 | cv09 | cv10 | cv11 | cv12 | cv13 | cv14 | cv15 | cv16 | cv17 | cv18 | cv19 | cv20 | cv21 | cv22 | cv23 | cv24 | cv25 | cv26 | cv27 | cv28 | cv29 | cv30 | cv31 | cv32 | cv33 | cv34 | cv35 | cv36 | cv37 | cv38 | cv39 | cv40 | cv41 | cv42 | cv43 | cv44 | cv45 | cv46 | cv47 | cv48 | cv49 | cv50 | cv51 | cv52 | cv53 | cv54 | cv55 | cv56 | cv57 | cv58 | cv59 | cv60 | cv61 | cv62 | cv63 | cv64 | cv65 | cv66 | cv67 | cv68 | cv69 | cv70 | cv71 | cv72 | cv73 | cv74 | cv75 | cv76 | cv77 | cv78 | cv79 | cv80 | cv81 | cv82 | cv83 | cv84 | cv85 | cv86 | cv87 | cv88 | cv89 | cv90 | cv91 | cv92 | cv93 | cv94 | cv95 | cv96 | cv97 | cv98 | cv99)	#IMPLIED
>

<!ELEMENT deflist (applic?, title?, ((term, def)+))>
<!ATTLIST deflist
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	class	(01 | 02 | 03 | 04 | 05 | 06 | 07 | 08 | 09 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 50 | 51 | 52 | 53 | 54 | 55 | 56 | 57 | 58 | 59 | 60 | 61 | 62 | 63 | 64 | 65 | 66 | 67 | 68 | 69 | 70 | 71 | 72 | 73 | 74 | 75 | 76 | 77 | 78 | 79 | 80 | 81 | 82 | 83 | 84 | 85 | 86 | 87 | 88 | 89 | 90 | 91 | 92 | 93 | 94 | 95 | 96 | 97 | 98 | 99)	#IMPLIED
	commcls	(cc01 | cc02 | cc03 | cc04 | cc05 | cc06 | cc07 | cc08 | cc09 | cc10 | cc11 | cc12 | cc13 | cc14 | cc15 | cc16 | cc17 | cc18 | cc19 | cc20 | cc21 | cc22 | cc23 | cc24 | cc25 | cc26 | cc27 | cc28 | cc29 | cc30 | cc31 | cc32 | cc33 | cc34 | cc35 | cc36 | cc37 | cc38 | cc39 | cc40 | cc41 | cc42 | cc43 | cc44 | cc45 | cc46 | cc47 | cc48 | cc49 | cc50 | cc51 | cc52 | cc53 | cc54 | cc55 | cc56 | cc57 | cc58 | cc59 | cc60 | cc61 | cc62 | cc63 | cc64 | cc65 | cc66 | cc67 | cc68 | cc69 | cc70 | cc71 | cc72 | cc73 | cc74 | cc75 | cc76 | cc77 | cc78 | cc79 | cc80 | cc81 | cc82 | cc83 | cc84 | cc85 | cc86 | cc87 | cc88 | cc89 | cc90 | cc91 | cc92 | cc93 | cc94 | cc95 | cc96 | cc97 | cc98 | cc99)	#IMPLIED
	caveat	(cv01 | cv02 | cv03 | cv04 | cv05 | cv06 | cv07 | cv08 | cv09 | cv10 | cv11 | cv12 | cv13 | cv14 | cv15 | cv16 | cv17 | cv18 | cv19 | cv20 | cv21 | cv22 | cv23 | cv24 | cv25 | cv26 | cv27 | cv28 | cv29 | cv30 | cv31 | cv32 | cv33 | cv34 | cv35 | cv36 | cv37 | cv38 | cv39 | cv40 | cv41 | cv42 | cv43 | cv44 | cv45 | cv46 | cv47 | cv48 | cv49 | cv50 | cv51 | cv52 | cv53 | cv54 | cv55 | cv56 | cv57 | cv58 | cv59 | cv60 | cv61 | cv62 | cv63 | cv64 | cv65 | cv66 | cv67 | cv68 | cv69 | cv70 | cv71 | cv72 | cv73 | cv74 | cv75 | cv76 | cv77 | cv78 | cv79 | cv80 | cv81 | cv82 | cv83 | cv84 | cv85 | cv86 | cv87 | cv88 | cv89 | cv90 | cv91 | cv92 | cv93 | cv94 | cv95 | cv96 | cv97 | cv98 | cv99)	#IMPLIED
>

<!ELEMENT term (#PCDATA | applic | ein | cb | parasigdata | quantity | xref | indxflag | change | emphasis | symbol | subscrpt | supscrpt | refdm | reftp | ftnote | ftnref | acronym | acroterm)*>
<!ATTLIST term
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT def (#PCDATA | applic | para | ein | cb | parasigdata | quantity | xref | indxflag | change | emphasis | symbol | subscrpt | supscrpt | refdm | reftp | ftnote | ftnref | acronym | acroterm | seqlist | randlist | deflist)*>
<!ATTLIST def
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT polref (#PCDATA)>
<!ATTLIST polref
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT datacond (#PCDATA)>
<!ATTLIST datacond
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT dmsize (#PCDATA)>

<!ELEMENT rpc (#PCDATA)>
<!ATTLIST rpc
	rpcname	CDATA	#IMPLIED
	id	ID	#IMPLIED
>

<!ELEMENT orig (#PCDATA)>
<!ATTLIST orig
	origname	CDATA	#IMPLIED
	id	ID	#IMPLIED
>

<!ELEMENT actref (refdm)>

<!ELEMENT inlineapplics (applic+)>

<!ELEMENT techstd ((autandtp | authblk | tpbase), authex, notes)>

<!ELEMENT autandtp (authblk, tpbase)>

<!ELEMENT authblk (#PCDATA)>

<!ELEMENT tpbase (#PCDATA)>

<!ELEMENT authex (inline?, retrofit?)>

<!ELEMENT inline (exmod*, addmod*)>

<!ELEMENT exmod (#PCDATA)>

<!ELEMENT addmod (#PCDATA)>

<!ELEMENT retrofit (mod+)>

<!ELEMENT mod (modtitle?)>
<!ATTLIST mod
	authno	NMTOKEN	#REQUIRED
	modtype	(pre | post | prandpo)	#REQUIRED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT modtitle (#PCDATA)>

<!ELEMENT notes (#PCDATA)>

<!ELEMENT brexref (refdm)>

<!ELEMENT qa (applic?, (unverif | (firstver, secver?)))>
<!ATTLIST qa
	refapplic	IDREF	#IMPLIED
>

<!ELEMENT unverif EMPTY>

<!ELEMENT firstver EMPTY>
<!ATTLIST firstver
	type	(tabtop | onobject | ttandoo)	#REQUIRED
>

<!ELEMENT secver EMPTY>
<!ATTLIST secver
	type	(tabtop | onobject | ttandoo)	#REQUIRED
>

<!ELEMENT sbc (#PCDATA)>
<!ATTLIST sbc
	id	ID	#IMPLIED
>

<!ELEMENT fic (#PCDATA)>

<!ELEMENT skill EMPTY>
<!ATTLIST skill
	skill	(sk01 | sk02 | sk03 | sk04 | sk05 | sk06 | sk07 | sk08 | sk09 | sk10 | sk11 | sk12 | sk13 | sk14 | sk15 | sk16 | sk17 | sk18 | sk19 | sk20 | sk21 | sk22 | sk23 | sk24 | sk25 | sk26 | sk27 | sk28 | sk29 | sk30 | sk31 | sk32 | sk33 | sk34 | sk35 | sk36 | sk37 | sk38 | sk39 | sk40 | sk41 | sk42 | sk43 | sk44 | sk45 | sk46 | sk47 | sk48 | sk49 | sk50 | sk51 | sk52 | sk53 | sk54 | sk55 | sk56 | sk57 | sk58 | sk59 | sk60 | sk61 | sk62 | sk63 | sk64 | sk65 | sk66 | sk67 | sk68 | sk69 | sk70 | sk71 | sk72 | sk73 | sk74 | sk75 | sk76 | sk77 | sk78 | sk79 | sk80 | sk81 | sk82 | sk83 | sk84 | sk85 | sk86 | sk87 | sk88 | sk89 | sk90 | sk91 | sk92 | sk93 | sk94 | sk95 | sk96 | sk97 | sk98 | sk99)	#REQUIRED
>

<!ELEMENT rfu (#PCDATA | applic | p)*>
<!ATTLIST rfu
	refapplic	IDREF	#IMPLIED
>

<!ELEMENT remarks (#PCDATA | applic | p)*>
<!ATTLIST remarks
	refapplic	IDREF	#IMPLIED
>

<!ELEMENT content (refs?, schedule)>
<!ATTLIST content
	id	ID	#IMPLIED
>

<!ELEMENT schedule (definspec+ | deftask+ | timelim+)>
<!ATTLIST schedule
	type	CDATA	#IMPLIED
>

<!ELEMENT definspec (inspection, tasklist?)>

<!ELEMENT inspection (limit*, remarks*)>
<!ATTLIST inspection
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT limit (sampling?, threshold*, refinspec*, trigger*, limrange*, remarks*)>
<!ATTLIST limit
	typex	(po | ev | pe)	"pe"
	condition	CDATA	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT sampling (#PCDATA)>

<!ELEMENT threshold (value, tolerance?)>
<!ATTLIST threshold
	uom	(th01 | th02 | th03 | th04 | th05 | th06 | th07 | th08 | th09 | th10 | th11 | th12 | th13 | th14 | th15 | th16 | th17 | th18 | th19 | th20 | th21 | th22 | th23 | th24 | th25 | th26 | th27 | th28 | th29 | th30 | th31 | th32 | th33 | th34 | th35 | th36 | th37 | th38 | th39 | th40 | th41 | th42 | th43 | th44 | th45 | th46 | th47 | th48 | th49 | th50 | th51 | th52 | th53 | th54 | th55 | th56 | th57 | th58 | th59 | th60 | th61 | th62 | th63 | th64 | th65 | th66 | th67 | th68 | th69 | th70 | th71 | th72 | th73 | th74 | th75 | th76 | th77 | th78 | th79 | th80 | th81 | th82 | th83 | th84 | th85 | th86 | th87 | th88 | th89 | th90 | th91 | th92 | th93 | th94 | th95 | th96 | th97 | th98 | th99)	#REQUIRED
	tholdtype	(threshold | interval)	#IMPLIED
>

<!ELEMENT value (#PCDATA)>

<!ELEMENT tolerance EMPTY>
<!ATTLIST tolerance
	minus	NMTOKEN	#IMPLIED
	plus	NMTOKEN	#IMPLIED
>

<!ELEMENT refinspec EMPTY>
<!ATTLIST refinspec
	insptype	CDATA	#REQUIRED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT trigger (refs?, threshold*)>
<!ATTLIST trigger
	release	(before | with | after)	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT limrange (from, to?)>

<!ELEMENT from (threshold)>

<!ELEMENT to (threshold)>

<!ELEMENT tasklist (taskitem+)>

<!ELEMENT taskitem (refs?, task?, applic?)>
<!ATTLIST taskitem
	seqnum	CDATA	#REQUIRED
	taskname	CDATA	#REQUIRED
	skill	(sk01 | sk02 | sk03 | sk04 | sk05 | sk06 | sk07 | sk08 | sk09 | sk10 | sk11 | sk12 | sk13 | sk14 | sk15 | sk16 | sk17 | sk18 | sk19 | sk20 | sk21 | sk22 | sk23 | sk24 | sk25 | sk26 | sk27 | sk28 | sk29 | sk30 | sk31 | sk32 | sk33 | sk34 | sk35 | sk36 | sk37 | sk38 | sk39 | sk40 | sk41 | sk42 | sk43 | sk44 | sk45 | sk46 | sk47 | sk48 | sk49 | sk50 | sk51 | sk52 | sk53 | sk54 | sk55 | sk56 | sk57 | sk58 | sk59 | sk60 | sk61 | sk62 | sk63 | sk64 | sk65 | sk66 | sk67 | sk68 | sk69 | sk70 | sk71 | sk72 | sk73 | sk74 | sk75 | sk76 | sk77 | sk78 | sk79 | sk80 | sk81 | sk82 | sk83 | sk84 | sk85 | sk86 | sk87 | sk88 | sk89 | sk90 | sk91 | sk92 | sk93 | sk94 | sk95 | sk96 | sk97 | sk98 | sk99)	#IMPLIED
	id	ID	#IMPLIED
	refapplic	IDREF	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT task (#PCDATA)>

<!ELEMENT deftask (task, reqsource*, prelreqs?, refs?, ((equip | nomen)?), supervis?, limit*, remarks*, applic?)>
<!ATTLIST deftask
	taskid	CDATA	#REQUIRED
	taskcode	(taskcd01 | taskcd02 | taskcd03 | taskcd04 | taskcd05 | taskcd06 | taskcd07 | taskcd08 | taskcd09 | taskcd10 | taskcd11 | taskcd12 | taskcd13 | taskcd14 | taskcd15 | taskcd16 | taskcd17 | taskcd18 | taskcd19 | taskcd20 | taskcd21 | taskcd22 | taskcd23 | taskcd24 | taskcd25 | taskcd26 | taskcd27 | taskcd28 | taskcd29 | taskcd30 | taskcd31 | taskcd32 | taskcd33 | taskcd34 | taskcd35 | taskcd36 | taskcd37 | taskcd38 | taskcd39 | taskcd40 | taskcd41 | taskcd42 | taskcd43 | taskcd44 | taskcd45 | taskcd46 | taskcd47 | taskcd48 | taskcd49 | taskcd50 | taskcd51 | taskcd52 | taskcd53 | taskcd54 | taskcd55 | taskcd56 | taskcd57 | taskcd58 | taskcd59 | taskcd60 | taskcd61 | taskcd62 | taskcd63 | taskcd64 | taskcd65 | taskcd66 | taskcd67 | taskcd68 | taskcd69 | taskcd70 | taskcd71 | taskcd72 | taskcd73 | taskcd74 | taskcd75 | taskcd76 | taskcd77 | taskcd78 | taskcd79 | taskcd80 | taskcd81 | taskcd82 | taskcd83 | taskcd84 | taskcd85 | taskcd86 | taskcd87 | taskcd88 | taskcd89 | taskcd90 | taskcd91 | taskcd92 | taskcd93 | taskcd94 | taskcd95 | taskcd96 | taskcd97 | taskcd98 | taskcd99)	#IMPLIED
	airworthlim	(recommended | mandatory | none)	#IMPLIED
	reducem	CDATA	#IMPLIED
	skill	(sk01 | sk02 | sk03 | sk04 | sk05 | sk06 | sk07 | sk08 | sk09 | sk10 | sk11 | sk12 | sk13 | sk14 | sk15 | sk16 | sk17 | sk18 | sk19 | sk20 | sk21 | sk22 | sk23 | sk24 | sk25 | sk26 | sk27 | sk28 | sk29 | sk30 | sk31 | sk32 | sk33 | sk34 | sk35 | sk36 | sk37 | sk38 | sk39 | sk40 | sk41 | sk42 | sk43 | sk44 | sk45 | sk46 | sk47 | sk48 | sk49 | sk50 | sk51 | sk52 | sk53 | sk54 | sk55 | sk56 | sk57 | sk58 | sk59 | sk60 | sk61 | sk62 | sk63 | sk64 | sk65 | sk66 | sk67 | sk68 | sk69 | sk70 | sk71 | sk72 | sk73 | sk74 | sk75 | sk76 | sk77 | sk78 | sk79 | sk80 | sk81 | sk82 | sk83 | sk84 | sk85 | sk86 | sk87 | sk88 | sk89 | sk90 | sk91 | sk92 | sk93 | sk94 | sk95 | sk96 | sk97 | sk98 | sk99)	#IMPLIED
	skilltype	(st01 | st02 | st03 | st04 | st05 | st06 | st07 | st08 | st09 | st10 | st11 | st12 | st13 | st14 | st15 | st16 | st17 | st18 | st19 | st20 | st21 | st22 | st23 | st24 | st25 | st26 | st27 | st28 | st29 | st30 | st31 | st32 | st33 | st34 | st35 | st36 | st37 | st38 | st39 | st40 | st41 | st42 | st43 | st44 | st45 | st46 | st47 | st48 | st49 | st50 | st51 | st52 | st53 | st54 | st55 | st56 | st57 | st58 | st59 | st60 | st61 | st62 | st63 | st64 | st65 | st66 | st67 | st68 | st69 | st70 | st71 | st72 | st73 | st74 | st75 | st76 | st77 | st78 | st79 | st80 | st81 | st82 | st83 | st84 | st85 | st86 | st87 | st88 | st89 | st90 | st91 | st92 | st93 | st94 | st95 | st96 | st97 | st98 | st99)	#IMPLIED
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT reqsource (issno?, issdate?, fec?)>
<!ATTLIST reqsource
	reqsource	CDATA	#REQUIRED
	sourcenbr	CDATA	#IMPLIED
	approval	CDATA	#IMPLIED
>

<!ELEMENT fec EMPTY>
<!ATTLIST fec
	feccode	CDATA	#REQUIRED
>

<!ELEMENT prelreqs (pmd*, reqconds, reqpers*, supequip, supplies, spares, safety)>

<!ELEMENT pmd (applic?, thi*, zone*, accpnl*, avehcfg?, opndurn?)>
<!ATTLIST pmd
	refapplic	IDREF	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT thi (#PCDATA)>
<!ATTLIST thi
	uom	(th01 | th02 | th03 | th04 | th05 | th06 | th07 | th08 | th09 | th10 | th11 | th12 | th13 | th14 | th15 | th16 | th17 | th18 | th19 | th20 | th21 | th22 | th23 | th24 | th25 | th26 | th27 | th28 | th29 | th30 | th31 | th32 | th33 | th34 | th35 | th36 | th37 | th38 | th39 | th40 | th41 | th42 | th43 | th44 | th45 | th46 | th47 | th48 | th49 | th50 | th51 | th52 | th53 | th54 | th55 | th56 | th57 | th58 | th59 | th60 | th61 | th62 | th63 | th64 | th65 | th66 | th67 | th68 | th69 | th70 | th71 | th72 | th73 | th74 | th75 | th76 | th77 | th78 | th79 | th80 | th81 | th82 | th83 | th84 | th85 | th86 | th87 | th88 | th89 | th90 | th91 | th92 | th93 | th94 | th95 | th96 | th97 | th98 | th99)	#REQUIRED
>

<!ELEMENT zone (nomen?, refs?)>
<!ATTLIST zone
	zonenbr	CDATA	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT accpnl (nomen?, refs?)>
<!ATTLIST accpnl
	accpnlnbr	CDATA	#IMPLIED
	accpnltype	(accpnl01 | accpnl02 | accpnl03 | accpnl04 | accpnl05 | accpnl06 | accpnl07 | accpnl08 | accpnl09 | accpnl10 | accpnl11 | accpnl12 | accpnl13 | accpnl14 | accpnl15 | accpnl16 | accpnl17 | accpnl18 | accpnl19 | accpnl20 | accpnl21 | accpnl22 | accpnl23 | accpnl24 | accpnl25 | accpnl26 | accpnl27 | accpnl28 | accpnl29 | accpnl30 | accpnl31 | accpnl32 | accpnl33 | accpnl34 | accpnl35 | accpnl36 | accpnl37 | accpnl38 | accpnl39 | accpnl40 | accpnl41 | accpnl42 | accpnl43 | accpnl44 | accpnl45 | accpnl46 | accpnl47 | accpnl48 | accpnl49 | accpnl50 | accpnl51 | accpnl52 | accpnl53 | accpnl54 | accpnl55 | accpnl56 | accpnl57 | accpnl58 | accpnl59 | accpnl60 | accpnl61 | accpnl62 | accpnl63 | accpnl64 | accpnl65 | accpnl66 | accpnl67 | accpnl68 | accpnl69 | accpnl70 | accpnl71 | accpnl72 | accpnl73 | accpnl74 | accpnl75 | accpnl76 | accpnl77 | accpnl78 | accpnl79 | accpnl80 | accpnl81 | accpnl82 | accpnl83 | accpnl84 | accpnl85 | accpnl86 | accpnl87 | accpnl88 | accpnl89 | accpnl90 | accpnl91 | accpnl92 | accpnl93 | accpnl94 | accpnl95 | accpnl96 | accpnl97 | accpnl98 | accpnl99)	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT avehcfg (jacked, safedev, elecpwr, hydpwr, airpwr, fuel, water, fcposn)>

<!ELEMENT jacked EMPTY>
<!ATTLIST jacked
	status	(yes | no | indiffer | na)	#REQUIRED
	power	(engine | apu | external | internal | indifferent | notapplic)	#REQUIRED
>

<!ELEMENT safedev EMPTY>
<!ATTLIST safedev
	status	(yes | no | indiffer | na)	#REQUIRED
	power	(engine | apu | external | internal | indifferent | notapplic)	#REQUIRED
>

<!ELEMENT elecpwr EMPTY>
<!ATTLIST elecpwr
	status	(yes | no | indiffer | na)	#REQUIRED
	power	(engine | apu | external | internal | indifferent | notapplic)	#REQUIRED
>

<!ELEMENT hydpwr EMPTY>
<!ATTLIST hydpwr
	status	(yes | no | indiffer | na)	#REQUIRED
	power	(engine | apu | external | internal | indifferent | notapplic)	#REQUIRED
>

<!ELEMENT airpwr EMPTY>
<!ATTLIST airpwr
	status	(yes | no | indiffer | na)	#REQUIRED
	power	(engine | apu | external | internal | indifferent | notapplic)	#REQUIRED
>

<!ELEMENT fuel EMPTY>
<!ATTLIST fuel
	status	(yes | no | indiffer | na)	#REQUIRED
	power	(engine | apu | external | internal | indifferent | notapplic)	#REQUIRED
>

<!ELEMENT water EMPTY>
<!ATTLIST water
	status	(yes | no | indiffer | na)	#REQUIRED
	power	(engine | apu | external | internal | indifferent | notapplic)	#REQUIRED
>

<!ELEMENT fcposn EMPTY>
<!ATTLIST fcposn
	status	(yes | no | indiffer | na)	#REQUIRED
	power	(engine | apu | external | internal | indifferent | notapplic)	#REQUIRED
>

<!ELEMENT opndurn EMPTY>
<!ATTLIST opndurn
	prelreqs	CDATA	#REQUIRED
	proced	CDATA	#REQUIRED
	closeup	CDATA	#REQUIRED
	id	ID	#IMPLIED
>

<!ELEMENT reqconds (noconds | ((reqcond | reqcondm | reqcblst | reqcontp)+))>

<!ELEMENT noconds EMPTY>

<!ELEMENT reqcond (#PCDATA | applic | xref | indxflag | symbol | subscrpt | supscrpt | ftnref | acronym | acroterm)*>
<!ATTLIST reqcond
	refapplic	IDREF	#IMPLIED
>

<!ELEMENT reqcondm (applic?, ((reqcond, refdm)+))>
<!ATTLIST reqcondm
	refapplic	IDREF	#IMPLIED
>

<!ELEMENT reqcblst (applic?, (reqcond, cblst))>
<!ATTLIST reqcblst
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT cblst (applic?, ((cbsublst+)+))>
<!ATTLIST cblst
	refapplic	IDREF	#IMPLIED
	cbaction	(open | close | verif-open | verif-close)	#IMPLIED
	checksum	CDATA	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT cbsublst (applic?, ein*, (cbdata+))>
<!ATTLIST cbsublst
	cbaction	(open | close | verif-open | verif-close)	#IMPLIED
	checksum	CDATA	#IMPLIED
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT cbdata (applic?, cb, nomen, ((xref | accpnl)?), cbloc?)>
<!ATTLIST cbdata
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT cbloc (#PCDATA)>
<!ATTLIST cbloc
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT reqcontp (applic?, ((reqcond, reftp)+))>
<!ATTLIST reqcontp
	refapplic	IDREF	#IMPLIED
>

<!ELEMENT reqpers (applic?, (((asrequir | person), ((perscat, perskill?, trade?, esttime?)?))+))>
<!ATTLIST reqpers
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT asrequir EMPTY>

<!ELEMENT person EMPTY>
<!ATTLIST person
	man	NMTOKEN	#REQUIRED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT perscat EMPTY>
<!ATTLIST perscat
	category	CDATA	#REQUIRED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT perskill EMPTY>
<!ATTLIST perskill
	skill	(sk01 | sk02 | sk03 | sk04 | sk05 | sk06 | sk07 | sk08 | sk09 | sk10 | sk11 | sk12 | sk13 | sk14 | sk15 | sk16 | sk17 | sk18 | sk19 | sk20 | sk21 | sk22 | sk23 | sk24 | sk25 | sk26 | sk27 | sk28 | sk29 | sk30 | sk31 | sk32 | sk33 | sk34 | sk35 | sk36 | sk37 | sk38 | sk39 | sk40 | sk41 | sk42 | sk43 | sk44 | sk45 | sk46 | sk47 | sk48 | sk49 | sk50 | sk51 | sk52 | sk53 | sk54 | sk55 | sk56 | sk57 | sk58 | sk59 | sk60 | sk61 | sk62 | sk63 | sk64 | sk65 | sk66 | sk67 | sk68 | sk69 | sk70 | sk71 | sk72 | sk73 | sk74 | sk75 | sk76 | sk77 | sk78 | sk79 | sk80 | sk81 | sk82 | sk83 | sk84 | sk85 | sk86 | sk87 | sk88 | sk89 | sk90 | sk91 | sk92 | sk93 | sk94 | sk95 | sk96 | sk97 | sk98 | sk99)	#REQUIRED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT trade (#PCDATA)>
<!ATTLIST trade
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT esttime (#PCDATA)>
<!ATTLIST esttime
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT supequip (nosupeq | supeqli)>

<!ELEMENT nosupeq EMPTY>

<!ELEMENT supeqli (supequi+)>

<!ELEMENT supequi (applic?, nomen?, (((csnref | nsn | identno | tool), refs?)+), qty, remarks?)>
<!ATTLIST supequi
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT csnref EMPTY>
<!ATTLIST csnref
	refcsn	CDATA	#REQUIRED
	refisn	CDATA	#IMPLIED
	refipp	CDATA	#IMPLIED
	refrpc	CDATA	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
	%XLINKATT2;
>

<!ELEMENT nsn EMPTY>
<!ATTLIST nsn
	nsn	CDATA	#IMPLIED
	nsc	NMTOKEN	#IMPLIED
	ncb	NMTOKEN	#IMPLIED
	nin3to9	NMTOKEN	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT identno (mfc, ((pnr, serialno*)*))>
<!ATTLIST identno
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT mfc (#PCDATA)>
<!ATTLIST mfc
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT pnr (#PCDATA)>
<!ATTLIST pnr
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT serialno ((single | range)+)>

<!ELEMENT single (#PCDATA)>

<!ELEMENT range EMPTY>
<!ATTLIST range
	from	CDATA	#REQUIRED
	to	CDATA	#REQUIRED
>

<!ELEMENT tool (refs?)>
<!ATTLIST tool
	toolnbr	CDATA	#REQUIRED
	mfc	CDATA	#IMPLIED
	specific	NMTOKEN	"1"
	alternate	NMTOKEN	"0"
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT qty (#PCDATA)>
<!ATTLIST qty
	uom	CDATA	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT supplies (nosupply | supplyli)>

<!ELEMENT nosupply EMPTY>

<!ELEMENT supplyli (supply+)>

<!ELEMENT supply (applic?, nomen?, (((csnref | nsn | identno | con), refs?)+), qty, remarks?)>
<!ATTLIST supply
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT con (refs?)>
<!ATTLIST con
	connbr	CDATA	#REQUIRED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT spares (nospares | sparesli)>

<!ELEMENT nospares EMPTY>

<!ELEMENT sparesli (spare+)>

<!ELEMENT spare (applic?, nomen?, (((csnref | nsn | identno | ein), refs?)+), qty, remarks?)>
<!ATTLIST spare
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT safety (nosafety | safecond)>

<!ELEMENT nosafety EMPTY>

<!ELEMENT safecond ((warning*, caution*), note*)>
<!ATTLIST safecond
	id	ID	#IMPLIED
>

<!ELEMENT warning (applic?, ((symbol | para | (seqlist | randlist | deflist))+))>
<!ATTLIST warning
	type	CDATA	#IMPLIED
	xrefid	IDREF	#IMPLIED
	vital	NMTOKEN	#IMPLIED
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT caution (applic?, ((symbol | para | (seqlist | randlist | deflist))+))>
<!ATTLIST caution
	type	CDATA	#IMPLIED
	xrefid	IDREF	#IMPLIED
	refapplic	IDREF	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
	authname	CDATA	#IMPLIED
	authdoc	CDATA	#IMPLIED
>

<!ELEMENT equip ((nomen, nsn?, ((identno | csnref)+))+)>
<!ATTLIST equip
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT supervis EMPTY>
<!ATTLIST supervis
	sup.lev	(sl01 | sl02 | sl03 | sl04 | sl05 | sl06 | sl07 | sl08 | sl09 | sl10 | sl11 | sl12 | sl13 | sl14 | sl15 | sl16 | sl17 | sl18 | sl19 | sl20 | sl21 | sl22 | sl23 | sl24 | sl25 | sl26 | sl27 | sl28 | sl29 | sl30 | sl31 | sl32 | sl33 | sl34 | sl35 | sl36 | sl37 | sl38 | sl39 | sl40 | sl41 | sl42 | sl43 | sl44 | sl45 | sl46 | sl47 | sl48 | sl49 | sl50 | sl51 | sl52 | sl53 | sl54 | sl55 | sl56 | sl57 | sl58 | sl59 | sl60 | sl61 | sl62 | sl63 | sl64 | sl65 | sl66 | sl67 | sl68 | sl69 | sl70 | sl71 | sl72 | sl73 | sl74 | sl75 | sl76 | sl77 | sl78 | sl79 | sl80 | sl81 | sl82 | sl83 | sl84 | sl85 | sl86 | sl87 | sl88 | sl89 | sl90 | sl91 | sl92 | sl93 | sl94 | sl95 | sl96 | sl97 | sl98 | sl99)	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT timelim (equip, qty?, cat?, timelimit+, applic?)>
<!ATTLIST timelim
	identifier	CDATA	#REQUIRED
	skill	(sk01 | sk02 | sk03 | sk04 | sk05 | sk06 | sk07 | sk08 | sk09 | sk10 | sk11 | sk12 | sk13 | sk14 | sk15 | sk16 | sk17 | sk18 | sk19 | sk20 | sk21 | sk22 | sk23 | sk24 | sk25 | sk26 | sk27 | sk28 | sk29 | sk30 | sk31 | sk32 | sk33 | sk34 | sk35 | sk36 | sk37 | sk38 | sk39 | sk40 | sk41 | sk42 | sk43 | sk44 | sk45 | sk46 | sk47 | sk48 | sk49 | sk50 | sk51 | sk52 | sk53 | sk54 | sk55 | sk56 | sk57 | sk58 | sk59 | sk60 | sk61 | sk62 | sk63 | sk64 | sk65 | sk66 | sk67 | sk68 | sk69 | sk70 | sk71 | sk72 | sk73 | sk74 | sk75 | sk76 | sk77 | sk78 | sk79 | sk80 | sk81 | sk82 | sk83 | sk84 | sk85 | sk86 | sk87 | sk88 | sk89 | sk90 | sk91 | sk92 | sk93 | sk94 | sk95 | sk96 | sk97 | sk98 | sk99)	#IMPLIED
	refapplic	IDREF	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT cat EMPTY>
<!ATTLIST cat
	cat	(1 | 2)	"1"
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>

<!ELEMENT timelimit (limittype+ | remarks*)>

<!ELEMENT limittype (threshold+, remarks*)>
<!ATTLIST limittype
	type	(lt01 | lt02 | lt03 | lt04 | lt05 | lt06 | lt07 | lt08 | lt09 | lt10 | lt11 | lt12 | lt13 | lt14 | lt15 | lt16 | lt17 | lt18 | lt19 | lt20 | lt21 | lt22 | lt23 | lt24 | lt25 | lt26 | lt27 | lt28 | lt29 | lt30 | lt31 | lt32 | lt33 | lt34 | lt35 | lt36 | lt37 | lt38 | lt39 | lt40 | lt41 | lt42 | lt43 | lt44 | lt45 | lt46 | lt47 | lt48 | lt49 | lt50 | lt51 | lt52 | lt53 | lt54 | lt55 | lt56 | lt57 | lt58 | lt59 | lt60 | lt61 | lt62 | lt63 | lt64 | lt65 | lt66 | lt67 | lt68 | lt69 | lt70 | lt71 | lt72 | lt73 | lt74 | lt75 | lt76 | lt77 | lt78 | lt79 | lt80 | lt81 | lt82 | lt83 | lt84 | lt85 | lt86 | lt87 | lt88 | lt89 | lt90 | lt91 | lt92 | lt93 | lt94 | lt95 | lt96 | lt97 | lt98 | lt99)	#IMPLIED
	id	ID	#IMPLIED
	level	NMTOKEN	#IMPLIED
	mark	NMTOKEN	#IMPLIED
	change	(add | delete | modify)	#IMPLIED
	rfc	CDATA	#IMPLIED
>
